<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard-bread.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content-b">
        <h:form>

            <div class="container2 img-grande">
                <img src="../resources/img/ficha_hipotecas_small.jpg"></img>
            </div>

            <div class="container2 img-pequeno">
                <img src="../resources/img/ficha_producto_pequeno.jpg"></img>
            </div>

            <div class="container2">

                <div class="contenido-flotante" id="contenidoFlotanteLargo">
                    <div class="texto-flotante">
                        <div class="col-lg-2 icono-atras"><a href="remodelacion"><img src="../resources/img/volver.png" /><span style="color: white;">volver</span></a></div>
                        <div class="col-lg-10 titulo-pag-fichas titulo-largo" style="font-size: 30px;" id="titulo-largo">Colombianos en el Exterior - Remodelación</div>

                        <div class="col-lg-offset-2 col-lg-10  descripcion-pag-fichas" style="top: 30px;">Mejora y remodela tu vivienda nueva o usada de Colombia desde el exterior con los préstamos para vivienda BBVA.</div>
                        <div class="col-lg-offset-2 col-lg-10 descripcion-pag-fichas-peq">Mejora y remodela tu vivienda nueva o usada de Colombia desde el exterior con los préstamos para vivienda BBVA.</div>
                    </div>
                </div>
            </div>

            <!--contenido-->
            <div class="desktop">
                <div id="ContenidoPestana" class="row">
                    <div class="tab-content">

                        <div class="row hipotecas-azul">
                            <div class="container">
                                <div class="row">

                                    <div class="desktop">
                                        <div class="col-lg-5 hipotecas-azul">
                                            <div class="padding">

                                                <h2 class="h2Title4">Beneficios</h2>

                                                <div class="">
                                                    <ul class="hipotecas-fin-texto3">
                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Como colombiano residente en el exterior en país autorizado <a href="../resources/files/BBVA_Listado_de_Paises.pdf" target="_blank">(ver países autorizados)</a>, puedes  remodelar tu vivienda en Colombia sin desplazarte nombrando un apoderado.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Puedes elegir el día del mes en que deseas pagar la cuota de tu crédito.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                BBVA permite la consolidación de ingresos familiares entre cónyuges, padres con hijos solteros y entre hermanos solteros.  Estos con el fin de generar mayor capacidad de pago para acceder a la vivienda que se pretende financiar.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Cuentas con 180 días para el desembolso de tu crédito desde su aprobación.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Puedes solicitar el débito automático del valor de la cuota de tu crédito al tener una cuenta de ahorros, cuenta corriente o cuenta AFC en BBVA (para cuentas AFC aplica hasta 4 solicitantes, es decir máximo 4 cuentas).	
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Puedes pagar tus cuotas desde cuentas de otros bancos mediante pagos con PSE. <a href="../resources/files/BBVA_Listado_de_Bancos.pdf">Ver listado de bancos con débito automático.</a>
                                                            </span>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="listaInt" class="col-lg-7 hipotecas-blanco">

                                            <div class="padding">

                                                <h2 class="h2Title3">Características</h2>

                                                <!-- desktop -->
                                                <div class="desktop">

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/dinero.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Valor del inmueble </h4>
                                                            <span id="text">Desde 135 SMMLV en adelante.</span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/dineroP.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Porcentaje máximo a financiar</h4>
                                                            <span id="text">El saldo de las obligaciones vinculadas a tu inmueble más el crédito de  remodelación 
                                                                no podrá superar el 70% del valor Comercial del inmueble. Cuando no existan obligaciones vinculadas 
                                                                al inmueble, el desembolso del crédito de remodelación no podrá superar el 70% del valor comercial del inmueble 
                                                                para asalariados y 50% para independientes.</span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/text.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Valor mínimo a solicitar</h4>
                                                            <span id="text"> Desde quince millones ($15.000.000).</span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/cal.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Plazo del préstamo</h4>
                                                            <span id="text">Desde 5 y hasta 10 años.</span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/porc.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Plan de amortización <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Número de cuotas a pagar por tu crédito al año.">
                                                                    <img src="../resources/img/iconoi.png" />
                                                                </a></h4>
                                                            <span id="text">12 cuotas al año.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End desktop -->


                                                <div id="textCaracteristicas">
                                                    <h4 class="h4Title">Sistema de Amortización</h4>                                                
                                                    <p><strong>Cuota constante en pesos:</strong> Es un sistema en que la cuota mensual es fija en pesos por todo el plazo del crédito. en consecuencia las cuotas no varían durante la vigencia de la obligación (a dicha cuota se le adicionan los seguros). Bajo este sistema el saldo de la deuda disminuye desde el primer pago, pero en menor proporción debido a que el abono a capital es menor.</p>

                                                    <h4 class="h4Title">Tasa de interés</h4>
                                                    <p>La tasa de interés es fija durante la vigencia del crédito. La tasa aplicada es la indicada al momento del desembolso, la cual es personalizada después de estudiar la información que nos suministres de acuerdo a políticas de BBVA.</p>

                                                    <h4 class="h4Title">Restricción a la Primera Cuota</h4>
                                                    <p>La primera cuota del préstamo no podrá superar el 30% del total de los ingresos personales o familiares.</p>

                                                    <h4 class="h4Title">Seguros vinculados al crédito</h4>
                                                    <p>Seguro de vida deudores. <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Por ley, todos los préstamos deben ser respaldados con un seguro de vida que cancele la deuda en caso de muerte o incapacidad total y permanente del deudor.">
                                                            <img src="../resources/img/iconoi.png" />
                                                        </a></p>
                                                    <p>Seguro de incendio y terremoto. <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Por ley, los créditos de vivienda deben cubrir el inmueble mediante un seguro el cual responderá en caso de incendio o terremoto.">
                                                            <img src="../resources/img/iconoi.png" />
                                                        </a></p>

                                                    <h4 class="h4Title">Garantías requeridas</h4>
                                                    <p>Hipoteca abierta y sin límite de cuantía en primer grado<a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Es de primer grado la hipoteca cuya fecha de inscripción en la Oficina de Registro e Instrumentos Públicos, sea más antigua. Por tanto, la vivienda financiada no debe poseer otra hipoteca vigente.">
                                                            <img src="../resources/img/iconoi.png" />
                                                        </a> a favor de BBVA y firma de pagaré de los deudores.</p>

                                                </div>

                                            </div>
                                        </div>
                                        <div id="listaInt-dos" style="display: none" class="col-lg-7 hipotecas-blanco"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Pestana blanca fin-->
                        <div class="desktop">
                            <div class="container">
                                <div id="pestDown" class="row">
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-7 hipotecas-blanco pestInf"></div>
                                </div>
                            </div>
                        </div>


                        <div class="desktop">
                            <div class="row margenes2">

                                <h2 class="h2Title text-center">Requisitos</h2>

                                <div class="container">
                                    <div class="col-md-6 padding-recuerda">
                                        <p class="hipotecas-fin-texto4">
                                            Para solicitar un crédito hipotecario para residentes en el exterior, es necesario que cumplas con el siguiente perfil:
                                        </p>

                                        <ul class="hipotecas-fin-texto2">
                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/chuloBlanco.PNG"/>
                                                <span>
                                                    Estos productos están dirigidos a personas entre los 18 y 74 años de edad con ingresos mensuales. Adicionalmente, por políticas de BBVA, la edad del mayor de los solicitantes más el plazo del crédito no puede ser superior a 90 años.
                                                </span>
                                            </li>

                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/chuloBlanco.PNG"/>
                                                <span>
                                                    Colombianos residentes en el exterior con situación migratoria definida.
                                                </span>
                                            </li>

                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/chuloBlanco.PNG"/>
                                                <span>
                                                    Con contrato laboral en país de residencia.
                                                </span>
                                            </li>

                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/chuloBlanco.PNG"/>
                                                <span>
                                                    Que requieran de financiación para mejorar, reparar o remodelar su vivienda nueva o usada en Colombia.
                                                </span>
                                            </li>

                                        </ul>

                                    </div>

                                    <div class="col-lg-6 col-md-6 ">
                                        <p class="hipotecas-fin-texto4">
                                            Para solicitarlo, es necesario que hagas entrega de los siguientes documentos a tu Asesor Comercial asignado:
                                        </p>



                                        <ul class="hipotecas-fin-texto2">
                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/periodico.png"/>
                                                <span>
                                                    Formulario de vinculación y contratación de productos Persona Natural.
                                                </span>
                                            </li>

                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/periodico.png"/>
                                                <span>
                                                    Fotocopia de la cédula de ciudadanía ampliada al 150%.
                                                </span>
                                            </li>

                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/periodico.png"/>
                                                <span>
                                                    Documentos soporte de tus ingresos individuales o familiares de acuerdo a la actividad económica.						
                                                </span>
                                            </li>
                                            <a href="remodelacion#3" style="font-size: 14px;">Ver detalle de documentos ></a>
                                            <br></br>
                                            <br></br>
                                        </ul>
                                        <p class="hipotecas-fin-texto6">
                                            Tu Asesor Comercial te informará si es necesario adicionar algún otro documento para el estudio de crédito.
                                        </p>
                                    </div>
                                </div>

                                <div class="background-blue-opacity">
                                    <div class="container">
                                        <div class="row espacio-recuerda">
                                            <div class="col-md-6 padding-recuerda">
                                                <img src="../resources/img/libreta1.PNG"/>
                                                <h2 class="h2Title3">
                                                    ¡Recuerda!
                                                </h2>
                                                <p class="hipotecas-fin-texto4">La aprobación del crédito y las condiciones del mismo dependerán del estudio y verificación que realiza el banco de los documentos que aportas.</p>
                                                <p class="hipotecas-fin-texto6">Los seguros vinculados al crédito hipotecario podrán ser contratados a través del banco o con una aseguradora autorizada por la Superintendencia Financiera de Colombia.</p>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <p class="hipotecas-fin-texto6">Las condiciones de tu crédito pueden variar si:</p>
                                                <ul class="hipotecas-fin-texto2">
                                                    <li>
                                                        <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Existe cambio en las condiciones de la solicitud inicial, por ejemplo, aumento de monto solicitado o del plazo.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Transcurridos 180 días desde la aprobación no se ha realizado el desembolso, en cuyo caso, deberás actualizar nuevamente la documentación. 
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Tus condiciones financieras cambian.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Si actualmente cuentas con un crédito hipotecario y deseas solicitar un crédito de remodelación bajo la misma garantía, no deberás pagar un nuevo seguro de incendio y terremoto. Sin embargo, y a la hora de cancelar el crédito inicial, el crédito de remodelación mantendrá el seguro de incendio y terremoto.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Los titulares del crédito de remodelación de vivienda deben ser los mismos propietarios del inmueble, según certificado de tradición y libertad. 
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!--Mobile-->
            <div class="mobile">
                <footer class="body-footer">
                    <div class="footer-menu" style="border: none; margin-bottom: 55px">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="menu-trigger" data-target="#contacto-submenuA" style="background-color:#0059b0; border:0px; font-size:20px ">Beneficios</div>
                                    <div id="contacto-submenuA">
                                        <div class="contAcordmobile4" style="background-color: #0059b0;">

                                            <ul class="paddSide">
                                                <li class="option">
                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                    <div class="light-color-white poscTextLista" >
                                                        <span>
                                                            Como colombiano residente en el exterior en país autorizado <a href="../resources/files/BBVA_Listado_de_Paises.pdf" target="_blank">(ver países autorizados)</a>, puedes  remodelar tu vivienda en Colombia sin desplazarte nombrando un apoderado.
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="option">
                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                    <div class="light-color-white poscTextLista" >
                                                        <span>
                                                            Puedes elegir el día del mes en que deseas pagar la cuota de tu crédito.
                                                        </span>
                                                    </div>
                                                </li>

                                                <li class="option">
                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                    <div class="light-color-white poscTextLista">
                                                        <span>
                                                            BBVA permite la consolidación de ingresos familiares entre cónyuges, padres con hijos solteros y entre hermanos solteros.  Estos con el fin de generar mayor capacidad de pago para acceder a la vivienda que se pretende financiar.
                                                        </span>
                                                    </div>
                                                </li>

                                                <li class="option">
                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                    <div class="light-color-white poscTextLista">
                                                        <span>
                                                            Cuentas con 180 días para el desembolso de tu crédito desde su aprobación.
                                                        </span>
                                                    </div>
                                                </li>

                                                <li class="option">
                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                    <div class="light-color-white poscTextLista">
                                                        <span>
                                                            Puedes solicitar el débito automático del valor de la cuota de tu crédito al tener una cuenta de ahorros, cuenta corriente o cuenta AFC en BBVA (para cuentas AFC aplica hasta 4 solicitantes, es decir máximo 4 cuentas).	
                                                        </span>
                                                    </div>
                                                </li>

                                                <li class="option">
                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                    <div class="light-color-white poscTextLista">
                                                        <span>
                                                            Puedes pagar tus cuotas desde cuentas de otros bancos mediante pagos con PSE. <a href="../resources/files/BBVA_Listado_de_Bancos.pdf">Ver listado de bancos con débito automático.</a>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="menu-trigger arrow-down" data-target="#informacion-corporativa-submenuD" style="background-color:#fff; color: #0059b0; border:0px; font-size:20px; border-bottom: 1px solid lightgray ">Características</div>
                                    <div id="informacion-corporativa-submenuD">
                                        <div class="contAcordmobileWhite">

                                            <!--Carrusel Movil-->
                                            <div class="col-md-4">
                                                <table>
                                                    <tr>
                                                        <td style="height: 220px;vertical-align: top; background: white;">
                                                            <!-- Carousel
                                                            ================================================== -->
                                                            <div id="myCarousel" class="carousel slide">

                                                                <div class="carousel-inner">
                                                                    <div class="item active" style="text-align: center;">
                                                                        <!-- imagenes carrusel mobile -->
                                                                        <div class="row">
                                                                            <div>
                                                                                <img src="../resources/img/Iconos/dinero.png" alt="Slide1"/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Valor del Inmueble</h4>
                                                                            <span id="text">Desde 135 SMMLV en adelante.</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/dineroP.png" alt="Slide2"/>
                                                                        </div>
                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Porcentaje máximo a financiar</h4>
                                                                            <span id="text">El saldo de las obligaciones vinculadas a tu inmueble más el crédito de  remodelación 
                                                                                no podrá superar el 70% del valor Comercial del inmueble. Cuando no existan obligaciones vinculadas 
                                                                                al inmueble, el desembolso del crédito de remodelación no podrá superar el 70% del valor comercial del inmueble 
                                                                                para asalariados y 50% para independientes.</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/text.png" alt="Slide3"/>
                                                                        </div>
                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Valor mínimo a solicitar</h4>
                                                                            <span id="text"> Desde quince millones ($15.000.000).</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/cal.png" alt="Slide4"/>
                                                                        </div>
                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Plazo del préstamo</h4>
                                                                            <span id="text">Desde 5 y hasta 10 años.</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/porc.png" alt="Slide5"/>
                                                                        </div>

                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Plan de amortización
                                                                                <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua">
                                                                                    <img src="../resources/img/iconoi.png" />
                                                                                </a>
                                                                            </h4>
                                                                            <span id="text">12 cuotas al año.</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- End Carousel -->
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="background: white;">
                                                            <!-- Indicators -->
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col-lg-12 text-center" style="padding-left: 30px;">
                                                                        <ol class="carousel-indicators" style="height: 40px;width: 100%; background: white;">
                                                                            <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
                                                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                                                            <li data-target="#myCarousel" data-slide-to="4"></li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!--Fin Carrusel Movil-->

                                            <div id="textCaracteristicas">
                                                <h4 class="h4Title">Sistema de Amortización</h4>                                                
                                                <p><strong>Cuota constante en pesos:</strong> Es un sistema en que la cuota mensual es fija en pesos por todo el plazo del crédito, en consecuencia las cuotas no varían durante la vigencia de la obligación (a dicha cuota se le adicionan los seguros). Bajo este sistema el saldo de la deuda disminuye desde el primer pago, pero en menor proporción debido a que el abono a capital es menor.</p>

                                                <h4 class="h4Title">Tasa de interés</h4>
                                                <p>La tasa de interés es fija durante la vigencia del crédito. La tasa aplicada es la indicada al momento del desembolso, la cual es personalizada después de estudiar la información que nos suministres de acuerdo a políticas de BBVA.</p>

                                                <h4 class="h4Title">Restricción a la Primera Cuota</h4>
                                                <p>La primera cuota del préstamo no podrá superar el 30% del total de los ingresos personales o familiares.</p>

                                                <h4 class="h4Title">Seguros vinculados al crédito</h4>
                                                <p>Seguro de vida deudores.</p>
                                                <p>Seguro de incendio y terremoto.</p>

                                                <h4 class="h4Title">Garantías requeridas</h4>
                                                <p>Hipoteca abierta y sin límite de cuantía en primer grado<a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Es de primer grado la hipoteca cuya fecha de inscripción en la Oficina de Registro e Instrumentos Públicos, sea más antigua. Por tanto, la vivienda financiada no debe poseer otra hipoteca vigente.">
                                                        <img src="../resources/img/iconoi.png" />
                                                    </a> a favor de BBVA y firma de pagaré de los deudores.</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="menu-trigger" data-target="#informacion-general-submenuE" style="background-color:#fff; color: #0059b0; border:0px; font-size:20px; border-bottom: 1px solid lightgrey">Requisitos para solicitar tu crédito hipotecario</div>
                                    <div id="informacion-general-submenuE">
                                        <div class="contAcordmobileWhite">
                                            <div class="col-lg-6 col-md-6">
                                                <p class="hipotecas-fin-texto4">
                                                    Para solicitarlo, es necesario que cumplas con los requisitos de perfil:
                                                </p>

                                                <ul class="hipotecas-fin-texto2">
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                        <span>
                                                            Estos productos están dirigidos a personas entre los 18 y 74 años de edad con ingresos mensuales. Adicionalmente, por políticas de BBVA, la edad del mayor de los solicitantes más el plazo del crédito no puede ser superior a 90 años.
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                        <span>
                                                            Colombianos residentes en el exterior con situación migratoria definida.	
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                        <span>
                                                            Con contrato laboral en país de residencia
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                        <span>
                                                            Que requieran de financiación para mejorar, reparar o remodelar su vivienda nueva o usada en Colombia. 
                                                        </span>
                                                    </li>

                                                </ul>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <p class="hipotecas-fin-texto4">
                                                    Para solicitarlo, es necesario que hagas entrega de los siguientes documentos a tu Asesor Comercial asignado:
                                                </p>

                                                <ul class="hipotecas-fin-texto2">
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/periodico.png"/>
                                                        <span>
                                                            Formulario de vinculación y contratación de productos Persona Natural.
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/periodico.png"/>
                                                        <span>
                                                            Fotocopia de la cédula de ciudadanía ampliada al 150%.
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/periodico.png"/>
                                                        <span>
                                                            Documentos soporte de tus ingresos individuales o familiares de acuerdo a la actividad económica.
                                                        </span>
                                                    </li>
                                                    <a href="remodelacion#3" style="font-size: 14px;">Ver detalle de documentos ></a>
                                                    <br></br>
                                                    <br></br>
                                                </ul>
                                                <p class="hipotecas-fin-texto6">
                                                    Tu asesor comercial te informará si es necesario adicionar algún otro documento para el estudio de crédito.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="menu-trigger" data-target="#informacion-general-submenuRe" style="background-color:#fff; color: #0059b0; border:0px; font-size:20px; border-bottom: 1px solid lightgrey">¡Recuerda!</div>
                                    <div id="informacion-general-submenuRe">
                                        <div class="contAcordmobileWhite">
                                            <div class="col-lg-6 col-md-6">
                                                <p class="hipotecas-fin-texto4">La aprobación del crédito y las condiciones del mismo dependerán del estudio y verificación que realiza el banco de los documentos que aportas.</p>
                                                <p class="hipotecas-fin-texto6">Los seguros vinculados al crédito hipotecario podrán ser contratados a través del banco o con una aseguradora autorizada por la Superintendencia Financiera de Colombia.</p>
                                                <p class="hipotecas-fin-texto6">Las condiciones de tu crédito pueden variar si:</p>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="hipotecas-fin-texto2">
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Existe cambio en las condiciones de la solicitud inicial, por ejemplo, aumento de monto solicitado o del plazo.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Transcurridos 180 días desde la aprobación no se ha realizado el desembolso, en cuyo caso, deberás actualizar nuevamente la documentación. 
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Tus condiciones financieras cambian.
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="hipotecas-fin-texto2">
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Si actualmente cuentas con un crédito hipotecario y deseas solicitar un crédito de remodelación bajo la misma garantía, no deberás pagar un nuevo seguro de incendio y terremoto. Sin embargo, y a la hora de cancelar el crédito inicial, el crédito de remodelación mantendrá el seguro de incendio y terremoto. 
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Los titulares del crédito de remodelación de vivienda deben ser los mismos propietarios del inmueble, según certificado de tradición y libertad. 
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- fin mobile-->


            <!--Botones-->

            <div class="row text-center">
                <div class="container">
                    <div class="btn-group btn-group-justified">
                        <div class="col-lg-12 clearfix">
                            <button type="button" class="btn header-btn btn success boton" style="margin:0px">Calcula y solicita ya tu crédito</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div id="norma" class="col-lg-6 col-lg-offset-3 text-center">
                        En BBVA velamos por la transparencia en la información que te ofrecemos. Recuerda que esta documentación será necesaria para la aprobación de tu crédito de vivienda, para la posterior legalización es necesario aportar más documentos tales como: certificados de tradición y libertad, escrituras, etc. Nuestros Asesores comerciales están en capacidad de  asesorarte y acompañarte durante este proceso.
                    </div>
                </div>
            </div>

            <div id="lineRow"></div>

            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery-1.12.0.min.js"/>
            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/bootstrap.min.js"/>


            <!-- Fin Contenido -->
        </h:form>
    </ui:define>
</ui:composition>