<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/layouts/standard-bread.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
   
    <ui:define name="content-b">
        <div class="altura-base">
            <div class="container-fluid">
                <p class="text-center tituloPrincipalAprobacion">Pre-aprobación de crédito hipotecario.</p>
                <br/>
                <div class="margen-wizard-superior"></div>
                
                <div class="row"> 
                    <div class="col-md-offset-2 col-md-8"> 
                        <ul class="progress-indicator">    
                            <li class="completed">
                                <span class="bubble3"></span>
                                <p class="progress-tittle hidden-xs">Datos Iniciales</p>
                            </li>
                            <li class="completed">
                                <span class="bubble3"></span>
                                <p class="progress-tittle hidden-xs">Detalle de Crédito</p>
                            </li>
                            <li class="completed">
                                <span class="bubble3"></span>
                                <p class="progress-tittle">Datos del Solicitante</p>
                            </li>
                            <li>
                                <span class="bubble3"></span>
                                <p class="progress-tittle hidden-xs">Resultado de tu pre-aprobación</p>
                            </li>
                        </ul>
                    </div> 
                </div>
                <div class="contenedor">
                    <div class="subcontenedor-preAprobacion"> 
                        <div class="row">
                            <h:form id="formularioPreguntas">
                                <p:growl id="growl" />
                                <div class="col-md-9 col-xs-12">
                                    <h1 class="text-center text-verificar">
                                        Ayúdanos a verificar tu identidad
                                    </h1>
                                    <p class="text-responde">
                                        Responde estas cinco preguntas que nos ayudaran a verificar tu identidad.
                                    </p>

                                    <h:panelGroup layout="block" styleClass="row bordes-preAprobacion" rendered="#{!vistaPre.finalizado}">
                                        <div class="col-md-2 fondo-preguntas hidden-xs">
                                            <ul class="progress-indicator nocenter stacked" style="margin: 50px 0px 50px 0px;text-transform: none;">
                                                <li class="completed" style="height: 290px;">
                                                    <a href="#">
                                                        <span class="bubble"></span>
                                                        <span class="stacked-text ajuste-texto-indicador" >
                                                            <span class="texto-indicador">Pregunta 1</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="completed">
                                                    <span class="bubble"></span>
                                                    <span class="stacked-text ajuste-texto-indicador">
                                                        <span class="texto-indicador">2</span>
                                                    </span>
                                                </li>
                                                <li class="completed">
                                                    <span class="bubble"></span>
                                                    <span class="stacked-text ajuste-texto-indicador">
                                                        <span class="texto-indicador">3</span>
                                                    </span>
                                                </li>
                                                 <li class="completed">
                                                    <a href="#">
                                                        <span class="bubble"></span>
                                                        <span class="stacked-text ajuste-texto-indicador">
                                                            <span class="texto-indicador">4</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                 <li class="completed">
                                                    <a href="#">
                                                        <span class="bubble2"></span>
                                                         <span class="stacked-text ajuste-texto-indicador">
                                                            <span class="texto-indicador">5</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <h:panelGroup id="panelPreguntas" layout="block" class="col-md-10">
                                            <h4 class="text-center titulos-pregunta"> PREGUNTA #{vistaPre.indice} DE 5 </h4>
                                            <p class="text-center pregunt-descripcion" ><b>#{vistaPre.textoActual}</b></p>

                                            <hr class="textura-hr hidden-xs"></hr>
                                            <div class="respuestas">
                                                <p:outputPanel id="customPanel" style="margin-bottom:10px">
                                                    <p:selectOneRadio id="customRadio" value="#{vistaPre.preguntaActual.respuestaSeleccionada}" layout="custom" required="#{true}" requiredMessage="Debe seleccionar unas de las respuestas para la pregunta" >
                                                        <f:selectItems value="#{vistaPre.preguntaActual.respuestas}" var="resp" itemLabel="#{resp.texto}" itemValue="#{resp.idRespuesta}" />
                                                    </p:selectOneRadio>

                                                    <div class="respuestas-numeros">
                                                        <c:forEach items="#{vistaPre.preguntaActual.respuestas}" var="item" varStatus="loop">
                                                            <div class="margen-texto-radio">
                                                                <p:radioButton id="opt#{loop.index}" styleClass="clase-radio radio-hover-icono" for="customRadio" itemIndex="#{loop.index}"></p:radioButton>
                                                                <h:outputText styleClass="texto-radio-buton"  value="#{item.texto}" />
                                                            </div>
                                                        </c:forEach>
                                                    </div>
                                                </p:outputPanel>

                                                <div class="form-boton">
                                                    <p:commandButton  styleClass="boton-siguiente" value="Siguiente ▼" action="continuar" update="panelPreguntas growl" id="withIcon2" rendered="#{!vistaPre.ultima}"/>
                                                    <p:commandButton value="Enviar" styleClass="boton-siguiente" action="validar" update="@form" rendered="#{vistaPre.ultima}" />
                                                </div>
                                            </div>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" rendered="#{vistaPre.finalizado}" >
                                        <h1>Felicitaciones</h1>
                                        <p class="text-responde">Sus datos se han validado correctamente! Pronto un asesor se contactará con usted. Adelante!!</p>
                                    </h:panelGroup>
                                </div>
                            </h:form>
                            <div class="col-md-3 fondo-widget hidden-xs">
                                <h:form>
                                    <img class="center-block phone-margin" src="../resources/img/telefono-simulador.png"></img>
                                    <p class="text-center text-contacto">¿Deseas que te contactemos?</p>
                                    <div class="fecha-contacto">
                                        <p>*¿Cuando deseas ser contactado?</p>
                                        <p:calendar value="#{dto.date}" id="date" showOn="button" locale="es" styleClass="calendar-widget" />
                                    </div> 
                                
                                    <div class="horario-contacto">
                                        <p>*¿en que horario?</p>
                                        <p:selectOneMenu id="time" value="#{dto.time}" class="selectOneMenuSimulador" style="width:96%; height: 40px">
                                            <f:selectItem itemLabel="En la mañana" itemValue="mañana" />
                                            <f:selectItem itemLabel="En la tarde" itemValue="tarde" />
                                            <f:selectItem itemLabel="En la noche" itemValue="noche" />
                                        </p:selectOneMenu>
                                    </div>
                                
                                    <div class="telefono-contacto">
                                        <p>*¿A que teléfono?</p>
                                        <p:inputText id="phone" value="#{dto.phone}" styleClass="inputTextSimulador" style="width:98%; height: 40px; border:1px solid lightgray" />
                                    </div>
                                
                                    <div class="enviar-contacto"> 
                                        <p:commandButton styleClass="boton-enviar text-right" value="Enviar" action="enviar"  />
                                    </div> 
                                </h:form>
                            </div>
                        </div>
                    </div>         
                </div>
            </div>  
                
            <!-- contenido movil -->
                
            <div class="container informacion-movil-aprobado visible-xs">
                <div class="telefono-movil">
                    <img class="" src="../resources/img/telefono.png"></img>
                </div>
                    
                <div class="sucursal">        
                    <i class="sprite-iconos-bbva sprite-iconos-bbva-ico-oficinas"></i>
                    <a href="/resources/fbin/mult/Horarios_Red_Comercial_tcm1304-491109.pdf"  class='ico-oficinas' target="_blank" >Sucursales</a>
                </div>
                <div class="sucursal"> 
                    <i class="sprite-iconos-bbva sprite-iconos-bbva-ico-lineabbva"></i>
                    <a href="#" class="ico-lineabbva">Línea BBVA 01 8000 912227</a>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>