.div-blanco{
    background-color: #fff;
    font-family: BBVA Web Light;
    font-size: 30px;
    height: 60px;
    color: #006DCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    bottom: 60px;
    padding-top: 50px;
    margin-left: 18px;
}

.text-banner-agend{
    color: #00428d;
    font-family: BBVA Web Light;
    font-size: 48px;
    position: relative;
    text-align: left;
    line-height: 45px;
    top: 90px;
}
.text-banner-agend2{
    color: #00428d;
    font-family: BBVA Web book;
    font-size: 16px;
    position: relative;
    text-align: left;
    line-height: 20px;
    top: 110px;
}

/*.sombra-agendamiento {
    box-shadow: 2px 2px 5px #999;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}*/

.textAreaSimulador {
    box-shadow: 0 0 1px #8f8f8f inset !important;
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #F5F6F8, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #F5F6F8, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #F5F6F8, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #F5F6F8, #fff); /* Standard syntax */
    color: #006dcc !important;
    font-family: BBVA Web Book !important;
    font-size: 14px !important;
}

.imagen-fondo-agendamiento {
    background-image: url("../../resources/img/agendamiento.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 0;
    padding-bottom: 27%;
}
.imagen-fondo-movil {
    background-image: url("../../resources/img/agendamiento-movil.jpg");
    background-size: 100% auto;
    height: 0;
    position:absolute;
}

.agendamiento-pequeno {
    display: none !important;
}

.agendamiento-pequeno-texto {
    display: none;
}

@media only screen and (max-width : 900px) {
    .div-blanco-texto{
        display: none !important;
    }

    .agendamiento-pequeno-texto {
        display: block;
    }
}

@media only screen and (max-width : 750px) {
    .agendamiento-grande {
        display: none;
    }

    .agendamiento-pequeno {
        display: block !important;
    }
    .div-blanco-con{
        background-color: #fff;
        font-family: BBVA Web Light;
        font-size: 24px;
        height: 25px;
        color: #006DCC;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        bottom: 25px;
        left: 2%;
    }
}

.checkboxSimulador {
    margin-top: -6px !important;
    margin-bottom: unset !important;
}

.checkboxSimulador tr:nth-child(2n+1) {
    background-color: unset !important;
}

.checkboxSimulador .ui-chkbox-box {
    box-shadow: 0 0 1px #8f8f8f inset !important;
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #F5F6F8, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #F5F6F8, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #F5F6F8, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #F5F6F8, #fff); /* Standard syntax */
    height: 25px;
    width: 25px;
}

.checkboxSimulador .ui-icon-check {
    background: unset !important;
    background-image: url("../../resources/img/check.png") !important;
    border-radius: unset;
    height: 25px;
    width: 25px;
}

.texto-blanco {

}

.formulario-agendamiento {

}
.formato-captcha{
    font-family: BBVA Web Light;
    font-size: 30px;
    text-align: center;
}