.bbva-titulos{
    font-size: 48px;
    font-family: BBVA Office Book;

}
.bbva-web-light{
    font-size: 48px;
    font-family: BBVA Office Light;

}
.bbva-web-light-24{
    font-size: 24px;
    font-family: BBVA Office Light;

}
.bbva-book-bold-138{
    font-size: 138px;
    font-weight: bold;
    font-family: BBVA Office Book;
}
.bbva-book-bold-58{
    font-size: 58px;
    font-weight: bold;
    font-family: BBVA Office Book;
        padding-top: 35px;
}
.bbva-caracteristicas{
    font-size: 16px;
    font-family: BBVA Office Book;
}
.bbva-intermedio{
    font-size: 24px;
    font-family: BBVA Office Book;
}


.bbva-subtitulos{
    font-size: 18px;
    font-family: BBVA Office Book;
}

.bbva-seguros{
    font-size: 18px;
    font-family: BBVA Office Book;
}
.bbva-seguros-vinculados{
    font-size: 16px;
    font-family: BBVA Office Book;
}

.bbva-textos-destacados{
    font-size: 20px;
    font-family: BBVA Office Book;
}

.bbva-textos-fluidos{
    font-size: 14px;
    font-family: BBVA Office Book;
}
.bbva-textos-fluidos-arial{
    font-size: 14px;
    font-family: "Arial";
}
.bbva-book-bold{
    font-size: 24px;
    font-weight: bold;
    font-family: BBVA Office Book;
}
.bbva-book-regular{
    font-size: 24px;
    font-weight: 100;
    font-family: BBVA Office Book;
}
.bbva-web-regular{
    font-size: 48px;
    font-family: BBVA Web Light;

}
.bbva-color-azul{
    color: #006EB9;
}
.bbva-color-gris{
    color: #71777F;
}
.bbva-color-botones-fondos{
    color: #0059B0;
}
.bbva-color-botones-ayuda{
    /*color azul claro*/
    color: #1BA6E5;
}
.bbva-color-botones-iconos{
    /*color azul aguamrina*/
    color: #41C9F5;
}
.bbva-color-botones-paso{
    /*color verde*/
    color: #3C9D18;
}
.bbva-color-fondos-verde{
    /*color verde*/
    color: #48AE64;
}
.bbva-boton-color-azul{
    background-image: linear-gradient(#006EB9 0%, #004990 100%);
    border: 1px solid #00478D;
    border-radius: 4px;
    font-family: BBVA Web Light;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 100;
    width: 90%;
}
.bbva-boton-color-verde{
    background-image: linear-gradient(#4FB700 0%, #408F00 100%);
    border: 1px solid #408E00;
    border-radius: 4px;
    font-family: BBVA Office Book; font-size: 18px;
    color: #FFFFFF;
    width: 90%;
}
.imagen{
    -webkit-filter: brightness(80%);
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: absolute;
    background-size: cover;
    background-color: gray;
    transform: scale(0.2);
    

    /*-moz-transform: scaleX(-1); /* Firefox */
    /*-o-transform: scaleX(-1); /* Opera */
    /*-webkit-transform: scaleX(-1); /* Chrome y Safari */
    transform: scaleX(1); /* w3org */
    /*filter: FlipH; /* Internet Explorer */

    /*-moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);*/

}
.imagen-completa{
    -webkit-filter: brightness(80%);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: absolute;
    background-size: contain;
    background-color: gray;
    //background: linear-gradient(90deg, #004990 40%, #71777F 100%);
    transform: scale(1.2);
    zoom:1.2;
    //left: -40px;
    transform: scaleX(1); /* w3org */
    transform: scaleY(1); /* w3org */
}
.degrade{
    height: 100%;
    background: -webkit-linear-gradient(90deg, #004990 40%, #71777F 100%);
    background: -moz-linear-gradient(90deg, #004990 40%, #71777F 100%);
    background: -ms-linear-gradient(90deg, #004990 40%, #71777F 100%);
    background: -o-linear-gradient(90deg, #004990 40%, #71777F 100%);
    background: linear-gradient(90deg, #004990 40%, #71777F 100%);
}
.contenidos-en-imagen{
    width: 968px;
    height: 450px;
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

.font-bow-l{

    font-family: BBVA Web Light;
}
.bbva-office-book{
    font-size: 20px;
    font-family: BBVA Office Book;
    font-weight: 200;
}
/*.bbva-texto-imagen-gris{
    font-family: BBVA Office Book Regular;
    font-size: 24px; 
    color: #71777F;
}
.bbva-texto-imagen-azul{
    font-family: BBVAOfficeBook-Regular; font-size: 24px;
color: #006DCC;
}*/

.contenido-izquierda{
    padding-top: 20%;
    left: 5%;
}
.espacio{
    padding-top: 1%;
    background-color: white;
}
.espacio-1{
    padding-top: 5%;
    padding-left: initial;
}
.contenido-formulario-arriba{
    top: 80px;
    font-family: BBVA Office Book;
    font-size: 16px;
    height: 90%;
    border-radius: 5px;
    font-weight: 100;
    
}
.icon-size{
    font-size: 10px;
}

.icon-size-question{
    font-size: 20px;
    color:#41C9F5;
    font-weight: 100;

}
.espacio-formulario-superior{
    padding-top: 10px;
    padding-bottom: 15px;
}
.contenido-blanco{
    background-color: white;
    border-radius: 5px;
    left: 70px;
    width: 100%;
    position: absolute;
    left: 65%;
    top: 15%; 
    font-family: BBVA Office Light;
    font-size: 14px;
    height: 70%;
}
.underline{
    //text-decoration: underline;
    border-bottom: 1px solid;
    border-bottom-color: gray;
}
.ubicacion-derecha{
    text-align: right;
}
.centrado-texto{
    text-align: center;
    top: 15px;
    font-weight: 100;
}
.texto{
    font-family: BBVA Office Light;
    font-size: 12px;
}
.texto-condiciones{
    font-family: BBVA Office Light;
    font-size: 10px;
    text-align: center;
}
.numeros{
    font-family: BBVA Office Light;
    font-size: 25px;
    font-weight: bold;
    
}
/*PARTE MENU*/
.menu-color{
    background-color: #EFEFF5;
}
#menu {
  display: inline-block;
  height: 100%;
  margin: 7px 0 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
#menu ul {
  margin: 0;
  padding: 0;
  //position: relative;
}
#menu ul:after {
  clear: both;
  content: "";
  display: block;
}
#menu li {
    background-position: 50% center;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 100px;

    margin-right: 1px;
    position: relative;
    white-space: nowrap;
    width: 13%;
    z-index: 2;
    background-color: #EFEFF5;
}
#menu img {
    color: #71777F;
    display: block;
    height: 50%;
    text-decoration: none;
    font-family: BBVA Office Light;
    font-size: 14px;
    text-align: center;
    padding-left:15%;
}

#menu a {
    color: #71777F;
    display: block;
    height: 50%;
    text-decoration: none;
    font-family: BBVA Office Light;
    font-size: 14px;
    text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.menu-texto{
    font-family: BBVA Office Light;
    font-size: 10px;
    text-align: center;
}
.cuadro-gris{

    padding-top:30px;
    background-color: #EFEFF5;
    width: 20%;
    height: 80%;
    
}
.contenido-izquierda-menu-1{
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 36px;
    color: #006EB9; 
}
.contenido-izquierda-menu-2{
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 100px;
    color: #41C9F5;
    top:-30px;
}
.contenido-izquierda-menu-3{
    top:15px;
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 14px;
    color: #71777F; 
}
.contenido-derecha{
    top:10px;
}
.contenido-derecha-menu{
    padding-top:10px;
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 48px;
    color: #006EB9;
}
.contenido-derecha-menu-1{
    padding-top:3%;
    color: lightgray;
    font-weight: 300;
    font-family: BBVA Office Light;
    font-size: 16px;
    color: #71777F;
}
.contenido-derecha-menu-2{
    padding-top:20px;
    padding-bottom:20px;
    font-weight: 600;
    font-family: BBVA Office Book;
    font-size: 16px;
    
color: #0078D2;
}
.contenido-derecha-menu-3{
    padding-bottom:30px;
}
.contenido-azul-proceso{
    background-color: #1BA6E5;
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 18px;
    color: white;
}
.contenido-azul-proceso-bold{
    font-weight: bold;
    font-family: BBVA Office Light;
    font-size: 18px;
}
.contenido-azul-proceso-1{
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 14px;
}
.linea{
    height: 5px;
    width: 70%;
    top:37px;
    background-color: white;
    text-align: center;  
    z-index: 0;
    position: relative;
        left: 5%;
    
}
.bolita{
    border-radius: 50px;
    height: 75px;
    width: 50%;
    background-color: white;
    text-align: center;
    z-index: auto;
    left: 10px;
}
.contenido-proyectos{
    text-align: center;
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 18px;
    color: #006EB9;
    top:30px;

}
.icon-proceso{
    color: #006EB9;
    font-size: 30px;
    top: 20px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    position: relative;
    /* top: 1px; */
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.contenido-proyectos-texto-proceso{
    text-align: center;
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 12px;
    color: white;
    top:30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*SLIDER*/
#carousel-example-generic {
    margin: 20px auto;
    width: 350px;
}
#carousel-custom {
    margin: 20px auto;
    width: 350px;
    background-color: white;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    max-height: 130px;
    max-width: 130px;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
    -webkit-border-radius: 0;
    display: inline-flex;
    height: auto;
    margin: 0 !important;
    width: auto;
}
/*FIN SLIDER*/
.contenidos-fin-1{
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 16px;
    color: #006EB9;
    top:30px;
    text-align: center;
}
.contenidos-fin-2{
    text-align: center;
    font-weight: 100;
    font-family: BBVA Office Light;
    font-size: 16px;
    color: #71777F;
    top:30px;
}

