.div-espacio {
	height: 41px;
}
.div-post-footer{
	background-color: #fff;
    border-top-style: outset;
    border-width: 1px;
    height: 50px;
    position: fixed !important;
    right: 0;
    top: 95%;
    width: 100%;
    z-index: 10 !important;
    
}

.boton-slim {
	padding: 4px 5px !important;
	top: 11px !important;
	font-size: 14px !important;
}

.text-al {
	float: left;
	padding: 13px 10px !important;
	top: 11px !important;
	font-size: 14px !important;
	font-family: BBVA Web Book;
	color: #006DCC;
	text-align: right;
}