.texto-destacado-light p{
    font-family: "BBVA Web Light", arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
}

.texto-destacado-light ul li{
    font-family: "BBVA Web Light", arial, sans-serif;
    font-size: 20px;
    line-height: 40px;
}


.texto-destacado-regular p{
    font-family: Arial, sans-serif;
    font-size:16px;
}

.texto-destacado-regular ul li{
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size:16px;
    padding-left: 55px;
    padding-right: 20px;
    list-style: none;
}

.texto-destacado-regular ul li span{
    font-family:Arial, sans-serif;
    font-size:16px;
    line-height: 30px;
}


/*Colors*/
.light-color-softgray{
    color: #71777F;
}

.light-color-white{
    color: #FFF;
}

.light-color-blue{
    color: #0059b0;
}



