@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?57210386');
  src: url('../font/fontello.eot?57210386#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?57210386') format('woff2'),
       url('../font/fontello.woff?57210386') format('woff'),
       url('../font/fontello.ttf?57210386') format('truetype'),
       url('../font/fontello.svg?57210386#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57210386#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-medalla:before { content: '\e800'; } /* '' */
.icon-dinero-transaction:before { content: '\e801'; } /* '' */
.icon-icn_t-iconlib_b18-64px:before { content: '\e802'; } /* '' */
.icon-icn_t-iconlib_b21-64px:before { content: '\e803'; } /* '' */
.icon-icn_t-iconlib_b26-64px:before { content: '\e804'; } /* '' */
.icon-icn_t-iconlib_b27-64px:before { content: '\e805'; } /* '' */
.icon-icn_t-iconlib_c06-64px:before { content: '\e806'; } /* '' */
.icon-icn_t-iconlib_c07-64px:before { content: '\e807'; } /* '' */
.icon-icn_t-iconlib_d03-64px:before { content: '\e808'; } /* '' */
.icon-icn_t-iconlib_e02-64px:before { content: '\e809'; } /* '' */
.icon-icn_t-iconlib_g02-64px:before { content: '\e80a'; } /* '' */
.icon-icn_t-iconlib_g03-64px:before { content: '\e80b'; } /* '' */
.icon-icn_t-iconlib_g13-64px:before { content: '\e80c'; } /* '' */
.icon-icn_t-iconlib_g27-64px:before { content: '\e80d'; } /* '' */
.icon-icn_t-iconlib_l01-64px:before { content: '\e80e'; } /* '' */
.icon-icn_t-iconlib_n01-64px:before { content: '\e80f'; } /* '' */
.icon-icn_t-iconlib_n04-64px:before { content: '\e810'; } /* '' */
.icon-icn_t-iconlib_n06-64px:before { content: '\e811'; } /* '' */
.icon-icn_t-iconlib_t01-64px:before { content: '\e812'; } /* '' */