@charset "utf-8";

@font-face {
    font-family: 'BBVA Office Light Bold Italic';
    src: url("#{resource['fonts/BBVAOfficeLight-BoldItalic.eot']}");
    src: url("#{resource['fonts/BBVAOfficeLight-BoldItalic.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAOfficeLight-BoldItalic.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAOfficeLight-BoldItalic.woff']}") format('woff'),
    url("#{resource['fonts/BBVAOfficeLight-BoldItalic.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAOfficeLight-BoldItalic.svg']}#BBVAOfficeLight-BoldItalic") format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BBVA Web Light Regular';
    src: url("#{resource['fonts/BBVAWebLight-Regular.eot']}");
    src: url("#{resource['fonts/BBVAWebLight-Regular.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAWebLight-Regular.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAWebLight-Regular.woff']}") format('woff'),
    url("#{resource['fonts/BBVAWebLight-Regular.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAWebLight-Regular.svg']}#BBVAWebLight-Regular") format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BBVA Office Book Regular';
    src: url("#{resource['fonts/BBVAOfficeBook-Regular.eot']}");
    src: url("#{resource['fonts/BBVAOfficeBook-Regular.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAOfficeBook-Regular.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAOfficeBook-Regular.woff']}") format('woff'),
    url("#{resource['fonts/BBVAOfficeBook-Regular.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAOfficeBook-Regular.svg']}#BBVAOfficeBook-Regular") format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BBVA Office Book Italic';
    src: url("#{resource['fonts/BBVAOfficeBook-Italic.eot']}");
    src: url("#{resource['fonts/BBVAOfficeBook-Italic.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAOfficeBook-Italic.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAOfficeBook-Italic.woff']}") format('woff'),
    url("#{resource['fonts/BBVAOfficeBook-Italic.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAOfficeBook-Italic.svg']}#BBVAOfficeBook-Italic") format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BBVA Office Light Regular';
    src: url("#{resource['fonts/BBVAOfficeLight-Regular.eot']}");
    src: url("#{resource['fonts/BBVAOfficeLight-Regular.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAOfficeLight-Regular.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAOfficeLight-Regular.woff']}") format('woff'),
    url("#{resource['fonts/BBVAOfficeLight-Regular.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAOfficeLight-Regular.svg']}#BBVAOfficeLight-Regular") format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BBVA Web Light Italic';
    src: url("#{resource['fonts/BBVAWebLight-Italic.eot']}");
    src: url("#{resource['fonts/BBVAWebLight-Italic.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAWebLight-Italic.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAWebLight-Italic.woff']}") format('woff'),
    url("#{resource['fonts/BBVAWebLight-Italic.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAWebLight-Italic.svg']}#BBVAWebLight-Italic") format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BBVA Web Book Italic';
    src: url("#{resource['fonts/BBVAWebBook-Italic.eot']}");
    src: url("#{resource['fonts/BBVAWebBook-Italic.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAWebBook-Italic.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAWebBook-Italic.woff']}") format('woff'),
    url("#{resource['fonts/BBVAWebBook-Italic.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAWebBook-Italic.svg']}#BBVAWebBook-Italic") format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BBVA Office Light Italic';
    src: url("#{resource['fonts/BBVAOfficeLight-Italic.eot']}");
    src: url("#{resource['fonts/BBVAOfficeLight-Italic.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAOfficeLight-Italic.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAOfficeLight-Italic.woff']}") format('woff'),
    url("#{resource['fonts/BBVAOfficeLight-Italic.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAOfficeLight-Italic.svg']}#BBVAOfficeLight-Italic") format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BBVA Web Book Regular';
    src: url("#{resource['fonts/BBVAWebBook-Regular.eot']}");
    src: url("#{resource['fonts/BBVAWebBook-Regular.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAWebBook-Regular.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAWebBook-Regular.woff']}") format('woff'),
    url("#{resource['fonts/BBVAWebBook-Regular.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAWebBook-Regular.svg']}#BBVAWebBook-Regular") format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BBVA Office Light Bold';
    src: url("#{resource['fonts/BBVAOfficeLight-Bold.eot']}");
    src: url("#{resource['fonts/BBVAOfficeLight-Bold.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAOfficeLight-Bold.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAOfficeLight-Bold.woff']}") format('woff'),
    url("#{resource['fonts/BBVAOfficeLight-Bold.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAOfficeLight-Bold.svg']}#BBVAOfficeLight-Bold") format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BBVA Web Light Bold';
    src: url("#{resource['fonts/BBVAWebLight-Bold.eot']}");
    src: url("#{resource['fonts/BBVAWebLight-Bold.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAWebLight-Bold.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAWebLight-Bold.woff']}") format('woff'),
    url("#{resource['fonts/BBVAWebLight-Bold.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAWebLight-Bold.svg']}#BBVAWebLight-Bold") format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BBVA Office Book Bold';
    src: url("#{resource['fonts/BBVAOfficeBook-Bold.eot']}");
    src: url("#{resource['fonts/BBVAOfficeBook-Bold.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAOfficeBook-Bold.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAOfficeBook-Bold.woff']}") format('woff'),
    url("#{resource['fonts/BBVAOfficeBook-Bold.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAOfficeBook-Bold.svg']}#BBVAOfficeBook-Bold") format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BBVA Web Book Bold';
    src: url("#{resource['fonts/BBVAWebBook-Bold.eot']}");
    src: url("#{resource['fonts/BBVAWebBook-Bold.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAWebBook-Bold.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAWebBook-Bold.woff']}") format('woff'),
    url("#{resource['fonts/BBVAWebBook-Bold.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAWebBook-Bold.svg']}#BBVAWebBook-Bold") format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BBVA Web Light Bold Italic';
    src: url("#{resource['fonts/BBVAWebLight-BoldItalic.eot']}");
    src: url("#{resource['fonts/BBVAWebLight-BoldItalic.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts/BBVAWebLight-BoldItalic.woff2']}") format('woff2'),
    url("#{resource['fonts/BBVAWebLight-BoldItalic.woff']}") format('woff'),
    url("#{resource['fonts/BBVAWebLight-BoldItalic.ttf']}") format('truetype'),
    url("#{resource['fonts/BBVAWebLight-BoldItalic.svg']}#BBVAWebLight-BoldItalic") format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BBVA Office medium';
    src: url("#{resource['fonts/bbvaoffice-medium.ttf']}") format('truetype');
}
@font-face {
    font-family: 'BBVA Office mediumitalic';
    src: url("#{resource['fonts/bbvaoffice-mediumitalic.ttf']}") format('truetype');
}
@font-face {
    font-family: 'BBVA Office semibold';
    src: url("#{resource['fonts/bbvaoffice-semibold.ttf']}") format('truetype');
}
@font-face {
    font-family: 'BBVA Web medium';
    src: url("#{resource['fonts/bbvaweb-medium.ttf']}") format('truetype');
}
@font-face {
    font-family: 'BBVA Web mediumitalic';
    src: url("#{resource['fonts/bbvaweb-mediumitalic.ttf']}") format('truetype');
}
@font-face {
    font-family: 'BBVA Web semibold';
    src: url("#{resource['fonts/bbvaweb-semibold.ttf']}") format('truetype');
}
