

            [class*="span"] {
                float: left;
                min-height: 1px;
                margin-left: 20px;
            }
            .span12 {
                width: 940px;
            }
            .span11 {
                width: 860px;
            }
            .span10 {
                width: 780px;
            }
            .span9 {
                width: 700px;
            }
            .span8 {
                width: 620px;
            }
            .span7 {
                width: 540px;
            }
            .span6 {
                width: 460px;
            }
            .span5 {
                width: 380px;
            }
            .span4 {
                width: 300px;
            }
            .span3 {
                width: 220px;
            }
            .span2 {
                width: 140px;
            }
            .span1 {
                width: 60px;
            }
            [class*="span"].pull-right,
            .row-fluid [class*="span"].pull-right {
                float: right;
            }
            .the-icons {
                font-size: 14px;
                line-height: 24px;
            }
            .switch {
                position: absolute;
                right: 0;
                bottom: 10px;
                color: #666;
            }
            .switch input {
                margin-right: 0.3em;
            }
            .codesOn .i-name {
                display: none;
            }
            .codesOn .i-code {
                display: inline;
            }
            .i-code {
                display: none;
            }
            @font-face {
                font-family: 'fontello';
                src: url('../font/fontello.eot?18586127');
                src: url('../font/fontello.eot?18586127#iefix') format('embedded-opentype'),
                    url('../font/fontello.woff?18586127') format('woff'),
                    url('../font/fontello.ttf?18586127') format('truetype'),
                    url('../font/fontello.svg?18586127#fontello') format('svg');
                font-weight: normal;
                font-style: normal;
            }
            .demo-icon
            {
                font-family: "fontello";
                font-style: normal;
                font-weight: 100;
                display: inline-block;
                text-decoration: inherit;      
            }
            .bbva-color-azul{
                color: #0078d2;
                font-family:  BBVA Office Book;
                font-size: 16px;
            }
            .menu-color{
                background-color: #EFEFF5;
            }
            #menu {
                display: inline-block;
                height: 100%;
                margin: 7px 0 0;
                text-align: center;
                white-space: nowrap;
                width: 100%;
            }
            #menu ul {
                margin: 0;
                padding: 0;
            }
            #menu ul:after {
                clear: both;
                content: "";
                display: block;
            }
            #menu li {
                background-position: 50% center;
                display: block;
                float: left;
                font-size: 18px;
                font-weight: bold;
                height: 50px;
                line-height: 50px;
                margin-right: 1px;
                position: relative;
                white-space: nowrap;
                width: 13%;
                z-index: 2;
            }

            .menu-a-gris{
                color: #71777F;
            }
            #menu a {
                display: block;
                height: 100%;
                text-decoration: none;
                font-family: BBVA Office Light;
                font-size: 14px;
                text-align: center;
                border-left: 1px solid white;
                border-right: 1px solid white;
            }
            .menu-activo{
                background-color: white;

            }
            .menu-texto{
                font-family: BBVA Office Light;
                font-size: 10px;
                text-align: center;
            }
            .imagen-completa{
                -webkit-filter: brightness(80%);
                background-repeat: no-repeat;
                width: 70%;
                height: 125%;
                top:-140px;
                position: absolute;
                background-size: contain;
                background-color: gray;
                background: linear-gradient(90deg, gray 10%,gray 40%, #FFFFFF 100%);
                zoom: 0.8;
                left:35%;

            }
            .contenido-titulo-superior{
                color: white;
                padding-top: 1%;
            }
            .degradeHipotecario{
                background-color: antiquewhite;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, gray 10%,gray 40%, #FFFFFF 100%);
                padding-right: 5%;
            }
            .texto-izquerda-icono{
                text-align: center;
                font-size: 30px;
                padding-top: 15px; 
                font-weight:100;
            }
            .texto-izquierda{
                font-size: 9px;
                font-family: Arial;
                color:white;
                font-weight: bold;
            }
            .contenido-texto-superior{
                font-size: 48px;
                font-family: BBVA Web Light;
                padding-right: initial;
            }
            .contenido-texto-inferior{
                font-size: 16px;
                font-family: BBVA Office Book;
                font-weight: 100;
                padding-right: initial;
                padding-bottom: 10px;
            }
            .contenido-blanco-hipotecario{
                background-color: white;
                color: #006EB9;
                width: 100%;
                padding-top: 8%;;
                height: 100%;
            }
            .contenido-blanco-texto-superior{
                font-size: 26px;
                font-family: BBVA Web Light;    
            }
            .contenido-blanco-texto-medio{
                font-size: 100px;
                font-family: BBVA Web Light; 
                color: #41c9f5;
                top:-30px;
            }
            .contenido-blanco-texto-inferior{
                font-size: 18px;
                font-family: BBVA Web Light;  
                color: #006dcc;
                top:-60px;
            }
            .menu-texto{
                font-family:  BBVA Office Book;
            }
            .contenido-menu-caracteristicas{
                font-family: BBVA Web Light;
                font-size: 30px;
                text-align: center;
                font-weight: 100;
                color:#006dcc;
                padding-top: 5%;;
                padding-bottom: 3%;
            }
            .contenido-menu-azul{
                background-color: #0059b0;
                color:white;
                font-family: BBVA Web Light;
                font-size: 20px;
                height: 850px;
            }
            .contenido-menu-izquierda{
                padding-top: 10%;
                padding-bottom: 10%;;
            }
            .contenido-menu-punto{
                font-family: BBVA Office Book;
                font-size: 20px;
                padding-bottom: 30px;
            }
            .contenido-menu-punto-no-vivienda{
                font-family: BBVA Office Book;
                font-size: 18px;
                color:#71b8f6;
                padding-bottom: 20%;
            }
            .linea-icono{
                background-color: white;
                height: 1px;
                width: 30%;
            }
            .icono-linea{
                top:-10px;
                text-align: center;
                color: white;
                height: 30px;

            }
            .contenido-menu-conoce{
                font-family: BBVA Web Light;
                font-size: 26px;  
                text-align: center;
            }

            .color-li{
                color:#71b8f6;
                font-family:  BBVA Web Light;
                font-size: 20px;
                padding-top: 5%;
            }
            .li-distancia{

            }
            .distancia-fin{
                padding-bottom: 40px;
            }
            .contenido-menu-blanco{
                top:-20px;
                background-color: white;
                box-shadow: 0px 0px 10px 0px gray;
                color: #71777f;
            }
            .contenido-menu-texto-superior{
                font-family:  BBVA Office Book;
                font-size: 15.96px;
                color: #006dcc;
            }
            .contenido-menu-texto-inferior{
                font-family:  BBVA Office Book;
                font-size: 20px;
                color: #71777f;
            }
            .distancia{
                padding-top: 5%;
                padding-left: 5%;

            }
            .distancia2{
                padding-top: 3%;
                padding-left: 5%;

            }
            .texto{
                color:#71777f;
                padding-left: 5%;

                font-size: 16px;
                font-family: "Arial";
            }
            .icon-color-azul-claro-pequeño{
                color: #41c9f5;
            }
            .titulo{
                color:#006dcc
            }

            .titulo-beneficios{
                font-family: BBVA Web Light;
                font-size: 30px;
                color: #006dcc;
                padding-top: 20px;
            }
            .contenido-beneficios-inicio{
                color: #71777f;
                font-size: 16px;
                font-family: "Arial";
                padding-top: 2%;;
                font-weight: 100;
            }
            .contenido-beneficios-fin{
                color: #71777f;
                font-size: 16px;
                font-family: "Arial";
                padding-top: 2%;;
                font-weight: 100;
            }
            .contenido-beneficios{
                color: #71777f;
                font-size: 16px;
                font-family: "Arial";
                padding-top: 4%;;
                font-weight: 100;
            }
            .icon-beneficios-azul{
                font-size: 25px;
                color: #41c9f5;
                top:10px;
                font-weight: bold;
            }
            .contenido-icono-menu{
                background-color: #41c9f5;
                border-radius: 100px;
                height: 50px;
                width: 50px;
            }
            .color-li-contenido{
                color:white;
                font-size: 18px;
            }
            .li-distancia2{
                padding-bottom: 5%;

            }
            .icon-contenido-menu-grande{        
                font-size: 30px;
                color: #FFFFFF;
                font-weight: bold;               
                top:20px;
                left: 10x;
            }
            .contenido-li{
                padding-top: 5%;;
                color:#71b8f6;
            }
            .imagen1{
                background-image: url("../img/2.jpg");
                -webkit-filter: brightness(80%);
                background-repeat: no-repeat;
                width: 90%;
                height: 800px;

                position: absolute;
                background-size: contain;
                left:490px;
                z-index: 0;
                /*
                transform: scaleX(1.4);
                /* w3org */
                transform: scaleY(1.2);

                /* w3org */

            }
            .imgen2{
                background-image: url("../img/2.jpg");
            }
            .bbva-boton-color-azul{
                background-image: linear-gradient(-180deg, #006EB9 0%, #004990 100%);
                border: 1px solid #00478D;
                border-radius: 4px;
                font-family: BBVA Office Book; 
                font-size: 18px;
                color: #FFFFFF;
                width: 100%;
                height: 100%;
                padding-bottom: 3%;
                padding-top: 3%;

            }
            .bbva-boton-color-verde{
                background-image: linear-gradient(-180deg, #4FB700 0%, #408F00 100%);
                border: 1px solid #408E00;
                border-radius: 4px;
                font-family: BBVA Office Book;
                font-size: 18px;
                font-weight: 100;
                color: #FFFFFF;
                width: 100%;
                height: 100%;
                padding-bottom: 3%;
                padding-top: 3%;

            }
            .distancia-lateral{
                padding-left: 5%;
            }
            .distancia-botones{
                padding-top:5%;
            }
            .texto-final{
                font-family: BBVA Office Book;
                font-size: 12px;
                color:#71777f;
                text-align: center;
                padding-top: 5%;
            }
            /*Tasas y Tarifas*/
            .tasas-distancia-titulo{
                padding-top: 4%;
            }
            .tasas-titulo{
                color:#006dcc;
                font-family: BBVA Web Light;
                font-size: 30px;
            }
            .tasas-texto-titulo{
                color:#71777f;
                font-family: Arial;
                font-size: 16px;
                padding-top: 2%;
            }
            .tasas-linea-horizontal{
                padding-top: 5%;
                border-bottom-color: gray;
                border-bottom: 1px solid gray;
            }
            .tasas-iguales{
                color: #41c9f5;
                padding-top: 15%;   
            }
            .tasas-iguales2{
                color: #41c9f5;
                padding-top: 5%;   
            }
            .tasas-contenido-fin{
                padding-top: 5%;
                color:#006dcc;
            }
            .tasas-iguales-individual{
                background-color: #41c9f5;
                width: 80%;;
                height: 5px;
                margin-bottom:20%;
            }
            .tasas-li{
                color: #41c9f5;
                padding-top: 5%;
            }
            .tasas-li-span{
                padding-top: 3%;
                width: 100%;
            }
            .tasas-final{
                font-family:  BBVA Office Book;
                font-size: 12px;
                color: #71777f;
                text-align: center;
            }
            /*REQUISITOS*/
            .requisitos-titulo{
                color:#006dcc;
                font-family: BBVA Web Light;
                font-size: 30px;
                padding-top: 7%;       
            }
            .requisitos-distancia-tabla{
                padding-top: 5%;
            }
            .requisitos-table-head{
                font-family: BBVA Office Book;
                font-weight: bold;
                font-size: 16px;
                color:#4e5258;
                background-color: #c1c0bc;
                background-color: gray;
            }
            .requisitos-table-tr{
                color:#71777f;
                font-family: Arial;
                font-size: 14px;
                align-items: center;
                font-weight: 100;
            }
            .requisitos-icon-azul{
                color: #41c9f5;
                text-align: center;
                font-size: 20px;
            }
            table tr{
                vertical-align:middle;
            }
            tr:nth-child(odd) {
                background-color:#fbfbfb;
                vertical-align:middle;

            }
            tr:nth-child(even) {
                background-color:#f2f2f2;
                vertical-align:middle;
                width: 100px;
                height: 70px;;
            }
            /*GOSARIO*/
            .glosario-distancia-vertical{
                padding-top: 5%;
            }
            .glosario-icono-izquierda{
                background-color: #3b414e;
            }
            .glosario-texo-icono{
                font-family: BBVA Web Light;
                font-size: 30px;
                color: #FFFFFF;
            }
            .glosario-texto-titulo{
                color: #006dcc;
                font-family: BBVA Office Book;
                font-size: 16px;
                font-weight: 100;
            }
            .glosario-texto-titulo2{
                color: #006dcc;
                font-family: BBVA Office Book;
                font-size: 16px;
                font-weight: 100;
                padding-top: 3%;
            }
            .glosario-texto-contenido{
                color: #71777f;
                font-family: Arial;
                font-size: 16px;
                font-weight: 100;
                padding-top: 1%;

            }
            .glosario-texto-linea{
                border-left: 1px solid gray;
            }

            /*SABIAS QUE*/
            .sabias-distancia-vertical{
                padding-top: 4%;
            }
            .sabias-contenido-sabias{
                font-family: BBVA Web Light;
                font-size: 67px;
                color:#006dcc;
                height: 50px;;
            }
            .sabias-contenido-que{
                font-family: BBVA Web Light;
                font-size: 67px;
                color:#006dcc;    
            }
            .sabias-icon{
                color: #41c9f5;
                font-size: 30px;
                font-weight: 100;
            }
            .sabias-icon-i{
                color: #41c9f5;
            }
            .sabias-icon-azul{
                color: #41c9f5;
                font-size: 22px;
            }
            .sabias-contenido-texto{
                font-family: Arial;
                font-size: 16px;
                color: #71777f;
                padding-left: initial;  
                padding-right: initial;
                padding-top: 3%;
            }
            .sabias-contenido-azul-li{
                color: #41c9f5; padding-top:3%;
            }
            .sabias-contenido-texto-bold{
                font-weight: bold;
            }
            .sabias-distancia-textos{
                padding-top: 3%;   
            }
            .sabias-contenido-azul{
                background-color: #0059b0;
                color: #FFFFFF;
                font-family: Arial;
                font-size: 16px;
                padding-top: 1%;
            }
            .sabias-contenido-azul-li{
                padding-left: initial;
                padding-right: initial;
                font-weight: 100;

            }
            .sabias-imagen{
                top: -400px;

            }

            /*HIPOTECAS*/
            .hipotecas-degradeHipotecario{
                background-color: antiquewhite;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, gray 10%,gray 40%, #FFFFFF 100%);
                padding-right: 5%;
            }
            .hipoteca-imagen-completa{
                -webkit-filter: brightness(80%);
                background-repeat: no-repeat;
                width: 55%;
                height: 64%;
                top:-180px;
                position: absolute;
                background-size: contain;
                background-color: gray;
                background: linear-gradient(90deg, gray 10%,gray 40%, #FFFFFF 100%);
                zoom: 0.6;
                left:47%;

            }
            .hipotecas-contenido-titulo-superior{
                font-family: BBVA Web Light;
                font-size: 48px;
                color: #FFFFFF;
            }
            .hipotecas-contenido-texto-inferior{
                font-family: BBVA Web Light;
                font-size: 16px;
                color: #FFFFFF;
            }
            .hipotecas-azul{
                background-color: #0059b0;
                color:#FFFFFF;
                font-family: BBVA Web Light;
                font-size: 30px;
                /*width: 100%;*/
            }
            .paddRight{
                padding-right: 30px;
            }
            .paddLeft{
                padding-left: 30px;
            }
            .padding{
                padding: 15px;
            }

            .padding1{
                padding: 10px;
            }
            .padding2{
                padding-left: 30px;
                padding-right: 30px;
            }

            .padding3{
                padding-left: 35%;
            }

            .padding4{
                padding: 30px;
                position: relative;
                top: 30px;
            }

            .hipotecas-beneficios{
                padding-top: 3%;
            }
            .hipotecas-texto p{
                font-family: "BBVA Web Light", arial, sans-serif;
                font-size: 18px;
                margin-bottom: 55px;
                padding-right: 30px;
                line-height: 30px;
            }

            .hipotecas-texto2 p{
                font-family: "BBVA Web Light", arial, sans-serif;
                font-size: 17px;
                line-height: 30px;
                margin-bottom: 55px;
            }

            .hipotecas-color{
                color:#59A0DE
            }

            .hipotecas-icono{
                color: #41c9f5;
                font-size: 30px;
                padding-top: 3%;
                padding-left: initial;
                padding-right: initial;
            }
            .hipotecas-icon{
                color: #41c9f5;
            }
            .hipotecas-bold{
                font-weight: bold;
            }
            .hipotecas-blanco{
                background-color: #FFFFFF;
                color:#0059b0;
                font-family: BBVA Web Light;
                /*font-size: 30px;*/
                /*padding-top: 3%;*/
            }
            .hipotecas-blanco-distancia{
                padding-top: 3%;
            }
            .hipotecas-blanco-texto1{
                font-family:  BBVA Office Book;
                color:#006dcc;
                font-size: 16px;
            }
            .hipotecas-blanco-texto2{
                color:#71777f;
                font-family:  BBVA Office Book;
                font-size: 20px;
            }
            .hipotecas-blanco-texto3{
                color:#71777f;
                font-family:  BBVA Office Book;
                font-size: 16px;
            }

            .hipotecas-blanco-texto3 {
                list-style: none;
                font-family: BBVA Web Book;
                font-size: 16px;
                color: white;
            }
            .hipotecas-blanco-fin{
                padding-bottom: 5%;
            }
            .hipotecas-requisitos{
                padding-top: 5%;
                font-family: BBVA Web Light;
                font-size: 30px;
                color:#0059b0;
            }
            .hipotecas-fin-texto{
                font-family: "BBVA Web Light", Arial, sans-serif;
                font-size: 18px;
                color:#71777f;
                padding-top: 3%;
            }



            .hipotecas-fin-textos{
                font-family: Arial;
                font-size: 16px;
                color:#71777f;
                padding-top: 3%;
            }
             
        /*SLIDER*/

        #carousel-example-generic {
            margin: 20px auto;
            width: 600px;
        }

        #carousel-custom {
            margin: 20px auto;
            width: 600px;
        }
        #carousel-custom .carousel-indicators {
            margin: 10px 0 0;
            overflow: auto;
            position: static;
            text-align: left;
            white-space: nowrap;
            width: 100%;
        }
        #carousel-custom .carousel-indicators li {
            background-color: transparent;
            -webkit-border-radius: 0;
            border-radius: 0;
            display: inline-block;
            height: auto;
            margin: 0 !important;
            width: auto;
        }
        #carousel-custom .carousel-indicators li img {
            display: block;
            opacity: 0.5;
            max-height: 130px;
            max-width: 130px;
        }
        #carousel-custom .carousel-indicators li.active img {
            opacity: 1;
        }
        #carousel-custom .carousel-indicators li:hover img {
            opacity: 0.75;
        }
        #carousel-custom .carousel-outer {
            position: relative;
            

            -webkit-border-radius: 0;

            display: inline-flex;
            height: auto;
            margin: 0 !important;
            width: auto;
        }
        /*FIN SLIDER*/
        .recortado{
            padding-left: 15%;
            padding-right: 15%
        }
        .gris{
            color:gray;
            font-size: 20px;

        }
        .blue{
            color: #006dcc;
            font-size: 24px;
            font-weight: 100;

        }
        .border-descripcion{
            border: 1px #d6d7da solid;
            background-color: white;
        //box-shadow: 1px 1px 1px gray;
            z-index: 1;
        //border-radius: 40px;
            padding-bottom: 10px;
            text-align: center;

        }
        .boder-descripcion-blue{
            font-size: 16px;
            color: #006dcc;
            border-right: 1px #d6d7da solid;
        }
        .boder-descripcion-blue2{
            font-size: 16px;
            color: #006dcc;

        }
        .boder-descripcion-gris{
            font-size: 18px;
            color:gray;
        }
        .text-descripcion{
            font-weight: 100;
            font-size: 14px;
            padding-top: 20px;
        }

        .text-detalle{
            padding-top: 10px;
            color: white;
            font-weight: 100;
            font-size: 20px;
            padding-bottom: 10px;
            padding-left: 15%;
        }
        .fondo-azul{
            top: -50px;
            padding-top: 80px;
            background-color: #004caa;
            padding-left: -15%;
            padding-right: -15%;
            position:relative;
            padding-bottom: 3%;

        }
        .icons-descripcion{
            font-weight: 100; font-size: 60px;
            padding-left:20px;
            padding-right:20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .conoce{
            top: -20px;
            color: #38c1f7;
        }
        .seccion{
            padding-top: 10px;
            background-color: white;
            width: 35%;
        }
        .seccion-detalle-general{
            padding-top: 10px;
            color: #004caa;
            font-weight: 100;
            font-size: 20px;
            padding-bottom: 40px;
        }
        .seccion-detalle-azul{
            color:#004caa;
            font-size: 14px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .seccion-detalle-gris{
            color:#d6d7da;
            font-size: 14px;
            padding-bottom: 15px;
            padding-left: 0px;
            padding-right: 0px;
        }
        

            [class*="span"] {
              float: left;
              min-height: 1px;
              margin-left: 20px;
            }
            .span12 {
              width: 940px;
            }
            .span11 {
              width: 860px;
            }
            .span10 {
              width: 780px;
            }
            .span9 {
              width: 700px;
            }
            .span8 {
              width: 620px;
            }
            .span7 {
              width: 540px;
            }
            .span6 {
              width: 460px;
            }
            .span5 {
              width: 380px;
            }
            .span4 {
              width: 300px;
            }
            .span3 {
              width: 220px;
            }
            .span2 {
              width: 140px;
            }
            .span1 {
              width: 60px;
            }
            [class*="span"].pull-right,
            .row-fluid [class*="span"].pull-right {
              float: right;
            }
            .the-icons {
              font-size: 14px;
              line-height: 24px;
            }
            .switch {
              position: absolute;
              right: 0;
              bottom: 10px;
              color: #666;
            }
            .switch input {
              margin-right: 0.3em;
            }
            .codesOn .i-name {
              display: none;
            }
            .codesOn .i-code {
              display: inline;
            }
            .i-code {
              display: none;
            }
            @font-face {
                  font-family: 'fontello';
                  src: url('../font/fontello.eot?18586127');
                  src: url('../font/fontello.eot?18586127#iefix') format('embedded-opentype'),
                       url('../font/fontello.woff?18586127') format('woff'),
                       url('../font/fontello.ttf?18586127') format('truetype'),
                       url('../font/fontello.svg?18586127#fontello') format('svg');
                  font-weight: normal;
                  font-style: normal;
                }
                .demo-icon
                {
                  font-family: "fontello";
                  font-style: normal;
                  font-weight: 100;
                  display: inline-block;
                  text-decoration: inherit;      
                }
            .bbva-color-azul{
                color: #0078d2;
                font-family:  BBVA Office Book;
                font-size: 16px;
            }
            .menu-color{
                background-color: #EFEFF5;
            }
            #menu {
              display: inline-block;
              height: 100%;
              margin: 7px 0 0;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
            #menu ul {
              margin: 0;
              padding: 0;
            }
            #menu ul:after {
              clear: both;
              content: "";
              display: block;
            }
            #menu li {
                background-position: 50% center;
                display: block;
                float: left;
                font-size: 18px;
                font-weight: bold;
                height: 50px;
                line-height: 50px;
                margin-right: 1px;
                position: relative;
                white-space: nowrap;
                width: 13%;
                z-index: 2;
            }

            .menu-a-gris{
                color: #71777F;
            }
            #menu a {
                display: block;
                height: 100%;
                text-decoration: none;
                font-family: BBVA Office Light;
                font-size: 14px;
                text-align: center;
                border-left: 1px solid white;
                border-right: 1px solid white;
            }
            .menu-activo{
                background-color: white;
                
            }
            .menu-texto{
                font-family: BBVA Office Light;
                font-size: 10px;
                text-align: center;
            }
            .imagen-completa{
                -webkit-filter: brightness(80%);
                background-repeat: no-repeat;
                width: 70%;
                height: 125%;
                top:-140px;
                position: absolute;
                background-size: contain;
                background-color: gray;
                background: linear-gradient(90deg, gray 10%,gray 40%, #FFFFFF 100%);
                zoom: 0.8;
                left:35%;
                
            }
            .contenido-titulo-superior{
                color: white;
                padding-top: 1%;
            }
            .degradeHipotecario{
                background-color: antiquewhite;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, gray 10%,gray 40%, #FFFFFF 100%);
                padding-right: 5%;
            }
            .texto-izquerda-icono{
                text-align: center;
                font-size: 30px;
                padding-top: 15px; 
                font-weight:100;
            }
            .texto-izquierda{
                font-size: 9px;
                font-family: Arial;
                color:white;
                font-weight: bold;
            }
            .contenido-texto-superior{
                font-size: 48px;
                font-family: BBVA Web Light;
                padding-right: initial;
            }
            .contenido-texto-inferior{
                font-size: 16px;
                font-family: BBVA Office Book;
                font-weight: 100;
                padding-right: initial;
                padding-bottom: 10px;
            }
            .contenido-blanco-hipotecario{
                background-color: white;
                color: #006EB9;
                width: 100%;
                padding-top: 8%;;
                height: 100%;
            }
            .contenido-blanco-texto-superior{
              font-size: 26px;
                font-family: BBVA Web Light;    
            }
            .contenido-blanco-texto-medio{
              font-size: 100px;
                font-family: BBVA Web Light; 
                color: #41c9f5;
                top:-30px;
            }
            .contenido-blanco-texto-inferior{
              font-size: 18px;
                font-family: BBVA Web Light;  
                color: #006dcc;
                top:-60px;
            }
            .menu-texto{
                font-family:  BBVA Office Book;
            }
            .contenido-menu-caracteristicas{
                font-family: BBVA Web Light;
                font-size: 30px;
                text-align: center;
                font-weight: 100;
                color:#006dcc;
                padding-top: 5%;;
                padding-bottom: 3%;
            }
            .contenido-menu-azul{
                background-color: #0059b0;
                color:white;
                font-family: BBVA Web Light;
                font-size: 20px;
                height: 850px;
            }
            .contenido-menu-izquierda{
                padding-top: 10%;
                padding-bottom: 10%;;
            }
            .contenido-menu-punto{
                font-family: BBVA Office Book;
                font-size: 20px;
                padding-bottom: 30px;
            }
            .contenido-menu-punto-no-vivienda{
                font-family: BBVA Office Book;
                font-size: 18px;
                color:#71b8f6;
                padding-bottom: 20%;
            }
            .linea-icono{
                background-color: white;
                height: 1px;
                width: 30%;
            }
            .icono-linea{
                top:-10px;
                text-align: center;
                color: white;
                height: 30px;
                
            }
            .contenido-menu-conoce{
                font-family: BBVA Web Light;
                font-size: 26px;  
                text-align: center;
            }
            
            .color-li{
                color:#71b8f6;
                font-family:  BBVA Web Light;
                font-size: 20px;
                padding-top: 5%;
            }
            .li-distancia{
                
            }
            .distancia-fin{
                padding-bottom: 40px;
            }
            .contenido-menu-blanco{
                top:-20px;
                background-color: white;
                box-shadow: 0px 0px 10px 0px gray;
                color: #71777f;
            }
            .contenido-menu-texto-superior{
                font-family:  BBVA Office Book;
                font-size: 15.96px;
                color: #006dcc;
            }
            .contenido-menu-texto-inferior{
                font-family:  BBVA Office Book;
                font-size: 20px;
                color: #71777f;
            }
            .distancia{
                padding-top: 5%;
                padding-left: 5%;
                
            }
            .distancia2{
                padding-top: 3%;
                padding-left: 5%;
                
            }
            .texto{
                color:#71777f;
                padding-left: 5%;
                
                font-size: 16px;
                font-family: "Arial";
            }
            .icon-color-azul-claro-pequeño{
                color: #41c9f5;
            }
            .titulo{
                color:#006dcc
            }
            
            .titulo-beneficios{
                font-family: BBVA Web Light;
                font-size: 30px;
                color: #006dcc;
                padding-top: 20px;
            }
            .contenido-beneficios-inicio{
                color: #71777f;
                font-size: 16px;
                font-family: "Arial";
                padding-top: 2%;;
                font-weight: 100;
            }
            .contenido-beneficios-fin{
                color: #71777f;
                font-size: 16px;
                font-family: "Arial";
                padding-top: 2%;;
                font-weight: 100;
            }
            .contenido-beneficios{
                color: #71777f;
                font-size: 16px;
                font-family: "Arial";
                padding-top: 4%;;
                font-weight: 100;
            }
            .icon-beneficios-azul{
                font-size: 25px;
                color: #41c9f5;
                top:10px;
                font-weight: bold;
            }
            .contenido-icono-menu{
                background-color: #41c9f5;
                border-radius: 100px;
                height: 50px;
                width: 50px;
            }
            .color-li-contenido{
                color:white;
                font-size: 18px;
            }
            .li-distancia2{
             padding-bottom: 5%;
                
            }
            .icon-contenido-menu-grande{        
                font-size: 30px;
                color: #FFFFFF;
                font-weight: bold;               
                top:20px;
                left: 10x;
            }
            .contenido-li{
                padding-top: 5%;;
                color:#71b8f6;
            }
            .imagen1{
                background-image: url("../img/2.jpg");
                -webkit-filter: brightness(80%);
                background-repeat: no-repeat;
                width: 90%;
                height: 800px;
                
                position: absolute;
                background-size: contain;
                left:490px;
                z-index: 0;
                /*
                transform: scaleX(1.4);
                /* w3org */
                transform: scaleY(1.2);
                
                /* w3org */
                
            }
            .imgen2{
                background-image: url("../img/2.jpg");
            }
            .bbva-boton-color-azul{
                background-image: linear-gradient(-180deg, #006EB9 0%, #004990 100%);
                border: 1px solid #00478D;
                border-radius: 4px;
                font-family: BBVA Office Book; 
                font-size: 18px;
                color: #FFFFFF;
                width: 100%;
                height: 100%;
                padding-bottom: 3%;
                padding-top: 3%;
                
            }
            .bbva-boton-color-verde{
                background-image: linear-gradient(-180deg, #4FB700 0%, #408F00 100%);
                border: 1px solid #408E00;
                border-radius: 4px;
                font-family: BBVA Office Book;
                font-size: 18px;
                font-weight: 100;
                color: #FFFFFF;
                width: 100%;
                height: 100%;
                padding-bottom: 3%;
                padding-top: 3%;
                
            }
            .distancia-lateral{
                padding-left: 5%;
            }
            .distancia-botones{
                padding-top:5%;
            }
            .texto-final{
                font-family: BBVA Office Book;
                font-size: 12px;
                color:#71777f;
                text-align: center;
                padding-top: 5%;
            }
            /*Tasas y Tarifas*/
            .tasas-distancia-titulo{
                padding-top: 4%;
            }
            .tasas-titulo{
                color:#006dcc;
                font-family: BBVA Web Light;
                font-size: 30px;
            }
            .tasas-texto-titulo{
                color:#71777f;
                font-family: Arial;
                font-size: 16px;
                padding-top: 2%;
            }
            .tasas-linea-horizontal{
                padding-top: 5%;
                border-bottom-color: gray;
                border-bottom: 1px solid gray;
            }
            .tasas-iguales{
                color: #41c9f5;
                padding-top: 15%;   
            }
            .tasas-iguales2{
                color: #41c9f5;
                padding-top: 5%;   
            }
            .tasas-contenido-fin{
                padding-top: 5%;
                color:#006dcc;
            }
            .tasas-iguales-individual{
                background-color: #41c9f5;
                width: 80%;;
                height: 5px;
                margin-bottom:20%;
            }
            .tasas-li{
                color: #41c9f5;
                padding-top: 5%;
            }
            .tasas-li-span{
                padding-top: 3%;
                width: 100%;
            }
            .tasas-final{
                font-family:  BBVA Office Book;
                font-size: 12px;
                color: #71777f;
                text-align: center;
            }
            /*REQUISITOS*/
            .requisitos-titulo{
                color:#006dcc;
                font-family: BBVA Web Light;
                font-size: 30px;
                padding-top: 7%;       
            }
            .requisitos-distancia-tabla{
                padding-top: 5%;
            }
            .requisitos-table-head{
                font-family: BBVA Office Book;
                font-weight: bold;
                font-size: 16px;
                color:#4e5258;
                background-color: #c1c0bc;
                background-color: gray;
            }
            .requisitos-table-tr{
                color:#71777f;
                font-family: Arial;
                font-size: 14px;
                align-items: center;
                font-weight: 100;
            }
            .requisitos-icon-azul{
                color: #41c9f5;
                text-align: center;
                font-size: 20px;
            }
            table tr{
                vertical-align:middle;
            }
            tr:nth-child(odd) {
                background-color:#fbfbfb;
                vertical-align:middle;
                
            }
            tr:nth-child(even) {
                background-color:#f2f2f2;
                vertical-align:middle;
                width: 100px;
                height: 70px;;
            }
            /*GOSARIO*/
            .glosario-distancia-vertical{
                padding-top: 5%;
            }
            .glosario-icono-izquierda{
                background-color: #3b414e;
            }
            .glosario-texo-icono{
                font-family: BBVA Web Light;
                font-size: 30px;
                color: #FFFFFF;
            }
            .glosario-texto-titulo{
               color: #006dcc;
                font-family: BBVA Office Book;
                font-size: 16px;
                font-weight: 100;
            }
            .glosario-texto-titulo2{
               color: #006dcc;
                font-family: BBVA Office Book;
                font-size: 16px;
                font-weight: 100;
                padding-top: 3%;
            }
            .glosario-texto-contenido{
                color: #71777f;
                font-family: Arial;
                font-size: 16px;
                font-weight: 100;
                padding-top: 1%;
                
            }
            .glosario-texto-linea{
                border-left: 1px solid gray;
            }
            
            /*SABIAS QUE*/
            .sabias-distancia-vertical{
                padding-top: 4%;
            }
            .sabias-contenido-sabias{
                font-family: BBVA Web Light;
                font-size: 67px;
                color:#006dcc;
                height: 50px;;
            }
            .sabias-contenido-que{
                font-family: BBVA Web Light;
                font-size: 67px;
                color:#006dcc;    
            }
            .sabias-icon{
                color: #41c9f5;
                font-size: 30px;
                font-weight: 100;
            }
            .sabias-icon-i{
                color: #41c9f5;
            }
            .sabias-icon-azul{
                color: #41c9f5;
                font-size: 22px;
            }
            .sabias-contenido-texto{
                font-family: Arial;
                font-size: 16px;
                color: #71777f;
                padding-left: initial;  
                padding-right: initial;
                padding-top: 3%;
            }
            .sabias-contenido-azul-li{
                color: #41c9f5; padding-top:3%;
            }
            .sabias-contenido-texto-bold{
                font-weight: bold;
            }
            .sabias-distancia-textos{
                padding-top: 3%;   
            }
            .sabias-contenido-azul{
                background-color: #0059b0;
                color: #FFFFFF;
                font-family: Arial;
                font-size: 16px;
                padding-top: 1%;
            }
            .sabias-contenido-azul-li{
                padding-left: initial;
                padding-right: initial;
                font-weight: 100;
                
            }

    .sabias-imagen{
    position: relative;
    float: right;
    height: 400px;
    top: 120px;
    zoom: 1.1;
    }

.hipotecas-fin-texto2{
    list-style: none;
    font-family: "BBVA Web Light", Arial, sans-serif;
    font-size:16px;
    color:#71777f;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.hipotecas-fin-texto2 li{
    margin-bottom: 20px;
}


.hipotecas-fin-texto2 li span{
    list-style: none;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #71777f;
    padding-right: 15px;
}

/*.hipotecas-fin-texto3{
    list-style: none;
    font-family: "BBVA Web Light", Arial, sans-serif;
    font-size: 17px;
    padding-left: 0px;
    padding-right: 0px;
}*/

.hipotecas-fin-texto3 li{
    margin-bottom: 20px;
}

.hipotecas-fin-texto3 li span{
    color: white;
    font-family: Arial;
    font-size: 16px;
}

.hipotecas-fin-texto3 li span a{
    color: white;
    font-family: Arial;
    font-size: 16px;
}


/*nuevas*/
.hipotecas-fin-texto4{
    list-style: none;
    font-family: "BBVA Book Office Regular", Arial, sans-serif;
    font-size: 18px !important;
    color:#71777f;
    padding-bottom: 20px;
}

.hipotecas-fin-texto4 li{
    margin-bottom: 20px;
}
/**/

.hipotecas-fin-texto6{
    list-style: none;
    font-family:Arial, sans-serif;
    font-size: 16px;
    color:#71777f;
    padding-bottom: 20px;
}

.hipotecas-fin-texto6 li{
    margin-bottom: 20px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #007DD6;
    font-size: 15px;
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
    font-family: "BBVA Web Book", Arial, sans-serif;
}

.nav-tabs>li>a {
    color: #85888F;
    font-size: 15px;
    text-align: center;
    border-bottom-color: transparent;
    font-family: "BBVA Web Book", Arial, sans-serif;
}

/*===============*/
.ajuste-hipotecario-text{
    padding-left: 19px;
}

.hipotecas-fin-texto3{
    list-style: none;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 13%;
}

.hipotecas-fin-texto5{
    list-style: none;
    font-family:Arial, sans-serif;
    font-size: 14px;
    color:#71777f;
}

.ajuste-hipotecas{
    padding-left: 0px !important;
}

.light{
    font-family: "Arial", sans-serif !important;
    font-size: 16px !important;
}
