.rTable {
 	display: table;
 	width: 100%;
 	font-family: Arial, sans-serif;
        font-size: 14px;
 	color: #7D828A;
 	border-top-style: solid ;
  	border-bottom-style:  solid ;
  	border-width: 1px;
  	border-color: #D7D7D7;
}

.rTableRowB {
	background-color: #F4F4F4;
}

.rTableRowC {
	background-color: #E2EBF4;
}
.rTableRow {
    display: table-row;
}
.rTableHeading {
   	display: table-header-group;
   	background-color: #ddd;
}
.rTableCell, .rTableHead {
   	display: table-cell;
   	padding: 3px 10px;
   	border-left-style: solid ;
  	border-right-style:  solid ;
  	border-width: 1px;
  	border-color: #D7D7D7;
}
.rTableHeading {
   	display: table-header-group;
   	background-color: #ddd;
   	font-weight: bold;
}
.rTableFoot {
    	display: table-footer-group;
    	font-weight: bold;
    	background-color: #ddd;
}
.rTableBody {
    	display: table-row-group;
}


.rTable {
  	width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
  	clear: both;
}
.rTableHead, .rTableFoot{
  	background-color: #c1c0bc;
    font-weight: bold;
    
}
.rTableHead-left {
	border-top-left-radius: 2px;
}

.rTableHead-left {
	border-top-right-radius: 2px;
}

.rTableCell, .rTableHead {
  	
  	border-left-style: 1px dotted #999999;
  	border-right-style: 1px dotted #999999;
    /*float: left;*/
    /*height: 70px;*/
    overflow: visible;
    padding: 14px 1.8%;
    width: 15%;
}

.rTable-fcol {
	width: 55%;
}

.rTable:after {
  	 visibility: hidden;
  	 display: block;
  	 font-size: 0;
  	 content: " ";
  	 clear: both;
  	 height: 0;
}

.img-center {
	text-align: center;
	margin:0px auto;
}

/*.flip-scroll {
	height: 1000px;
}*/

.pie-requisitos {
	text-align: center;
	font-family: BBVA Web Book;
	font-size: 12px;
}