.fondo-wizard {
	background-color: #015db4;
    height: 170px;
}

.titulo-wizard-simulador-contenedor {
	text-align: center;
}

.titulo-wizard-simulador-texto {
	color: #fff;
    font-family: BBVA Web Light;
}

.paso-paso-pequeno {
	display: none;
}

.fondo-blanco {
	background-color: #fff;
}

.texto-simulador-centrado {
	text-align: center !important;
}

.texto-centrado-titulo {
    position: relative;
    top: 40px !important;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: BBVA Web Book;
    font-size: 19px;
    color: #006dcc;
}

.tooltipSimulacion .imagen-texto-slider-com {
	position:relative;
    right: none;
    top: -15px;
    left: -3px;
}

.texto-vinetas {
	color: #71777F;
	font-size: 11px;
	font-family: BBVA Web Book;
}

.titulo-simulador-com {
	margin: 30px auto;
}

.simulador-margen {
	margin: auto 10px;
}

.texto-simulador-com-uno {
	position: relative;
	top: 20px;
}

.texto-simulador-com-dos {
	position: relative;
	top: 20px;
}

.texto-simulador-com-tres {
	position: relative;
	top: 20px;
}

.texto-simulador-com-cuatro {
	position: relative;
	top: 20px;
}

.texto-nota {
	font-size: 12px !important;
	font-family: BBVA Web Book;
	text-align: center;
	position: relative;
	top: 10px;
	margin: 20px auto;
}

.adorno-blando {
	background: #fff;
	height: 30px;
	position: relative;
	top: 15px;
	border-radius: 3px;
	padding: 0;
}

.mar-izq {
	position: relative;
	width: 10px;
	top: 19px;
	right: 9px;
	float: left !important;
}

.mar-der {
	width: 10px;
	float: right;
	position: relative;
	top: 19px;
	left: 11px;
}

.texto-slider-valor-sim {
    color: #71777f;
    font-size: 16px !important;
    text-align: right;
    width: 87%;
    position: relative;
    top: 12px;
    text-align: center;
    margin-left: auto;
}

.delineado-div {
	border-style: solid;
	border-width: 1px;
	border-color: #C8D9E8;
	width: 70%;
	border-radius: 5px;
}

.contenedor-img-tool-sim {
	position: absolute;
    right: 57px;
    top: 15px;
}

.fondo-gris {
	background-color: #F4F4F4;
}

.swich-pesos {
	box-shadow: 0 0 0px #8f8f8f inset !important;
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom, #F5F6F8, #fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #F5F6F8, #fff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #F5F6F8, #fff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #F5F6F8, #fff); /* Standard syntax */
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #CDDFED;
	width: 179px;
	height: 40px;
	font-family: BBVA Web Book;
	
}

.boton-select {
	float: left;
	color: #999;
	cursor: hand !important;
	width: 86px;
	height: 34px;
	text-align: center;
	padding-top: 8px;
	padding-left: 6px;
	position: relative;
	top: 3px;
	left: 3px;
}

.boton-select-active {
	background-image: url("../../resources/img/boton-azul-swich.png");
	background-repeat: no-repeat;
	background-color: unset;
	color: #fff !important;
}

.radio-decision {
	
}

.radio-decision tr:nth-child(odd) {
    background-color:unset;
    vertical-align:unset;
}

.radio-decision .ui-radiobutton-box {
	width: 30px !important;
	height: 30px !important;
	border-radius: 30px !important;
}

.radio-decision .ui-icon-bullet{
	background-image: url("../../resources/img/swich-decision.png") !important;
	position: relative;
	left: 5px;
	top: 6px;
}

.radio-decision .ui-icon-bullet {
	background-position: inherit;
}

/*Sierra Charlie*/
.degrade-simulador {
 background: #F4F4F4;
 background: -moz-linear-gradient(top, #F4F4F4 0%, #ffffff 100%);
 background: -webkit-gradient(left top, left bottom, color-stop(0%, #F4F4F4), color-stop(100%, #ffffff));
 background: -webkit-linear-gradient(top, #F4F4F4 0%, #ffffff 100%);
 background: -o-linear-gradient(top, #F4F4F4 0%, #ffffff 100%);
 background: -ms-linear-gradient(top, #F4F4F4 0%, #ffffff 100%);
 background: linear-gradient(to bottom, #F4F4F4 0%, #ffffff 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#ffffff', GradientType=0 );
}

.selectSimulador .ui-selectonemenu-label {
 height: 35px;
}

.selectSimulador .ui-selectonemenu-trigger {
 width: 40px;
 padding: 7px 11px;
}

.selectSimulador .uneditable-input, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=color], input[type=search], select, textarea {
 height: 40px;
}

.selectSimulador .uneditable-input, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=color], input[type=search], select, textarea {
  font-family: BBVA Web Book; 
  font-size:18px; 
  color:#006dcc; 
  text-align: center; 
  width: 87%; 
}


.botonStep{
 padding-top: 50px !important;
 padding-bottom: 50px !important;
}

.borderDetail{
 border-bottom: 1px solid lightgray;
}

.borderTitulo {
	border-top: 1px solid lightgray;
}

.paadding-titulo {
	padding-left: 20px;
	padding-right: 20px;
}

.text-subir {
	position: relative;
	top: -11px;
	background-color: #F4F4F4;
	padding-left: 10px;
	padding-right: 10px;
	font-family: BBVA Web Book;
	font-size: 12px;
	color: #71777f;
	ont-weight: 900;
}

.valores tr:nth-child(even) {
 /* background-color: #f2f2f2; */
 vertical-align: middle;
 width: 100px;
 /* height: 70px; */
}
/*Fin Sierra Charlie*/


.simulador-tabla-cuota {
	font-family: BBVA Web Book;
	font-size: 14px;
}

.simulador-titulo-valor-cuota {
	font-family: BBVA Web Book;
	font-size: 14px;
}

.simulador-varlor-cuota  {
	font-family: BBVA Web Book;
	font-size: 40px;
	margin-top: 6px;
	margin-bottom: 10px;
}

.simulador-efectivo {
	background-color: #0159B3;
	color: #fff;
	border-radius: 4px;
	position: relative;
	top: 4px;
}

.contenedor-efectivo {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
}

.contenedor-com-cuota {
	position: relative;
	top: 5px;
}

.tabla-simulador {
	font-family: BBVA Web Book;
	font-size: 15px;
}

.tabla-fila-simulador {
	margin-top: 15px;
	padding-right: 5px;
	padding-left: 5px;
}

.alinear-izq {
	text-align: right;
}

.alinear-centro {
	text-align: center;
	margin-top: 15px;
	color: #006DCC;
}

.fondo-gris-fila {
	margin-top: 15px;
	padding-right: 8px;
	padding-left: 8px;
}

.fgris {
	background-color: #E0E0E0;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 5px;
}

.botonStepReg {
	text-align: right;
}

.botonStepSig {
	text-align: left;
}

.img-float {
	float: left;
	float: left;
	padding-right: 10px;
}

.row-componentes-botones {
	margin-top: 45px;
	margin-bottom: 70px;
}

.adorno-pequeno {
	display: none;
}

@media only screen and (max-width : 950px) {
	.paso-paso-grande{
		display: none;
	}
	
	.paso-paso-pequeno {
		display: block;
		text-align: center !important;
	}
	
	.simulador-margen {
		margin: auto 70px;
	}
	
	.mar-izq {
		top: 25px;
	}
	
	.mar-der {
		top: 25px;
	}
	
	.contenedor-img-tool-sim {
		right: 40px;
	}
}

.row-simulador {
	border-bottom-style: inset;
	border-width: 1px;
}

.row-simulador-completar {
	margin-top: 37px;
}

.centrar-pesos-simulador {
	position: relative;
	top: -28px;
}

.texto-simulador-paso-pesos {
	font-family: BBVA Web Book;
	font-size: 16px;
	position: relative;
	top: 8px;
	float: left;
}

.texto-simulador-paso {
	font-family: BBVA Web Book;
	font-size: 16px;
	position: relative;
	top: 24px;
	float: left;
}

.imagen-texto-slider-paso {
	position: relative;
	right: -10px;
}

.contenedor-img-tool-paso {
	
}

.row-componentes {
	position: relative;
	top: 11px;
}

.componente-simulador-paso {
	
}



a.tooltipSimulacionPaso{
  position: relative;
  display: inline;
}
a.tooltipSimulacionPaso:after{
  	background: rgba(255, 253, 238, 1) none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    color: #59595b;
    content: attr(data-tool);
    display: block;
    font-family: ArialMT;
    font-size: 12px;
    height: auto;
    line-height: 16px;
    min-width: 100px;
    opacity: 0;
    padding: 5px 8px;
    position: absolute;
    left: -65px !important;
    text-align: center;
    text-decoration: none;
    visibility: hidden;
    width: 178px;
    z-index: 1000;
    top: -50px;
    top: -75px;
}
 
a.tooltipSimulacionPaso:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  right: -50px !important;
  bottom: 0px;
  opacity: 0;
  content: "";
  border-width: 6px 6px 0 6px;
  border-color: rgba(255,253,238,1) transparent transparent transparent;
  width: 150px;
}

a.tooltipSimulacionPaso:hover:after{ visibility: visible; opacity: 1; bottom: 20px; }
a.tooltipSimulacionPaso:hover:before{ visibility: visible; opacity: 1; bottom: 14px; }


a.tooltipSimulacionPasoPesos{
  position: relative;
  display: inline;
}
a.tooltipSimulacionPasoPesos:after{
  	background: rgba(255, 253, 238, 1) none repeat scroll 0 0;
	border-radius: 5px;
	bottom: 0;
	color: #59595b;
	content: attr(data-tool);
	display: block;
	font-family: ArialMT;
	font-size: 12px;
	height: auto;
	line-height: 16px;
	min-width: 100px;
	opacity: 0;
	padding: 5px 8px;
	position: relative;
	left: 206px !important;
	text-align: center;
	text-decoration: none;
	visibility: hidden;
	width: 178px;
	z-index: 999;
	top: -92px;
    
}
 
a.ttooltipSimulacionPasoPesos:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  right: -50px !important;
  bottom: 0px;
  opacity: 0;
  content: "";
  border-width: 6px 6px 0 6px;
  border-color: rgba(255,253,238,1) transparent transparent transparent;
  width: 150px;
}

a.tooltipSimulacionPasoPesos:hover:after{ visibility: visible; opacity: 1; bottom: 20px; }
a.tooltipSimulacionPasoPesos:hover:before{ visibility: visible; opacity: 1; bottom: 14px; }


.imagen-texto-slider-paso-pesos {
    position: relative;
    top: 9px;
    right: -10px;
}

.linkPesos {
	
}

.quitar-padding {
	padding: unset !important;
}

.table-transparente tr:nth-child(2n) {
	background-color: unset;
}

.table-transparente tr:nth-child(2n+1){
	background-color: unset;
}

.adorno-gris {
	background-color: #F4F4F4; 
	height: 30px; 
	border-radius: 0 5px 0 0;
	display: none;
}

.selectOneMenuSimulador .ui-inputfield {
	box-shadow: 0 0 1px #8f8f8f inset !important;
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom, #F5F6F8, #fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #F5F6F8, #fff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #F5F6F8, #fff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #F5F6F8, #fff); /* Standard syntax */
	height: 40px !important;
	position: relative !important;
	top: -1px !important;
}

.selectOneMenuSimulador .ui-selectonemenu-trigger {
	background-image: url("../../resources/img/select-der.png") !important;
	width: 40px;
}

.selectOneMenuSimulador .ui-icon {
	background-image: unset !important;
}

.selectOneMenuSimulador .ui-selectonemenu-label {
	color: #006DCC;
	padding-top: 10px;
	padding-left: 10px;
	font-family: BBVA Web Book;
	font-size: 14px;
}

.inputTextSimulador {
	box-shadow: 0 0 0px #8f8f8f inset !important;
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom, #F5F6F8, #fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #F5F6F8, #fff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #F5F6F8, #fff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #F5F6F8, #fff); /* Standard syntax */
	color: #006DCC !important;
	font-family: BBVA Web Book !important;
	font-size: 14px !important;
}

.calendarSimulador input {
	width: 85% !important;
	box-shadow: 0 0 0px #8f8f8f inset !important;
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom, #F5F6F8, #fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #F5F6F8, #fff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #F5F6F8, #fff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #F5F6F8, #fff); /* Standard syntax */
	color: #006DCC !important;
	font-family: BBVA Web Book !important;
	font-size: 14px !important;
}

.calendarSimulador button {
	background-image: url("../../resources/img/calendar-der.png") !important;
	width: 40px;
	height: 40px;
}

.calendarSimulador .ui-icon {
	background-image: unset;
}

.margen-simulador {
	margin-bottom: 24px;
}

.margen-simulador-primero {
	margin-top: 6px;
}

.titulo-label-simulador {
	position: relative;
	top: 10px;
	font-weight: 300;
	font-family: BBVA Web Book;
	font-size: 14px;
}

.texto-campo-ocultos {
	background-color: #FFF;
}

.linea-simulador {
	border-bottom-style: solid;
	border-bottom-width: 1px; 
	text-align: center;
}

.text-subir-blanco {
    position: relative;
    top: -11px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-family: BBVA Web Book;
    font-size: 16px;
    color: #71777f;
    ont-weight: 900;
}

.margen-text {
	margin-bottom: 24px;
	margin-top: 24px;
}

.margenRadioSimulador td {
	padding: 0.5000em .5em 0em .72em !important;
}

.margenRadioSimulador {
	margin-bottom: unset !important;
}

.list-oficinas {
	height: 300px;
	overflow: scroll;
	overflow-x: hidden;
	position: relative;
	top: 30px;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: #DDE3EA;
}

.item-oficina {
	
}

.item-ofi a:hover,
.item-ofi a:focus {
	background-color: #EBF4F9 !important;
}

.item-ofi {
	font-family: BBVA Web Light;
	border-top: solid;
	border-width: 1px;
	border-color: #DDE3EA;
	border-radius: 4px;
}


.item-ofi-padding {
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 2px;
}

.detalle_list_oficinas {
	font-size: 12px;
}

.radioListOficina {
	
}

.radioListChekedOficina {
	
}

.nombre_list_oficinas {
	
}

.alto-oficinas {
	
}

.divRadioSimulador {
	box-shadow: 0 0 0px #8f8f8f inset !important;
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom, #F5F6F8, #fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #F5F6F8, #fff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #F5F6F8, #fff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #F5F6F8, #fff); /* Standard syntax */
    background-repeat: repeat-x;
    border-color: #dde3ea;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 30px;
}

.divRadioSimuladorSelected {
	background-color: #006dcc;
    border-radius: 12px;
    height: 15px;
    margin-left: 7px;
    margin-top: 7px;
    width: 15px;
}

.margenDatosDatos {
	margin-top: 6px;
}

.simulador-efectivo {
    background-color: #0159b3;
    border-radius: 4px;
    color: #fff;
    padding-bottom: 5px;
    top: 3px;
    width: 208px;
}

.fondo-pesta {
	height: 50px;
}

.pestanaSimulador {
	background-color: #fff;
	height: 50px;
	
}

.titulo-info-simulador {
	color: #006dcc;
    font-family: BBVA Web Book;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 50px;
    text-align: center;
}

.delineado-caja-simulador {
	border-color: #dcdcdc;
    border-style: solid;
    border-width: 1px;
}

.delineado-subcaja-simulador {
	border-color: #dcdcdc;
    border-style: solid;
    border-width: 1px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px;
}

.titulo-caja-simulador {
	font-family: BBVA Web Book;
    font-size: 12px;
    min-height: 40px;
}

.valor-caja-simulador {
    color: #006dcc;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 50px;
}

.tablaSimulador {
	margin-top: 15px;
}

.tablaSimulador table {
    font-family: BBVA Web Book !important;
    padding: unset !important;
    table-layout: unset;
    text-transform: unset;
}

.tablaSimulador th {
	background: unset !important;
	padding: unset !important;
	text-align: left !important;
	padding-left: 4px !important;
	background: #c8c7c5 none repeat scroll 0 0 !important;
	border-style: unset !important;
	color: #585b62 !important;
    padding: 8px 10px !important;
    text-transform: unset;
}

.tablaSimulador td {
	height: 45px;
	border-style: solid !important;
	border-width: 1px !important;
}

.tablaSimulador tr {
	height: 45px;
}

.tablaSimulador .ui-state-default {
	padding: unset;
}

.tablaSimulador span {
	padding: unset !important;
	background: unset;
	font-size: 11px;
    font-weight: bold;
}

.quitar-padding-tabla .rTableCell, 
.quitar-padding-tabla .rTableHead {
    padding: unset !important;
    width: 5px !important;
    padding: 3px 0px !important;
    color: #585b62;
    line-height: 1;
}

.quitar-padding-tabla .rTableHead {
	border-width: 0;
	color: #585b62;
	font-size: 12px;
}

.quitar-padding-tabla .rTableCell {
	font-size: 14px;
}

.centrar-contenido-caja{
	margin-left: 4px;
	margin-right: 4px;
}

.margen-elementos {
	margin-top: 10px;
}

@media only screen and (max-width : 768px) {
	
	.list-oficinas {
		height: unset;
		overflow: unset;
	}
	.componente-simulador-paso {
	    position: relative;
	    top: 20px;
	}
	
	.adorno-grande {
		display: none;
	}
	
	.adorno-pequeno {
		display: block;
	}
	
	.titulo-simulador-com {
		text-align: center;
	}
	
	.segundo-titulo {
		position: relative;
		top: -170px;
	}
	
	.texto-centrado-titulo {
		top: unset !important;
	}
	
	.margen-lados {
		position: absolute;
		width: 98.9%;
	}
	
	.swich-pesos {
		position: relative;
		top: 45px;
	}
	
	.pesos-botones {
		position: relative;
		top: -21px;
	}
	
	.row-simulador-completar {
		min-height: 80px;
	}
	
	.row-simulador {
		height: 125px;
	}
	
}

@media only screen and (max-width : 618px) {
	.adorno-blando {
		top: 21px;
	}
}

@media only screen and (max-width : 580px) {
	.simulador-margen{
		margin: auto 55px;
	}
}

@media only screen and (max-width : 586px) {
	.adorno-blando {
		top: 26px;
	}
	
	.margen-lados {
		width: 98.7%;
	}
}

@media only screen and (max-width : 586px) {
	.texto-simulador-com-cuatro {
		top: 50px;
	}
	
	.texto-nota {
		margin: 56px auto;
	}
}

@media only screen and (max-width : 560px) {
	.adorno-blando {
	    top: 30px;
	}
	
	.simulador-margen {
	    margin: auto 20px;
	}
}

@media only screen and (max-width : 560px) {
	.adorno-blando {
	    top: 35px;
	}
}

@media only screen and (max-width : 560px) {
	.adorno-blando {
	    top: 40px;
	}
}

@media only screen and (max-width : 488px) {
	.adorno-blando {
	    top: 42px;
	}
}

@media only screen and (max-width : 488px) {
	.adorno-blando {
	    top: 45px;
	}
	
	.mar-der {
		left: 9px;
	}
}

@media only screen and (max-width : 460px) {
	.adorno-blando {
	    top: 47px;
	}
}

@media only screen and (max-width : 450px) {
}


@media only screen and (max-width : 438px) {
}

@media only screen and (max-width : 428px) {

}

@media only screen and (max-width : 410px) {

}

@media only screen and (max-width : 388px) {
	.swich-pesos {
	    position: relative;
	    top: 60px;
	}
	
	.pesos-botones {
	    position: relative;
	    top: -41px;
	}
	
	.row-simulador-completar {
	    min-height: unset;
	    position: relative;
	    top: 26px;
	}
}

input:hover,
input:focus,
input:link {
	outline: 0px;
}

/*Form Wizard*/
.bs-wizard {
	border-bottom: solid 1px #e0e0e0;
}

.bs-wizard > .bs-wizard-step {
	padding: 0; 
	position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
	
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
	color: #fff; 
	font-size: 14px; 
	margin-bottom: 5px;
	font-family: BBVA Web Book;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
	color: #999; 
	font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
	box-shadow: 0 0 0px #8f8f8f inset !important;
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom, #F5F6F8, #fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #F5F6F8, #fff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #F5F6F8, #fff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #F5F6F8, #fff); /* Standard syntax */
	position: absolute; 
	width: 30px; 
	height: 30px; 
	display: block; 
	top: 45px; 
	left: 50%; 
	margin-top: -15px; 
	margin-left: -15px; 
	border-radius: 50%;
} 

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
	content: ' '; 
	width: 14px; 
	height: 14px; 
	background: #439a1a; 
	border-radius: 50px; 
	position: absolute; 
	top: 8px; 
	left: 8px; 
} 

.bs-wizard > .bs-wizard-step > .progress {
	position: relative; 
	border-radius: 0px; 
	height: 8px; 
	box-shadow: none; 
	margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
	width:0px; 
	box-shadow: none; 
	background: #439a1a;
	position: relative; 
	top: 2px;
	height: 4px;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
	width:100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
	width:53%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
	width:0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
	width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
	box-shadow: 0 0 0px #8f8f8f inset !important;
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom, #F5F6F8, #fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #F5F6F8, #fff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #F5F6F8, #fff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #F5F6F8, #fff); /* Standard syntax */
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
	opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child  > .progress {
	left: 50%; 
	width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child  > .progress {
	width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ 
	pointer-events: none; 
}

.bs-wizard-completed-der{
	background: #439a1a none repeat scroll 0 0;
    height: 4px;
    left: 21px;
    position: relative;
    top: 8px;
    width: 9px;
}
.bs-wizard-completed-izq{
	background: #439a1a none repeat scroll 0 0;
    height: 4px;
    position: relative;
    top: 12px;
    width: 9px;
}

.active .bs-wizard-completed-der,
.disabled .bs-wizard-completed-der {
	background-color: unset;
}

.disabled .bs-wizard-completed-izq {
	background-color: unset;
}

.disabled .bs-wizard-stepnum {
	color: #59A3E4 !important;
}

.bs-wizard-step-movil {
	display: none;
	color: #fff;
    font-family: BBVA Web Book;
    font-size: 14px;
    margin-bottom: 5px;
}

@media only screen and (max-width : 680px) {
	.bs-wizard-stepnum {
		display: none !important;
	}
	
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
		position: absolute !important;
		top: 25px !important;
	}
	
	.bs-wizard-step-movil {
		display: block;
	}
	
}
/*END Form Wizard*/

.swich-desicion {
	width: 175%;
}

.boton-desicion {
	float: left;
	color: #999;
	cursor: hand !important;
	height: 35px;
	width: 35px;
	text-align: center;
	padding-left: 0;
    padding-top: 6px;
	position: relative;
	top: 3px;
	left: 3px;
	border-style: solid;
	border-width: 	1px;
	border-color: #0178D2;
	border-radius: 30px;
	padding-left: 1px;
    padding-top: 6px;
    color: #0178D2;
}

.boton-desicion-select-active {
	background-color: #0178D2;
	color: #fff !important;
}

/* Personalizacion selectonemenu */
div.ui-selectonebutton.ui-buttonset{
	width: 100%;
	padding: 0px;
}

div.ui-selectonebutton.ui-buttonset div.ui-button.ui-widget {
	color:white;
	border-style: none;
	padding: 1px;
	width: 50%;
	background: unset;
}

div.ui-selectonebutton.ui-buttonset div.ui-button.ui-widget.ui-state-default.ui-button-text-only span.ui-button-text {
	height: 95%;
	color: #999;
	padding-top: 10px;
	text-shadow: none;
}

div.ui-selectonebutton.ui-buttonset div.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-state-hover{
	 box-shadow: unset;
}

div.ui-selectonebutton.ui-buttonset div.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-state-active span.ui-button-text {
	background-image: url("../../resources/img/boton-azul-swich.png");
	background-repeat: no-repeat;
	background-color: unset;
	background-size: cover;
	color: white;
}