<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard-bread.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="content-b">
        <h:form id="homeSimuladorForm" prependId="false">
            <p:outputPanel rendered="#{homeSimuladorForm == true}">
                <div id="imagen-fondo-agendamiento" class="imagen-fondo-agendamiento agendamiento-grande">
                    <div class="container">
                        <div class="col-lg-11">
                            <div class="col-lg-5 text-banner-agend">
                                Agenda tu cita para acompañarte en tu sueño
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <div class="col-lg-4 text-banner-agend2">
                                Queremos darte toda la ayuda y asesoría que necesites, estamos para tí.
                            </div>
                        </div>
                    </div>
                </div>

                <div style="background-color: #ABAEAC; " class="container text-center agendamiento-pequeno">
                    <img src="../resources/img/agendamiento-movil.jpg" />
                    <div class="imagen-fondo-movil agendamiento-pequeno">
                        <div class="container quitar-padding">
                            <div class="div-blanco-con text-center">
                                <br></br>
                                Formulario de Agendamiento
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <!--<div class="col-lg-7 hipotecas-blanco pestSup"></div>-->
                <div id="contenedor" class="container sombra-agendamiento" >
                    <div id="img" class="col-lg-12 div-blanco-texto posicion container quitar-padding">
                        <div class="div-blanco text-center">
                            Formulario de Agendamiento
                        </div>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="row borderTitulo text-center margen-text">
                            <span class="text-center text-subir-blanco">Ingresa tus datos y te agendaremos tu cita</span>
                        </div>
                        <div class="margen-Agendamiento">

                            <div class="row margen-simulador">
                                <div class="col-lg-6">
                                    <p class="titulo-label-simulador">¿Cuál es tu nombre?</p>
                                    <p:inputText value="#{agendamientoBean.nombre}" id="nombre" styleClass="inputTextSimulador" style="width:100%; height: 40px; border:1px solid lightgray" required="true" requiredMessage="Por favor ingresa tu nombre">
                                    </p:inputText>									
                                </div>
                                <div class="col-lg-6">
                                    <p class="titulo-label-simulador">¿Cuál es tu apellido?</p>
                                    <p:inputText value="#{agendamientoBean.apellido}" styleClass="inputTextSimulador" id="apellido" style="width:100%; height: 40px; border:1px solid lightgray" required="true" requiredMessage="Por favor ingresa tus apellidos" >
                                    </p:inputText>
                                </div>
                            </div>

                        </div>
                        <div class="row margen-simulador">
                            <div class="col-lg-6">
                                <p class="titulo-label-simulador">*Tipo de identificación</p>
                                <p:selectOneMenu id="tipoIdentificacion" value="#{agendamientoBean.tipoIdentificacion}" class="selectOneMenuSimulador" style="width:100%; height: 40px" required="true" requiredMessage="Por favor selecciona una de las opciones">
                                    <f:selectItem itemLabel="Seleccione una opción" itemValue="Seleccione" noSelectionOption="true"/>
                                    <f:selectItem itemLabel="Carnet Diplomatico" itemValue="A"/>
                                    <f:selectItem itemLabel="NIP" itemValue="0"/>
                                    <f:selectItem itemLabel="Cedula de Ciudadanía" itemValue="1"/>
                                    <f:selectItem itemLabel="Cedula de Extranjeria" itemValue="2"/>
                                    <f:selectItem itemLabel="NIT Persona Juridica (Nacional)" itemValue="3" />
                                    <f:selectItem itemLabel="Tarjeta de Identidad" itemValue="4"/>
                                    <f:selectItem itemLabel="Pasaporte" itemValue="5"/>
                                    <f:selectItem itemLabel="NIT Extranjeria" itemValue="6"/>
                                    <f:selectItem itemLabel="SOC. Extranjeras Sin NIT" itemValue="7"/>
                                    <f:selectItem itemLabel="Ident Fideicomiso" itemValue="8"/>
                                    <f:selectItem itemLabel="NIT Para Personas Naturales" itemValue="9"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="col-lg-6">
                                <p class="titulo-label-simulador">*Numero de identificación</p>
                                <p:inputText value="#{agendamientoBean.identificacion}" id="identificacion" class="inputTextSimulador"  style="width:100%; height: 40px;" required="true" requiredMessage="Por favor ingresa tu documento de identidad" />
                            </div>
                        </div>
                        <div class="margen-agendamiento">
                            <div class="row margen-simulador">
                                <div class="col-lg-6">
                                    <p class="titulo-label-simulador">¿Tu correo electrónico?</p>
                                    <p:inputText value="#{agendamientoBean.correo}" id="correo" styleClass="inputTextSimulador" style="width:100%; height: 40px; border:1px solid lightgray" required="true" requiredMessage="Por favor ingresa tu correo electrónico" validatorMessage="Formato de correo electronico invalido" >
                                        <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                    </p:inputText>	
                                </div>
                                <div class="col-lg-6">
                                    <p class="titulo-label-simulador">¿Tu teléfono Fijo?</p>
                                    <p:inputText value="#{agendamientoBean.telefono}" onkeypress="return valida(event)" styleClass="inputTextSimulador" id="telefono" style="width:100%; height: 40px; border:1px solid lightgray"  />
                                </div>
                            </div>
                        </div>
                        <div class="margen-agendamiento">
                            <div class="row margen-simulador">
                                <div class="col-lg-6">
                                    <p class="titulo-label-simulador">¿Tu teléfono Celular?</p>
                                    <p:inputText value="#{agendamientoBean.celular}" onkeypress="return valida(event)" styleClass="inputTextSimulador" id="celular" style="width:100%; height: 40px; border:1px solid lightgray" required="true" requiredMessage="Por favor ingresa tu número celular" />
                                </div>
                                <div class="col-lg-6">

                                </div>
                            </div>
                        </div>
                        <div class="row borderTitulo text-center margen-text">
                            <span class="text-center text-subir-blanco">De donde nos contactas</span>
                        </div>
                        <div class="row margen-simulador">
                            <div class="col-lg-6">
                                <p class="titulo-label-simulador">*Tu país de nacimiento </p>
                                <p:selectOneMenu id="paisNacimiento" value="#{agendamientoBean.paisNacimiento}" class="selectOneMenuSimulador" style="width:100%; height: 40px" required="true" requiredMessage="Por favor selecciona tu país de nacimiento">
                                    <f:selectItem itemLabel="Seleccione" itemValue="SELECCIONE" />
                                    <f:selectItems value="#{agendamientoBean.optionsPais}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="col-lg-6">
                                <p class="titulo-label-simulador">*Tu país de residencia </p>
                                <p:selectOneMenu id="paisResidencia" value="#{agendamientoBean.paisResidencia}" class="selectOneMenuSimulador" style="width:100%; height: 40px" required="true" requiredMessage="Por favor selecciona tu país de residencia">
                                    <p:ajax listener="#{agendamiento.onPaisChange}" update="departamentoResiencia"/>
                                    <f:selectItem itemLabel="Seleccione" itemValue="SELECCIONE"/>
                                    <f:selectItems value="#{agendamientoBean.optionsPais}"/>
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <div class="row margen-simulador">
                            <div class="col-lg-6">
                                <p class="titulo-label-simulador">*Tu departamento de residencia </p>
                                <p:selectOneMenu id="departamentoResiencia" value="#{agendamientoBean.departamentoResiencia}" class="selectOneMenuSimulador" style="width:100%; height: 40px" required="true" requiredMessage="Por favor selecciona tu departamento de residencia" >
                                    <p:ajax listener="#{agendamiento.onDepartamentosChange}" update="ciudadResidencia"/>
                                    <f:selectItem itemLabel="Seleccione" itemValue="SELECCIONE" />
                                    <f:selectItems value="#{agendamientoBean.optionsDepartamento}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="col-lg-6">
                                <p class="titulo-label-simulador">*Ciudad de residencia</p>
                                <p:selectOneMenu id="ciudadResidencia" value="#{agendamientoBean.ciudadResidencia}" class="selectOneMenuSimulador" style="width:100%; height: 40px">
                                    <f:selectItem itemLabel="Seleccione" itemValue="SELECCIONE"/>
                                    <f:selectItems value="#{agendamientoBean.optionsCiudades}"/>
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <div class="row borderTitulo text-center margen-text">
                            <span class="text-center text-subir-blanco">De donde nos contactas</span>
                        </div>
                        <div class="row margen-simulador">
                            <div class="col-lg-6">
                                <p class="titulo-label-simulador">*¿Cuándo deseas ser contactado?</p>
                                <p:calendar value="#{agendamientoBean.fechaContacto}" id="fechaContacto" showOn="button" locale="es" styleClass="calendarSimulador" style="width:100%; height: 40px" required="true" requiredMessage="Por favor ingresa una fecha para ser contactado" />
                            </div>
                            <div class="col-lg-6">
                                <p class="titulo-label-simulador">*¿En qué horario?</p>
                                <p:selectOneMenu id="horario" value="#{agendamientoBean.horario}" class="selectOneMenuSimulador" style="width:100%; height: 40px" required="true" requiredMessage="Por favor seleccionar un horario para ser contactado" >
                                    <f:selectItem itemLabel="Seleccione" itemValue="SELECCIONE" />
                                    <f:selectItem itemLabel="En la mañana" itemValue="Manana" />
                                    <f:selectItem itemLabel="En la tarde" itemValue="Tarde" />
                                    <f:selectItem itemLabel="En la noche" itemValue="Noche" />
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <div class="row margen-simulador">
                            <div class="col-lg-12">
                                <p class="titulo-label-simulador">*¿Cuál es tu asunto?</p>
                                <p:inputTextarea id="asunto" value="#{agendamientoBean.asunto}" rows="6"  style="width: 100%; height: 115px" styleClass="textAreaSimulador" required="true" requiredMessage="Por favor ingresa el asusto de tu contacto"/>
                            </div>
                        </div>
                        <div class="row margen-simulador">
                            <div class="col-lg-11 col-lg-offset-3">
                                <div class="col-lg-1">
                                    <p:selectBooleanCheckbox id="terminos" value="#{agendamientoBean.terminos}" styleClass="checkboxSimulador" />
                                </div>
                                <div class="col-lg-10">
                                    <p class="titulo-label-simulador">*¿Aceptas los <a href="javascript:void(0)" onclick="PF('mensajeTerminos').show();">términos y condiciones</a>?</p>
                                </div>
                            </div>
                        </div>
                        <!-- 						<div class="row margen-simulador">
                                                                                <div class="col-lg-11 col-lg-offset-3">
                                                                                        <div class="col-lg-11">
                                                                                                <p:captcha label="Captcha" value="false" />
                                                                                        </div>
                                                                                        <div class="col-lg-11">
                                                                                                <p:commandButton value="Validar" actionListener="#(agendamiento.submitCaptcha" ajax="false" icon="ui-icon-check" />
                                                                                        </div>
                                                                                </div>
                                                                        </div>						 -->
                        <div class="row margen-simulador text-center">
                            <div class="col-lg-11 col-lg-offset-3">
                                <div class="col-lg-1">
                                    <p:selectBooleanCheckbox id="captchaVal" value="#{agendamientoBean.captchaVal}" styleClass="checkboxSimulador" style="color:blue; text-align:right;" >
                                        <p:ajax event="change" update="growl" listener="#{agendamiento.submitCaptcha}" />
                                    </p:selectBooleanCheckbox>
                                </div>
                                <div class="col-lg-10">
                                    <p style="color:blue; text-align:left;">No soy un Robot</p>
                                </div>
                            </div>
                            <!--  							<div class="col-lg-10">
                                                                                            <p:commandButton id="validaCaptcha" value="Validar" icon="ui-icon-check" style="color:blue; text-align:center;" >
                                                                                                    <p:ajax actionListener="#(agendamiento.submitCaptcha}" update="captchaVal"/>
                                                                                            </p:commandButton>
                                                                                    </div> -->
                        </div>
                        <div class="row margen-simulador text-center">
                            <div class="col-lg-11 col-lg-offset-3 text-center">
                                <div class="text-center">
                                    <p:growl id="growl" showDetail="true" />
                                    <p:messages id="mensaje" />
                                </div>				  	            	
                            </div>
                        </div>
                        <div class="row margen-simulador">
                            <div class="col-lg-11 col-lg-offset-3">
                                <p:commandButton value="Enviar" action="generarAgendamiento" styleClass="btn_viv" update="growl" />
                            </div>
                        </div>						
                    </div>

                </div>
                <script>

                    function pestana() {
                        var ele = document.getElementById("imagen-fondo-Agendamiento");
                        var offSetWidth = ele.offsetHeight;
                        var elemento = document.getElementById('contenedor');
                        //var contenedor = elemento.getBoundingClientRect().top;
                        contenedor = offSetWidth - 60;
                        document.getElementById("img").style = "position: relative;top: " + contenedor + "px";
                    }

                    pestana();

                    $(window).resize(function () {

                        pestana();

                    });


                </script>
            </p:outputPanel>	
        </h:form>
    </ui:define>
</ui:composition>