<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard-bread.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content-b">
        <h:form>

            <!--

            <div class="container2 img-grande">
                <img src="../resources/img/ficha_hipotecas_small.jpg"></img>
            </div>

            <div class="container2 img-pequeno">
                <img src="../resources/img/ficha_producto_pequeno.jpg"></img>
            </div>

            -->

            <!--contenido-->

            <!-- Desktop-->
            <div class="desktop">
                <div id="ContenidoPestana" class="row">
                    <div class="tab-content">

                        <div class="row" style="background-color: powderblue">
                            <div class="containerrrr">
                                <div class="row">

                                    <div class="desktop">

                                        <div class="col-lg-1 hidd" style="width: 15%;"></div>

                                        <div class="col-lg-4" style="width: 30%; padding: 0px ">

                                            <h1 class="title-vivienda">En BBVA trasteamos tu hogar a la casa que quieres.</h1>
                                            <p class="texto-vivienda">
                                                Aprovecha todos los beneficios de nuestras líneas de financiación para que compres vivienda VIS y No VIS.
                                            </p>

                                            <div class="padding hipotecas-blanco">
                                                <!-- desktop -->
                                                <div class="desktop">

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/medallaTrans.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <span id="text">Desde <b>43,5 SMMLV</b> hasta <b>135 SMMLV</b></span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/ideaTrans.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <span id="text"><strong>80% del menor valor</strong> entre el avalúo y el valor de la compraventa establecido en la promesa.</span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/bolsaTrans.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <span id="text">Desde <strong>$6.000.000 millones</strong></span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/billetesTrans.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <span id="text">Desde <strong>5 y hasta 20 años</strong></span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/hogarTrans.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <span id="text"><strong>12 cuotas</strong> al año</span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- End desktop -->

                                            </div>

                                        </div>
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-6" style="background-color: white;padding: 0px;position: relative;top: 400px;width: 46.66%;">
                                            <table class="table" style="margin: 0px;">
                                                <tr>
                                                    <td class="ahorroPorcWidth" style="padding: 0px; margin-right: 20px;">
                                                        <div style="background-image: url(../resources/img/logo_barra.png); background-repeat: no-repeat; text-align: center;">
                                                            <span class="ahorroPorc">5%</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="descr0 margenesTop">DE AHORRO</p>
                                                        <p class="descr0">EN CREDITOS DE VIVIENDA</p>
                                                        <p class="descr1 margenesBottom2">De agosto a diciembre de 2016</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Pestana blanca fin-->
                        <div class="desktop">
                            <div class="containerrrr">
                                <div id="pestDown" class="row">

                                    <div class="col-lg-1" style="width: 15%;"></div>
                                    <div class="col-lg-4 hipotecas-blanco pestInf2" style="width: 30%; ">
                                        <!--Botones-->
                                        <div class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn header-btn btn success boton" style="position: relative;margin:0px;top: 9px;">Conoce más</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-6" style="width: 46.66%"></div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Fin Desktop-->


            <!--Mobile-->
            <div class="mobile">
                <div class="row">
                    <div class="tab-content">

                        <div class="row">
                            <div class="">
                                <div class="row">
                                    <div class="" style="background-color: aliceblue;">
                                        <div class="padding" style="padding-right: 0px;">

                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <h1 class="title-vivienda2">En BBVA trasteamos tu hogar a la casa que quieres.</h1>
                                                    <p class="texto-vivienda" style="margin-bottom: 150px;padding-right: 60%;">
                                                        Aprovecha todos los beneficios de nuestras líneas de financiación para que compres vivienda VIS y No VIS.
                                                    </p>
                                                </div>

                                                <div class="col-xs-4"></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1"></div>

                                                <div class="col-xs-11" style="padding-right: 0px;">
                                                    <table class="table" style="margin: 0px;">
                                                        <tr>
                                                            <td class="ahorroPorcWidth" style="padding: 0px; margin-right: 20px;">
                                                                <div style="background-image: url(../resources/img/logo_barra.png); background-repeat: no-repeat; text-align: center;">
                                                                    <span class="ahorroPorc">5%</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <p class="descr0">DE AHORRO</p>
                                                                <p class="descr0">EN CREDITOS DE VIVIENDA</p>
                                                                <p class="descr1">De agosto a diciembre de 2016</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Muesca Superior -->
                                        <div class="paddSide3" style="position: relative;bottom: -94%;">
                                            <div id="pestUp" class="row">
                                                <div class="col-lg-12 text-center" style="background-color: white;height: 45px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="padding2">
                                        <div class="padding2" style="box-shadow: #8f8f8f 0px 0px 7px; padding-top: 25px;" >

                                            <div class="row margenes">
                                                <img style="float: left" src="../resources/img/Iconos/medallaTrans.png"/>
                                                <div class="paddWhiteColumn">
                                                    <span class="texto-viviendaBlue" id="text">Desde <b>43,5 SMMLV</b> hasta <b>135 SMMLV</b></span>
                                                </div>
                                            </div>

                                            <div class="row margenes">
                                                <img style="float: left" src="../resources/img/Iconos/ideaTrans.png"/>
                                                <div class="paddWhiteColumn">
                                                    <span class="texto-viviendaBlue" id="text"><strong>80% del menor valor</strong> entre el avalúo y el valor de la compraventa establecido en la promesa.</span>
                                                </div>
                                            </div>

                                            <div class="row margenes texto-viviendaBlue">
                                                <img style="float: left" src="../resources/img/Iconos/bolsaTrans.png"/>
                                                <div class="paddWhiteColumn">
                                                    <span class="texto-viviendaBlue" id="text">Desde <strong>$6.000.000 millones</strong></span>
                                                </div>
                                            </div>

                                            <div class="row margenes">
                                                <img style="float: left" src="../resources/img/Iconos/billetesTrans.png"/>
                                                <div class="paddWhiteColumn">
                                                    <span class="texto-viviendaBlue" id="text">Desde <strong>5 y hasta 20 años</strong></span>
                                                </div>
                                            </div>

                                            <div class="row margenes">
                                                <img style="float: left" src="../resources/img/Iconos/hogarTrans.png"/>
                                                <div class="paddWhiteColumn">
                                                    <span class="texto-viviendaBlue" id="text"><strong>12 cuotas</strong> al año</span>
                                                </div>
                                            </div>

                                            <div class="text-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary" style="position: relative;margin:0px;top: 19px; padding-right: 30px;padding-left: 30px;">Conoce más</button>
                                                </div>
                                            </div>
                                            <!-- End desktop -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin Mobile-->

            <!--Fin contenido -->


            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery-1.12.0.min.js"/>
            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/bootstrap.min.js"/>


            <!-- Fin Contenido -->
        </h:form>
    </ui:define>
</ui:composition>