<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >

    <ui:define name="content">
        <script type="text/javascript">

            (function (doc, win) {
                var docEl = doc.documentElement,
                        recalc = function () {
                            var clientWidth = docEl.clientWidth;
                            if (!clientWidth)
                                return;
                            z
                            docEl.style.fontSize = clientWidth + 'px';
                            docEl.style.display = "none";
                            docEl.clientWidth; // Force relayout - important to new Androids
                            docEl.style.display = "";
                        };

                // Abort if browser does not support addEventListener
                if (!doc.addEventListener)
                    return;

                // Test rem support
                var div = doc.createElement('div');
                div.setAttribute('style', 'font-size: 1rem');

                // Abort if browser does not recognize rem
                if (div.style.fontSize !== "1rem")
                    return;

                win.addEventListener('resize', recalc, false);
                doc.addEventListener('DOMContentLoaded', recalc, false);
            })(document, window);
        </script>

        <script type="text/javascript">

        </script>
        <h:form id="homeSimuladorForm">

            <p:growl id="growl" rendered="#{not facesContext.validationFailed} #{empty facesContext.messages}" />
            <h:outputScript name="tabSimulador.js" library="js" target="body"/>            
            <div class="gris-home">
                <div class="container2 imagen-grande">
                    <img src="../resources/img/01_home.jpg"></img>
                    <span style="position: absolute; top: 600px; left: 39%; width: 50%;">
                        <div class="col-lg-6 clearfix" style="width: 30%;">
                            <div style="width: 100%;">
                                <div class="texto-izquierda-admiracion">
                                    <img src="../resources/iconos/importante.png"></img>&nbsp;#{msg['vivadvertenciaizq']}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 clearfix" style="width: 68%;">
                            <div style="width: 100%;">
                                <div class="texto-derecha">
                                    *#{msg['vivadvertenciader']}
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="container2 imagen-mediano">
                    <img src="../resources/img/01_home_mediano.jpg"></img>
                </div>
                <div class="container2 imagen-mediano-2">
                    <img src="../resources/img/01_home_mediano_dos.jpg"></img>
                </div>
                <div class="container2 imagen-mediano-3">
                    <img src="../resources/img/01_home_mediano_tres.jpg"></img>
                </div>
                <div class="container2 imagen-pequeno-1">
                    <img src="../resources/img/01_home_pequeno_uno.jpg"></img>
                </div>
                <div class="container2 imagen-pequeno-2">
                    <img src="../resources/img/01_home_pequeno_dos.jpg"></img>
                    <!--                     <canvas id="cuadro" style="width: 94%; height: 300px; background-color: #FFFFFF;"></canvas> -->
                    <!-- 		            <span style="position: absolute; top: 600px; left: 39%; width: 50%; background-color: #748595;">
                                                    <div class="col-lg-12" style="background-color: #748595;">
                                                            <div style="width: 100%;">
                                                                    <div class="texto-izquierda-admiracion" style="color: #71777f">
                                                                            <img src="../resources/iconos/importante.png"></img>&nbsp;#{msg['vivadvertenciaizq']}
                                                                            *#{msg['vivadvertenciader']}
                                                                    </div>
                                                                    </div>
                                                            </div>
                                                    </span>                     -->
                </div>
                <div class="container2 imagen-pequeno-3">
                    <img src="../resources/img/01_home_pequeno_tres.jpg"></img>
                </div>
                <div class="container2 imagen-pequeno-4">
                    <img src="../resources/img/01_home_pequeno_cuatro.jpg"></img>
                </div>
                <div class="texto-imagen fixtexto-imagen">
                    <div class="titulo-texto titulo_sumulador paddSide">#{msg['vivtitulo']} <br></br><br></br>#{msg['vivtitulos']}<br></br></div>
                    <div class="titulo-textoPequeno titulo_sumulador_pequeno">#{msg['vivtitulo']} #{msg['vivtitulos']}</div>
                    <div class="descripcion-texto fixdescripcion paddSide">#{msg['vivdescripcion']}</div>
                </div>
                <div class="cuadrado">
                    <!-- Formato Web -->
                    <div style="position:absolute; background-color: #FFFFFF;">

                        <div class="row cuadrado-grande">
                            <div class="margin: auto;">
                                <div class="cuadradoMensajeError">
                                    <p:messages id="mensajeError" showDetail="true" rendered="true" showIcon="false" />
                                </div>
                            </div>                    
                            <!-- Linea de Financiacion -->
                            <div class="col-lg-6 clearfix">
                                <div class="titulo-simulacion texto-aling-home fixedquiero">Quiero</div>
                                <h:panelGroup layout="block" styleClass="titulo-simulacion select-aling-home">
                                    <p:selectOneMenu value="#{dtoLoanSimulation.financialSubline}" id="selectFinancialSubLine2" autoWidth="false" style="padding-right: 0px !important; border: 0 solid #dde3ea; border-top-right-radius: 0; border-top-left-radius: 0; width: 247%;" styleClass="selectOneMenuHome fixedonemenuhome"  >
                                        <p:ajax listener="#{simuladorController.onFinancialSublineChange}" update="selectFinancialSubLine2 selectFinancialLine2 selectFinancialSubLine selectFinancialLine ValorCuotaM ValorCuotaM2 mensajeError" />
                                        <f:selectItem itemLabel="Seleccione" itemValue="" noSelectionOption="true"/>
                                        <f:selectItems value="#{dtoLoanSimulation.financialSublines}"/>
                                    </p:selectOneMenu>
                                </h:panelGroup>
                            </div>
                            <!-- Sublinea de Financiacion -->
                            <div class="col-lg-6 clearfix fix6">
                                <div class="titulo-simulacion texto-aling-home fixedconun">con&nbsp;un</div>
                                <h:panelGroup id="panelConSelect" styleClass="titulo-simulacion select-aling-home">
                                    <p:selectOneMenu value="#{dtoLoanSimulation.financialLine}" id="selectFinancialLine2" autoWidth="false" style="padding-right: 0px !important; border: 0 solid #dde3ea; border-top-right-radius: 0; border-top-left-radius: 0;  width: 226%;"  styleClass="selectOneMenuHome" >
                                        <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="selectFinancialSubLine2 selectFinancialLine2 selectFinancialSubLine selectFinancialLine ValorCuotaM ValorCuotaM2 growl mensajeError" />
                                        <f:selectItem itemLabel="Seleccione" itemValue="" noSelectionOption="true"/>
                                        <f:selectItems value="#{dtoLoanSimulation.financialLines}"/>
                                    </p:selectOneMenu>
                                </h:panelGroup>
                            </div>	
                            <!-- Sublinea de Financiacion -->
                            <span>
                                <div class="col-lg-6 clearfix fixsublinea">
                                    <!-- Costo de la vivienda -->
                                    <div class="texto-prgunta">
                                        <div class="texto-slider">
                                            ¿Cuánto cuesta la vivienda?
                                            <div class="contenedor-img-tool">
                                                <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Indica el valor por el cual deseas comprar tu vivienda">
                                                    <img class="imagen-texto-slider " src="../resources/iconos/pregunta.png" />
                                                </a>
                                            </div>
                                        </div>
                                        <h:inputHidden id="zeroValue" value="30000000"/>
                                        <h:inputHidden id="valorViviendaHidden" value="#{dtoLoanSimulation.priceHousing.amount}"/>
                                        <p:inputNumber id="valorVivienda" value="#{dtoLoanSimulation.priceHousing.amount}" style="font-family: BBVA Web Book; font-size:18px; color:#006dcc; text-align: center; width: 87%;" symbol="$" decimalPlaces="0">
                                            <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="valorVivienda slideVivienda valorViviendaHidden valorViviendaLittle priceHousing valorViviendaLittleH ValorCuotaM ValorCuotaM2 growl mensajeError" />
                                        </p:inputNumber>
                                        <p>  </p>
                                        <p>  </p>
                                        <p:slider styleClass="selectPrime" id="slideVivienda" minValue="30000000" maxValue="1000000000" step="1000000" range="true" for="zeroValue,valorViviendaHidden" style="width: 87%" display="valorViviendaHidden">
                                            <p:ajax event="slideEnd" listener="#{simuladorController.eventSlider}" update="valorVivienda valorViviendaHidden valorViviendaLittle priceHousing valorViviendaLittleH ValorCuotaM ValorCuotaM2 growl mensajeError" />
                                        </p:slider>
                                        <div class="texto-slider-valor-peque">
                                            <div style="float: left; align: left;">$30.000.000</div>	                                        
                                            <div style="float: right; align: right;">$1.000.000.000</div>
                                        </div>
                                    </div>
                                    <!-- Costo de la Vivienda -->        
                                </div>

                                <div class="col-lg-6 clearfix">
                                    <div class="texto-prgunta">
                                        <div class="texto-slider">
                                            ¿Cuánto son tus ingresos mensuales?
                                            <div class="contenedor-img-tool">
                                                <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Si la solicitud de crédito será presentada por el grupo familiar, recuerda insertar en este campo la suma de los ingresos mensuales de las personas que comprarán la vivienda.">
                                                    <img class="imagen-texto-slider " src="../resources/iconos/pregunta.png" />
                                                </a>
                                            </div>
                                        </div>
                                        <h:inputHidden id="zeroValueVI" value="737717"/>
                                        <h:inputHidden id="valorIngresosHidden" value="#{dtoLoanSimulation.montlyIncome.amount}"/>
                                        <p:inputNumber decimalPlaces="0" symbol="$" id="valorIngresos" value="#{dtoLoanSimulation.montlyIncome.amount}" style="font-family: BBVA Web Book; font-size:18px; color:#006dcc; text-align: center; width: 87%;" >
                                            <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="valorIngresos slideIngresos valorIngresosHidden valorIngresosLittle montlyIncome valorIngresosHiddenLitte ValorCuotaM ValorCuotaM2 growl mensajeError" />
                                        </p:inputNumber>
                                        <p>  </p>
                                        <p>  </p>                                    
                                        <p:slider styleClass="selectPrime" id="slideIngresos" minValue="737717" maxValue="100000000" range="true" for="zeroValueVI,valorIngresosHidden" style="width: 87%"  display="valorIngresosHidden" >
                                            <p:ajax event="slideEnd" listener="#{simuladorController.eventSlider}" update="valorIngresosHidden valorIngresos valorIngresosLittle montlyIncome valorIngresosHiddenLitte ValorCuotaM ValorCuotaM2 growl mensajeError" />
                                        </p:slider>
                                        <div class="texto-slider-valor-peque">
                                            <div style="float: left; align: left;">$737.717</div>	                                        
                                            <div style="float: right; align: right;">$100.000.000</div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                            <span>
                                <div class="col-lg-6 clearfix">
                                    <div class="texto-prgunta">
                                        <div class="texto-slider">
                                            ¿Cuánto dinero necesitas?
                                            <div class="contenedor-img-tool">
                                                <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Este dato tiene un límite sobre el valor de la vivienda de acuerdo a la modalidad de crédito que selecciones. Puedes validar el tope en los módulos de información.">
                                                    <img class="imagen-texto-slider " src="../resources/iconos/pregunta.png" />
                                                </a>
                                            </div>
                                        </div>
                                        <h:inputHidden id="zeroValueVS" value="6000000"/>
                                        <h:inputHidden id="valorSolicitadoHidden" value="#{dtoLoanSimulation.amountToFinanced.amount}" />
                                        <p:inputNumber decimalPlaces="0" symbol="$" id="valorSolicitado" value="#{dtoLoanSimulation.amountToFinanced.amount}" style="font-family: BBVA Web Book; font-size:18px; color:#006dcc; text-align: center; width: 87%;" >
                                            <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="valorSolicitado valorSolicitadoHidden slideValorCredito valorSolicitadoLittle amountToFinanced valorSolicitadoHiddenLitte ValorCuotaM ValorCuotaM2 growl mensajeError" />
<!--                                            <f:convertNumber pattern="¤#,##0" currencySymbol="$" />-->
                                        </p:inputNumber>
                                        <p>  </p>
                                        <p>  </p>                                    

                                        <p:slider styleClass="selectPrime" id="slideValorCredito" minValue="6000000" maxValue="1000000000" step="1000000" range="true" for="zeroValueVS,valorSolicitadoHidden" display="valorSolicitadoHidden" style="width: 87%" >
                                            <p:ajax event="slideEnd" listener="#{simuladorController.eventSlider}" update="valorSolicitado valorSolicitadoHidden valorSolicitadoLittle amountToFinanced valorSolicitadoHiddenLitte ValorCuotaM ValorCuotaM2 growl mensajeError"/>
                                        </p:slider>
                                        <div class="texto-slider-valor-peque">
                                            <div style="float: left; align: left;">$6.000.000</div>	                                        
                                            <div style="float: right; align: right;">$1.000.000.000</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 clearfix">
                                    <div class="texto-prgunta"> 
                                        <div class="texto-slider">
                                            ¿En cuánto años quieres pagar?
                                            <div class="contenedor-img-tool">
                                                <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Recuerda que el plazo es de 5 a 20 años. En algunas modalidades el plazo máximo puede ser de 10 años.">
                                                    <img class="imagen-texto-slider " src="../resources/iconos/pregunta.png" />
                                                </a>
                                            </div>
                                        </div>
                                        <h:inputHidden id="zeroValueA" value="5"/>
                                        <h:inputHidden id="anoHidden" value="#{dtoLoanSimulation.yearsToFinanced}" />
                                        <p:inputText id="anho" value="#{dtoLoanSimulation.yearsToFinancedString}" style="font-family: BBVA Web Book; font-size:18px; color:#006dcc; text-align: center; width: 87%;" >
                                            <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="anho anoHidden slideAnoCasa anhoLittle anoHiddenLitte yearsToFinanced ValorCuotaM ValorCuotaM2 growl mensajeError" />
                                        </p:inputText>
                                        <p>  </p>
                                        <p>  </p>                                                                        
                                        <p:slider  styleClass="selectPrime" id="slideAnoCasa" minValue="5" maxValue="20"  range="true" for="zeroValueA,anoHidden" display="anho" style="width: 87%" displayTemplate="{max} Años" >
                                            <p:ajax event="slideEnd" listener="#{simuladorController.eventSlider}" update="anho anoHidden anhoLittle anoHiddenLitte yearsToFinanced ValorCuotaM ValorCuotaM2 growl mensajeError"/>
                                        </p:slider>
                                        <div class="texto-slider-valor-peque">
                                            <div style="float: left; align: left;">5 Años</div>	                                        
                                            <div style="float: right; align: right;">20 Años</div>
                                        </div>    
                                    </div>
                                </div>
                            </span>
                            <span>
                                <div class="col-lg-6 clearfix">
                                    <div class="texto-prgunta">
                                        <div class="texto-valor-cuota">
                                            Valor aproximado de la cuota:
                                        </div>
                                        <div class="valor-cuota fixvalor-cuota">
                                            <h:outputText id="ValorCuotaM2" value="#{dtoLoanSimulation.quotaValue.amount}">
                                                <f:convertNumber pattern="¤#,##0" currencySymbol="$" />
                                            </h:outputText>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 clearfix">
                                    <div class="texto-prgunta">
                                        <p:commandLink action="continuar" styleClass="btn_viv" ajax="false">Completa tu simulación</p:commandLink>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>




                    <!-- Formato Celular  -->
                    <div style="position: absolute; background: #FFFFFF; width: 94%; left: 3%;">

                        <div class="row imagen-mediano-elements">
                            <p:messages id="mensajeError2"  showDetail="true" rendered="true" showIcon="false" />
                            <div class="col-lg-6 clearfix">
                                <div class="titulo-simulacion texto-aling-home">Quiero</div>
                                <div class="titulo-simulacion select-aling-home">
                                    <p:selectOneMenu id="selectFinancialSubLine" value="#{dtoLoanSimulation.financialSubline}" autoWidth="false" style="padding-right: 0px !important; border: 0 solid #dde3ea; border-top-right-radius: 0; border-top-left-radius: 0; width: 225%;" styleClass="selectOneMenuHome" >
                                        <p:ajax listener="#{simuladorController.onFinancialSublineChange}" update="selectFinancialSubLine2 selectFinancialLine2 selectFinancialSubLine selectFinancialLine ValorCuotaM ValorCuotaM2 growl mensajeError2" />
                                        <f:selectItem itemLabel="Seleccione" itemValue="" noSelectionOption="true"/>
                                        <f:selectItems value="#{dtoLoanSimulation.financialSublines}"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-lg-6 clearfix">
                                <div class="titulo-simulacion texto-aling-home">con&nbsp;un</div>
                                <div class="titulo-simulacion select-aling-home">
                                    <p:selectOneMenu id="selectFinancialLine" value="#{dtoLoanSimulation.financialLine}" autoWidth="false" style="padding-right: 0px !important; border: 0 solid #dde3ea; border-top-right-radius: 0; border-top-left-radius: 0;  width: 225%;" styleClass="selectOneMenuHome" >
                                        <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="selectFinancialSubLine2 selectFinancialLine2 selectFinancialSubLine selectFinancialLine ValorCuotaM ValorCuotaM2 growl mensajeError2" />
                                        <f:selectItem itemLabel="Seleccione" itemValue="" noSelectionOption="true"/>
                                        <f:selectItems value="#{dtoLoanSimulation.financialLines}"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>	
                            <div class="col-lg-12">
                                <div class="texto-prguntaPequeno">
                                    <div class="texto-slider" style="width: 110%;">
                                        ¿Cuánto cuesta la vivienda? 
                                        <div class="contenedor-img-tool">
                                            <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Indica el valor por el cual deseas comprar tu vivienda">
                                                <img class="imagen-texto-slider " src="../resources/iconos/pregunta.png" />
                                            </a>
                                        </div>
                                    </div>
                                    <h:inputHidden id="zeroValueLittle" value="30000000"/>
                                    <h:inputHidden id="valorViviendaLittleH" value="#{dtoLoanSimulation.priceHousing.amount}"/>
                                    <p:inputText id="valorViviendaLittle" value="#{dtoLoanSimulation.priceHousing.amount}" style="font-family: BBVA Web Book; font-size:18px; color:#006dcc; text-align: center; width: 100%;" required="true" >
                                        <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="valorViviendaLittle valorViviendaLittleH priceHousing valorViviendaHidden valorVivienda slideVivienda selectFinancialSubLine selectFinancialSubLine2 ValorCuotaM ValorCuotaM2 growl mensajeError2" />
                                        <f:convertNumber pattern="¤#,##0" currencySymbol="$" />
                                    </p:inputText>
                                    <p>  </p>
                                    <p>  </p>		                                

                                    <p:slider styleClass="selectPrime" id="priceHousing" minValue="30000000" maxValue="1000000000" range="true" for="zeroValueLittle,valorViviendaLittleH" step="1000000"  display="valorViviendaLittle">
                                        <p:ajax event="slideEnd" listener="#{simuladorController.eventSlider}" update="valorViviendaLittleH valorViviendaLittle valorViviendaHidden valorVivienda slideVivienda ValorCuotaM ValorCuotaM2 growl mensajeError2" />
                                    </p:slider>
                                    <div class="texto-slider-valorPequeno">
                                        <div style="float: left; align: left;">$30.000.000</div>	                                        
                                        <div style="float: right; align: right;">$1.000.000.000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="texto-prguntaPequeno">
                                    <div class="texto-slider" style="width: 110%;">
                                        ¿Cuánto son tus ingresos mensuales?
                                        <div class="contenedor-img-tool">
                                            <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Si la solicitud de crédito será presentada por el grupo familiar, recuerda insertar en este campo la suma de los ingresos mensuales de las personas que comprarán la vivienda.">
                                                <img class="imagen-texto-slider " src="../resources/iconos/pregunta.png" />
                                            </a>
                                        </div>
                                    </div>
                                    <h:inputHidden id="zeroValueVIHL" value="737717"/>
                                    <h:inputHidden id="valorIngresosHiddenLitte" value="#{dtoLoanSimulation.montlyIncome.amount}" />
                                    <p:inputText id="valorIngresosLittle" value="#{dtoLoanSimulation.montlyIncome.amount}" style="font-family: BBVA Web Book; font-size:18px; color:#006dcc; text-align: center; width: 100%;" >
                                        <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="valorIngresosLittle montlyIncome valorIngresosHiddenLitte valorIngresosHidden valorIngresos slideIngresos ValorCuotaM ValorCuotaM2 growl mensajeError2" />
                                        <f:convertNumber pattern="¤#,##0" currencySymbol="$" />
                                    </p:inputText>
                                    <p>  </p>
                                    <p>  </p>

                                    <p:slider styleClass="selectPrime" id="montlyIncome" minValue="737717" maxValue="100000000" display="valorIngresosHiddenLitte" range="true" for="zeroValueVIHL,valorIngresosHiddenLitte">
                                        <p:ajax event="slideEnd" listener="#{simuladorController.eventSlider}" update="valorIngresosHiddenLitte valorIngresosLittle valorIngresosHidden valorIngresos slideIngresos ValorCuotaM2 ValorCuotaM growl mensajeError2" />
                                    </p:slider>
                                    <div class="texto-slider-valorPequeno">
                                        <div style="float: left; align: left;">$737.717</div>	                                        
                                        <div style="float: right; align: right;">$100.000.000</div>	                                	
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 clearfix">
                                <div class="texto-prguntaPequeno">
                                    <div class="texto-slider" style="width: 110%;">
                                        ¿Cuánto dinero necesitas?
                                        <div class="contenedor-img-tool">
                                            <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Este dato tiene un límite sobre el valor de la vivienda de acuerdo a la modalidad de crédito que selecciones. Puedes validar el tope en los módulos de información.">
                                                <img class="imagen-texto-slider " src="../resources/iconos/pregunta.png" />
                                            </a>
                                        </div>
                                    </div>
                                    <h:inputHidden id="zeroValueVSHL" value="6000000"/>
                                    <h:inputHidden id="valorSolicitadoHiddenLitte" value="#{dtoLoanSimulation.amountToFinanced.amount}" />
                                    <p:inputText id="valorSolicitadoLittle" value="#{dtoLoanSimulation.amountToFinanced.amount}" style="font-family: BBVA Web Book; font-size:18px; color:#006dcc; text-align: center; width: 100%;" >
                                        <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="valorSolicitadoLittle amountToFinanced valorSolicitadoHiddenLitte valorSolicitadoHidden valorSolicitado slideValorCredito ValorCuotaM2 ValorCuotaM growl mensajeError2" />
                                        <f:convertNumber pattern="¤#,##0" currencySymbol="$" />
                                    </p:inputText>
                                    <p>  </p>
                                    <p>  </p>

                                    <p:slider styleClass="selectPrime" id="amountToFinanced"  minValue="6000000" maxValue="1000000000" step="1000000" range="true" for="zeroValueVSHL,valorSolicitadoHiddenLitte" display="valorSolicitadoHiddenLitte" displayTemplate="${value}">
                                        <p:ajax event="slideEnd" listener="#{simuladorController.eventSlider}" update="valorSolicitadoLittle valorSolicitadoHiddenLitte valorSolicitadoHidden valorSolicitado slideValorCredito ValorCuotaM2 ValorCuotaM growl mensajeError2" />
                                    </p:slider>
                                    <div class="texto-slider-valorPequeno">
                                        <div style="float: left; align: left;">$6.000.000</div>	                                        
                                        <div style="float: right; align: right;">$1.000.000.000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 clearfix">
                                <div class="texto-prguntaPequeno"> 
                                    <div class="texto-slider"  style="width: 110%">
                                        ¿En cuánto años quieres pagar?
                                        <div class="contenedor-img-tool">
                                            <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Recuerda que el plazo es de 5 a 20 años. En algunas modalidades el plazo máximo puede ser de 10 años.">
                                                <img class="imagen-texto-slider " src="../resources/iconos/pregunta.png" />
                                            </a>
                                        </div>
                                    </div>
                                    <h:inputHidden id="zeroValueAHL" value="5"/>
                                    <h:inputHidden id="anoHiddenLitte" value="#{dtoLoanSimulation.yearsToFinanced}" />
                                    <p:inputText id="anhoLittle" value="#{dtoLoanSimulation.yearsToFinancedString}" style="font-family: BBVA Web Book; font-size:18px; color:#006dcc; text-align: center; width: 100%;" >
                                        <p:ajax event="change" listener="#{simuladorController.eventoChange}" update="anoHiddenLitte anoHiddenLitte yearsToFinanced anoHidden anho slideAnoCasa ValorCuotaM ValorCuotaM2 growl mensajeError2" />
                                    </p:inputText>
                                    <p>  </p>
                                    <p>  </p>

                                    <p:slider styleClass="selectPrime" id="yearsToFinanced" minValue="5" maxValue="20" range="true" for="zeroValueAHL,anoHiddenLitte" display="anhoLittle" displayTemplate="{value} Años" >
                                        <p:ajax event="slideEnd" listener="#{simuladorController.eventSlider}" update="anoHiddenLitte anhoLittle anoHidden anho slideAnoCasa ValorCuotaM ValorCuotaM2 growl mensajeError2" />
                                    </p:slider>    
                                    <div class="texto-slider-valorPequeno">
                                        <div style="float: left; align: left;">5 Años</div>	                                        
                                        <div style="float: right; align: right;">20 Años</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clearfix">
                                <div class="texto-prguntaPequeno">
                                    <div class="texto-valor-cuota">
                                        Valor aproximado de la cuota:
                                    </div>
                                    <div class="valor-cuota">
                                        <h:outputText  id="ValorCuotaM" value="#{dtoLoanSimulation.quotaValue.amount}">
                                            <f:convertNumber pattern="¤#,##0" currencySymbol="$" />
                                        </h:outputText>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clearfix">
                                <div class="texto-prguntaPequeno boton-centro">
                                    <!--    <h:commandLink value = "Completa tu simulación" action="simulador" />  -->
                                    <p:commandLink action="continuar" styleClass="btn_simulador boton-centro" ajax="false">Completa tu simulación</p:commandLink>
                                </div>
                            </div>
                            <div class="col-lg-6 clearfix cuadradoMensajeLittle" style="background-color: #71777f; width: 100%">
                                <div>
                                    <div class="texto-izquierda-admiracion"><img src="../resources/iconos/importante.png"></img>&nbsp;#{msg['vivadvertenciaizq']}</div>
                                    <div class="texto-derecha">*#{msg['vivadvertenciader']}</div>
                                </div>				                
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="fondoTabMover">
                <!-- Inicio de las opciones de vivienda por tabulacion -->            
                <div class="fondoTab">
                    <div class="row fixrowtabs">
                        <div class="container">
                            <div id="lista" class="containerMenu pestanas_home fixpestanas">
                                <div class="col-lg-12">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#1" role="tab" data-toggle="tab" class="fixpadding">
                                                <div class="icon-casa fixicon"></div>
                                                <div>Crédito hipotecario</div>
                                            </a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#2" role="tab" data-toggle="tab" class="fixpadding">
                                                <div class="icon-key fixiconkey fixicon"></div>
                                                <div>Leasing habitacional</div>
                                            </a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#3" role="tab" data-toggle="tab" class="fixpadding">
                                                <div class="icon-cesion fixiconcesion"></div>
                                                <div>Cesión hipotecaria</div>
                                            </a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#4" role="tab" data-toggle="tab" class="fixpadding">
                                                <div class="icon-remodelacion fixicon"></div>
                                                <div>Remodelación</div>
                                            </a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#5" role="tab" data-toggle="tab" class="fixpadding">
                                                <div class="icon-mproductos fixicon"></div>
                                                <div>Más productos</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- inicio contenido pestanas -->
                <div id="ContenidoPestana" class="row">
                    <div class="tab-content">

                        <!--Crédito hipotecario-->
                        <div class="tab-pane active" id="1">
                            <div class="container">
                                <div class="tab-content-margin tab-pane active" id="pane0">

                                    <div class="col-lg-4 clearfix ">
                                        <!--
                                        <br></br>
                                        <img class="oferta-img" src="../resources/img/oferta.jpg"></img>
                                        <br></br>
                                        -->
                                        <br></br>
                                        <div class="row adHome poscAdHome oferta-img">
                                            <div class="row"><div class="col-md-12 titleAdHome">Te prestamos hasta el</div></div>
                                            <div class="row"><div class="col-md-12 colAdHome oneAdHome">80%</div></div>
                                            <div class="row"><div class="col-md-12 descripAdHome">para vivienda de interés social</div></div>
                                        </div>

                                        <!--<p class="texto-vivienda-advertencia espacio_advertencia oferta-img">*Para viviendas de interes social.</p>-->
                                    </div><div class="col-lg-8 clearfix paddSide">


                                        <h1 class="title-vivienda">Tener casa propia con BBVA es más fácil de lo que imaginas</h1>
                                        <p class="texto-vivienda">
                                            ¿Pensando en adquirir vivienda? Con el Crédito Hipotecario BBVA Tradicional obtendrás atractivos montos, plazos, opciones de financiación y la posibilidad de escoger entre sistemas de amortización en Pesos o en UVR.
                                        </p>
                                        <p class="texto-vivienda">
                                            <div class="vinetas-vivienda"><img src="../resources/iconos/icono-chulo.png"/>&nbsp;Hasta 20 años de plazo.</div>
                                            <div class="vinetas-vivienda"><img src="../resources/iconos/icono-chulo.png"/>&nbsp;Sin comisiones por estudio de crédito.</div>
                                            <div class="vinetas-vivienda">&nbsp;¿Estás interesado y quieres saber más? Ingresa los datos al simulador de crédito y conoce detalles acerca de seguros, gastos notariales y todo lo que debes tener en cuenta antes de tomar una decisión.</div>
                                        </p>
                                        <p class="texto-vivienda">
                                            <a href="productos" class="link-flecha-derecha">Conoce más
                                                <img class="img-link" src="../resources/iconos/flecha-derecha.png"/>
                                            </a>
                                        </p>

                                        <div class="row">
                                            <div class="container">
                                                <div class="btn-group btn-group-justified margenesTop3">
                                                    <div class="col-lg-12 clearfix">
                                                        <p:commandLink action="continuar" styleClass="btn_viv_verde btn-hader2" style="margin:0px">Calcula y solicita ya tu crédito</p:commandLink>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Leasing Habitacional-->
                        <div class="tab-pane" id="2">
                            <div class="container">
                                <div class="tab-content-margin tab-pane active" id="pane0">

                                    <div class="col-lg-4 clearfix ">
                                        <!--<br></br>
                                        <img class="oferta-img" src="../resources/img/oferta.jpg"></img>
                                        <br></br>-->
                                        <br></br>
                                        <div class="row adHome poscAdHome oferta-img">
                                            <div class="row"><div class="col-md-12 titleAdHome">Te prestamos hasta el</div></div>
                                            <div class="row"><div class="col-md-12 colAdHome oneAdHome">90%</div></div>
                                            <div class="row"><div class="col-md-12 descripAdHome">del valor de la vivienda*</div></div>
                                        </div>
                                        <p class="texto-vivienda-advertencia espacio_advertencia oferta-img">*Para viviendas en proyectos financiados por BBVA.</p>
                                    </div><div class="col-lg-8 clearfix paddSide">


                                        <h1 class="title-vivienda">Con Leasing Habitacional BBVA tienes una alternativa de financiación para cumplir tus sueños. </h1>
                                        <p class="texto-vivienda">
                                            ¿Quieres adquirir tu casa propia? En BBVA te ofrecemos Leasing Habitacional con atractivos montos, plazos y opciones de compra de hasta el 30% sobre el valor a financiar.
                                        </p>
                                        <p class="texto-vivienda">
                                            <div class="vinetas-vivienda"><img src="../resources/iconos/icono-chulo.png"/>&nbsp;Hasta 20 años de plazo</div>
                                            <div class="vinetas-vivienda"><img src="../resources/iconos/icono-chulo.png"/>&nbsp;Sin comisiones por estudio de crédito.</div>
                                            <div class="vinetas-vivienda">¿Quieres más información? Ingresa los datos al simulador de Leasing Habitacional y conoce detalles acerca de seguros, gastos notariales y todo lo que debes tener en cuenta antes de tomar una decisión.</div>
                                        </p>
                                        <p class="texto-vivienda">
                                            <a href="leasingHabitacional" class="link-flecha-derecha">Conoce más
                                                <img class="img-link" src="../resources/iconos/flecha-derecha.png"/>
                                            </a>
                                        </p>

                                        <div class="row">
                                            <div class="container">
                                                <div class="btn-group btn-group-justified margenesTop3">
                                                    <div class="col-lg-12 clearfix">
                                                        <a href="simulador" class="btn_viv_verde btn-hader2" style="margin:0px">Calcula y solicita ya tu crédito</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Cesión hipotecaria-->
                        <div class="tab-pane" id="3">
                            <div class="container">
                                <div class="tab-content-margin tab-pane active" id="pane0">

                                    <div class="col-lg-4 clearfix ">
                                        <!--
                                        <br></br>
                                        <img class="oferta-img" src="../resources/img/oferta.jpg"></img>
                                        <br></br>-->
                                        <br></br>
                                        <div class="row adHome poscAdHome oferta-img">
                                            <div class="row"><div class="col-md-12 titleAdHome">Te prestamos hasta el</div></div>
                                            <div class="row"><div class="col-md-12 colAdHome oneAdHome">80%</div></div>
                                            <div class="row"><div class="col-md-12 descripAdHome">del valor de la vivienda*</div></div>
                                        </div>
                                        <p class="texto-vivienda-advertencia espacio_advertencia oferta-img">*Para viviendas de interés social.</p>
                                    </div><div class="col-lg-8 clearfix paddSide">


                                        <h1 class="title-vivienda">¿Quieres bajar la cuota de tu crédito de vivienda? </h1>

                                        <p class="texto-vivienda">

                                            ¿Quieres bajar la cuota de tu crédito de vivienda? En BBVA puedes tramitar la Cesión de crédito con atractivos montos, plazos, opciones de financiación y la posibilidad de escoger entre sistemas de amortización en Pesos o en UVR.

                                        </p>

                                        <p class="texto-vivienda">
                                            <div class="vinetas-vivienda"><img src="../resources/iconos/icono-chulo.png"/>&nbsp;Hasta 20 años de plazo.</div>
                                            <div class="vinetas-vivienda"><img src="../resources/iconos/icono-chulo.png"/>&nbsp;Sin comisiones por estudio de crédito.</div>

                                        </p>
                                        <p class="texto-vivienda">
                                            Con el simulador de Crédito Hipotecario BBVA puedes conocer detalles acerca de seguros, gastos notariales y todo lo que debes tener en cuenta antes de tomar una decisión.
                                        </p>
                                        <p class="texto-vivienda">
                                            <a href="cesionHipotecaria" class="link-flecha-derecha">Conoce más
                                                <img class="img-link" src="../resources/iconos/flecha-derecha.png"/>
                                            </a>
                                        </p>

                                        <div class="row">
                                            <div class="container">
                                                <div class="btn-group btn-group-justified margenesTop3">
                                                    <div class="col-lg-12 clearfix">
                                                        <a href="simulador" class="btn_viv_verde btn-hader2" style="margin:0px">Calcula y solicita ya tu crédito</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Remodelación-->
                        <div class="tab-pane" id="4">
                            <div class="container">
                                <div class="tab-content-margin tab-pane active" id="pane0">

                                    <div class="col-lg-4 clearfix ">
                                        <!--<br></br>
                                        <img class="oferta-img" src="../resources/img/oferta.jpg"></img>
                                        <br></br>-->
                                        <br></br>
                                        <div class="row adHome poscAdHome oferta-img">
                                            <div class="row"><div class="col-md-12 titleAdHome">Te prestamos hasta el</div></div>
                                            <div class="row"><div class="col-md-12 colAdHome oneAdHome">80%</div></div>
                                            <div class="row"><div class="col-md-12 descripAdHome">del valor de la vivienda</div></div>
                                        </div>
                                        <p class="texto-vivienda-advertencia espacio_advertencia oferta-img">*para vivienda de interés social</p>
                                    </div><div class="col-lg-8 clearfix paddSide">


                                        <h1 class="title-vivienda">¿Quieres remodelar y tener la casa de tus sueños? Con BBVA es posible.</h1>
                                        <p class="texto-vivienda">
                                            Con BBVA remodela tu casa con el Crédito de Remodelación que te ofrece atractivos montos, plazos, opciones de financiación y la posibilidad de escoger entre sistemas de amortización en Pesos o en UVR.
                                        </p>
                                        <p class="texto-vivienda">
                                            <div class="vinetas-vivienda"><img src="../resources/iconos/icono-chulo.png"/>&nbsp;Hasta 20 años de plazo.</div>
                                            <div class="vinetas-vivienda"><img src="../resources/iconos/icono-chulo.png"/>&nbsp;Sin comisiones por estudio de crédito.</div>
                                        </p>
                                        <p class="texto-vivienda">
                                            <a href="remodelacion" class="link-flecha-derecha">Conoce más
                                                <img class="img-link" src="../resources/iconos/flecha-derecha.png"/>
                                            </a>
                                        </p>

                                        <div class="row">
                                            <div class="container">
                                                <div class="btn-group btn-group-justified margenesTop3">
                                                    <div class="col-lg-12 clearfix">
                                                        <a href="simulador" class="btn_viv_verde btn-hader2" style="margin:0px">Calcula y solicita ya tu crédito</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Más productos-->
                        <div class="tab-pane" id="5">
                            <div class="container">
                                <div class="tab-content-margin tab-pane active" id="pane0">
                                    <!--
                          <div class="col-lg-4 clearfix ">
                              <br></br>
                              <img class="oferta-img" src="../resources/img/oferta.jpg"></img>
                              <br></br>
                              <br></br>
                              <div class="row adHome poscAdHome oferta-img">
                                  <div class="row"><div class="col-md-12 titleAdHome">Te prestamos hasta el</div> </div>
                                  <div class="row"><div class="col-md-12 colAdHome oneAdHome">80%</div> </div>
                                  <div class="row"><div class="col-md-12 descripAdHome">del valor la vivienda*</div> </div>
                              </div>   
                              
                              <p class="texto-vivienda-advertencia espacio_advertencia oferta-img">*Para viviendas en proyectos financiados por BBVA.</p>
                          </div>
                                    -->
                                    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2    clearfix paddSide">


                                        <h1 class="title-vivienda"></h1>
                                        <p class="texto-vivienda">
                                            Productos BBVA complementarios a la financiación de tu vivienda.
                                        </p>

                                        <p class="texto-vivienda">
                                            Conoce los beneficios de:
                                        </p>
                                        <p class="texto-vivienda">
                                            <div class="vinetas-vivienda">&nbsp;<a href="cuentaAFC" class="link-flecha-derecha">Cuenta AFC</a></div>
                                            <div class="vinetas-vivienda">&nbsp;<a href="cuentaHogar" class="link-flecha-derecha">Cuenta Hogar</a></div>
                                        </p>


                                        <!-- vinculos a páginas-->
                                        <p class="texto-vivienda">
                                            <a href="https://www.bbva.com.co/personas/seguros/seguros-deudores/vida/" class="link-flecha-derecha">Seguro de Vida
                                                <img class="img-link" src="../resources/iconos/flecha-derecha.png"/>
                                            </a>
                                        </p>
                                        <p class="texto-vivienda">
                                            <a href="https://www.bbva.com.co/personas/seguros/seguros-deudores/incendio-y-terremoto/" class="link-flecha-derecha">Seguro de Incendio y terremoto
                                                <img class="img-link" src="../resources/iconos/flecha-derecha.png"/>
                                            </a>
                                        </p>
                                        <p class="texto-vivienda">
                                            <a href="https://www.bbvaseguros.com.co/seguros/hogar-y-bienes/hogar-contenidos/" class="link-flecha-derecha">Seguro Contenidos
                                                <img class="img-link" src="../resources/iconos/flecha-derecha.png"/>
                                            </a>
                                        </p>
                                        <!-- Fin vinculos a páginas-->

                                        <div class="row">
                                            <div class="container">
                                                <div class="btn-group btn-group-justified margenesTop3">
                                                    <div class="col-lg-12 clearfix">
                                                        <a href="simulador" class="btn_viv_verde btn-hader2" style="margin:0px">Calcula y solicita ya tu crédito</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Asi solicitas tu credito de vivienda BBVA -->            
                <div class="row">
                    <div class="paso-paso">

                        <!-- Big -->
                        <div class="row paso-paso-texto-grande" style="padding-top: 20px;">
                            <div class="container">
                                <div class="col-lg-6">
                                    <div class="text-left texto-paso-paso fixleft">Así solicitas tu <b>Crédito de vivienda BBVA</b></div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="text-right texto-paso-paso fixright">
                                        <a href="../resources/files/CARTILLA_HIPOTECARIO_DIGITAL_ENERO_2016.pdf">
                                            <span class="fixconoce">
                                                Conoce más de los pasos claves

                                                <img src="../resources/iconos/flecha-der-tra.png"/>

                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End big -->

                        <!--small-->
                        <div class="row paso-paso-texto-pequeno" style="padding-top: 25px;">
                            <div class="col-lg-12">
                                <div class="texto-paso-paso fixpasopaso">Así solicitas tu <br/><b>Crédito de vivienda BBVA</b> <br/></div>
                            </div>

                            <div class="col-lg-3"></div>
                            <div class="col-lg-4">
                                <div class="texto-paso-paso paso-pequeno">
                                    Conoce más de los pasos claves
                                    <a href="../resources/files/CARTILLA_HIPOTECARIO_DIGITAL_ENERO_2016.pdf">
                                        <img src="../resources/iconos/flecha-der-tra.png"/>
                                    </a>

                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="texto-paso-paso flecha-paso-paso">

                                </div>
                            </div>

                        </div>
                        <!--End small -->

                        <div class="row poscStepbyStep">
                            <div class="container">
                                <div class="col-lg-12">
                                    <div class="container-outer fixouter">
                                        <div class="container-inner">
                                            <!--
                                             <ul class="progress-indicator">
                                                 <li class="completed">
                                                     <span class="paso1"></span>
                                                     <span class="bubble"></span>
                                                     Simula tu crédito
                                                 </li>
                                                 <li class="completed">
                                                     <span class="paso2"></span>
                                                     <span class="bubble "></span>
                                                     Aprobación
                                                 </li>
                                                 <li class="completed">
                                                     <span class="paso3"></span>
                                                     <span class="bubble "></span>
                                                     Estudio del inmueble
                                                 </li>
                                                 <li class="completed">
                                                     <span class="paso4"></span>
                                                     <span class="bubble "></span>
                                                     Notaria y registro
                                                 </li>
                                                 <li  class="completed">
                                                     <span class="paso5"></span>
                                                     <span class="bubble "></span>
                                                     Desembolso
                                                 </li>
                                             </ul>
                                            -->
                                            <img class="img-paso-paso" src="../resources/img/proceso-credito-pequeno.png"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin paso a paso-->
                <!-- Conoce proyectos y ofertas de vivienda -->
                <div class="content color-slider-viv">
                    <div class="container">
                        <h3 class="titulo-slider-img">Conoce proyectos y ofertas de vivienda</h3>
                        <div class="slider4">
                            <div class="slide">
                                <a href="campMatriz">
                                    <img src="../resources/img/floresta.jpg"/>
                                    <p class="letra-des-slider">Nuevo proyecto en el noroccidente de Bogotá, Floresta residencial</p>
                                </a>
                            </div>
                            <div class="slide">
                                <a href="campMatriz">
                                    <img src="../resources/img/porque-es-mejor.jpg"/>
                                    <p class="letra-des-slider">Renovamos BBVA net para mejorar tu experiencia en nuestra banca virtual</p>
                                </a>
                            </div>
                            <div class="slide">
                                <a href="campMatriz">
                                    <img src="../resources/img/bambu.jpg"/>
                                    <p class="letra-des-slider">El proyecto que todos estaban esperando en Cali, gran oportunidad de inversión</p>
                                </a>
                            </div>
                            <div class="slide">
                                <a href="campMatriz">
                                    <img src="../resources/img/porque-es-mejor.jpg"/>
                                    <p class="letra-des-slider">Renovamos BBVA net para mejorar tu experiencia en nuestra banca virtual</p>
                                </a>
                            </div>
                            <div class="slide">
                                <a href="campMatriz">
                                    <img src="../resources/img/porque-es-mejor.jpg"/>
                                    <p class="letra-des-slider">Renovamos BBVA net para mejorar tu experiencia en nuestra banca virtuaasl</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Cuadro de Preguntas Frecuentes -->
                <div class="cuadrado-pie">
                    <br></br>
                    <br></br>
                    <div class="container">
                        <a href="">
                            <div class="col-xs-3 boton-header-res-6 clearfix" style="text-align:center;">
                                <a class="fix-flecha-derecha">
                                    <img align="center" src="../resources/iconos/pregunta-gris.png"></img>
                                </a>

                                <p class="titulo-pie">Ayuda</p>
                                <p class="texto-pie texto-completo-botones">Preguntas frecuentes</p>
                            </div>
                        </a>

                        <a href="">
                            <div class="col-lg-3 boton-header-res-6 clearfix" style="text-align:center;">
                                <a class="link-flecha-derecha fix-flecha-derecha" href="https://www.bbva.com.co/fbin/mult/Horarios_Red_Comercial_tcm1304-491109.pdf">
                                    <img align="center" src="../resources/iconos/localizacion-gris.png"></img>
                                </a>
                                <p class="titulo-pie">Nuestras sucursales</p>
                                <p class="texto-pie texto-completo-botones">Encuentra la sucursal más cerca donde podran asesorarte</p>
                            </div>
                        </a>


                        <div class="col-lg-3 boton-header-res-6 clearfix" style="text-align:center;">
                            <a class="link-flecha-derecha fix-flecha-derecha" href="../resources/files/CARTILLA_HIPOTECARIO_DIGITAL_ENERO_2016.pdf">
                                <img align="center" src="../resources/iconos/periodico-gris.png"></img>
                            </a>
                            <a class="link-flecha-derecha" href="../resources/files/CARTILLA_HIPOTECARIO_DIGITAL_ENERO_2016.pdf">
                                <p class="titulo-pie">Paso a paso</p>
                            </a>
                            <p class="texto-pie texto-completo-botones">Conoce más de los pasos claves para obtener tu Crédito de vivienda BBVA</p>
                        </div>


                        <a href="constructorOferta">
                            <div class="col-lg-3 boton-header-res-6 clearfix" style="text-align:center;">
                                <a class="fix-flecha-derecha">
                                    <img align="center" src="../resources/iconos/regla-gris.png"></img>
                                </a>

                                <p class="titulo-pie">Oferta al constructor</p>
                                <p class="texto-pie texto-completo-botones">Descúbre los productos que tenemos para que tu empresa continue construyendo país.</p>
                            </div>
                        </a>

                        <div class="texto-completo-botones">
                            <div class="col-lg-3 clearfix " style="text-align:center;">
                                <a class="link-flecha-derecha">
                                    <img class="img-link" src="../resources/iconos/flecha-derecha-oscura.png"/>
                                </a>
                            </div>
                            <div class="col-lg-3 clearfix " style="text-align:center;">
                                <a class="link-flecha-derecha">
                                    <img class="img-link" src="../resources/iconos/flecha-derecha-oscura.png"/>
                                </a>
                            </div>
                            <div class="col-lg-3 clearfix " style="text-align:center;">
                                <a class="link-flecha-derecha" href="../resources/files/CARTILLA_HIPOTECARIO_DIGITAL_ENERO_2016.pdf">
                                    <img class="img-link" src="../resources/iconos/flecha-derecha-oscura.png"/>
                                </a>
                            </div>
                            <div class="col-lg-3 clearfix " style="text-align:center;">
                                <a class="link-flecha-derecha">
                                    <img class="img-link" src="../resources/iconos/flecha-derecha-oscura.png"/>
                                </a>
                            </div>
                        </div>

                    </div>
                    <br></br>
                    <br></br>
                </div>
            </div>            
        </h:form>
    </ui:define>
</ui:composition>
