<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<h:head>
    <!-- HEAD -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Banco Virtual | BBVA Vivienda</title>
    <meta name="description" content="Bienvenido al Banco virtual BBVA Colombia. Solicita nuestros productos de tarjetas, préstamos, inversión online y seguros."/>
    <meta property="og:title" content="Bienvenido al Banco virtual BBVA Colombia. Solicita nuestro" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, target-densitydpi=device-dpi"/>
    <meta name="author" content="BBVA" />
    <link rel='canonical' href='index.html'/>
    <meta name="apple-itunes-app" content="app-id=823508982, affiliate-data=myAffiliateData, app-argument=myURL" />
    <meta name="google-play-app" content="app-id=co.com.bbva.mb" />
    <link rel="shortcut icon" href="#{facesContext.externalContext.requestContextPath}/resources/fbin/css/img/favicon.ico"/>
    <!-- general vendor libraries -->
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/fbin/css/libraries.min.ver11.css" />
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/fbin/css/global.min.ver239.css" />
    <!--[if IE 8]>
    <link rel="stylesheet" href="/#{facesContext.externalContext.requestContextPath}/resources/fbin/css/ie8.min.ver18.css">
    <![endif]-->
    <!--  <script type="text/javascript" src='#{facesContext.externalContext.requestContextPath}/resources/assets.adobedtm.com/95bb966a4c61b200a089c37679aaf96e22114787/satelliteLib-db8ad834eea570159790b58fa6817d7faf5f4c41.js'></script> -->
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/modernizr.min.ver0.js"></script>
    <meta name="pageIntent" content="home"/>
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/br.js"></script>

    <link href="#{facesContext.externalContext.requestContextPath}/resources/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" media="screen"></link>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/slick/slick.css"></link>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/slick/slick-theme.css"></link>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/css/botones-footer.css"></link>
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/home.css" media="none" onload="if(media!='all')media='all'"/>
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/jquery.scrolling-tabs.css"/>
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/jquery.jscrollpane.css"/>
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/jquery.bxslider.min.css"/>
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/ventana.css" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/constructor.css" />
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/hipotecario.css" />
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/responsive-table.css" />
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/simulador.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/progress-wizard.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/style.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/agendamiento.css" />

    <!-- HEAD -->
</h:head>
<body>
<f:loadBundle basename="com.bbva.message" var="msg"/>
<!-- Cabecera -->
<div class="content">
    <div class="marginBody">
        <header class="body-header alto-header">
            <script id="LBEnContainerWidth" type="text/x-handlebars-template">450</script><script id="LBEnContainerHeight" type="text/x-handlebars-template">700</script><script id="lblIEMin" type="text/x-handlebars-template">9</script>
            <div class="container">
                <!-- ENTRO EN 2 IF -->
                <ul class="top-menu">
                    <li>
                        <i class="sprite-iconos-bbva sprite-iconos-bbva-ico-oficinas"></i>
                        <a href="#{facesContext.externalContext.requestContextPath}/resources/fbin/mult/Horarios_Red_Comercial_tcm1304-491109.pdf"  class = 'ico-oficinas' target="_blank" >Sucursales</a>
                    </li>
                    <li>
                        <i class="sprite-iconos-bbva sprite-iconos-bbva-ico-lineabbva"></i>
                        <a href="#"  class = 'ico-lineabbva' >Línea BBVA 01 8000 912227</a>
                    </li>
                </ul>
                <div class="logo-container">
                    <a href="#" class="navbar-trigger">&nbsp;</a>
                    <a href="https://www.bbva.com.co/" class="logo-cabecera"><img src="#{facesContext.externalContext.requestContextPath}/resources/img/logo_cabecera_opt_tcm1304-491101.png" alt="" title="" class='logo-desktop' width="156"  height="90"  /></a>
                    <a href="https://www.bbva.com.co/" class="logo-cabecera"><img src="#{facesContext.externalContext.requestContextPath}/resources/img/logo_cabecera_responsive_opt_tcm1304-491103.png" alt="" title="" class='logo-tablet' width="204"  height="62"  /></a>
                </div>
                <!-- color bar -->
                <div class="color-bar">
                    <span class="first">&nbsp;</span> <span class="second">&nbsp;</span> <span class="third">&nbsp;</span> <span class="fourth">&nbsp;</span> <span class="fifth">&nbsp;</span> <span class="sixth">&nbsp;</span>
                </div>
                <div class="main-menu">
                    <div class="header-buttons">
                        <form action="https://www.bbva.com.co/buscador.jsp">
                            <a href="https://www.bbvanet.com.co/bbvaco/portalnetco/LogonAnonimoServlet?proceso=operaciones_generales_pr&amp;operacion=reactivacion_pw_op&amp;accion=alta" class="btn_viv btn-hader" target=""><b>Regístrate<b class="texto-completo-botones"> en BBVA net</b></b></a>
                            <a href="https://www.bbvanet.com.co/" class="btn_viv_verde btn-hader"><b>Accede<b class="texto-completo-botones"> a BBVA net</b></b></a>
                            <input type="search" id="q_head" name="q" class="form-control input-search" />
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/fbin/css/img/search-box.png" width='15' height='15px' alt="Buscar" />
                        </form>
                    </div>
                    <div class="menu-trigger first-child" data-target="#submenu-Personas"><a title="Personas" href="https://www.bbva.com.co/personas/">Personas</a></div>
                    <ul id="submenu-Personas" class="sub-menu active">
                        <li class="home"><a href="https://www.bbva.com.co/personas/" class="logo-menu"><i class="icon-24 white sprite-G02-Home-24x"></i><span class="text">Inicio</span></a></li>
                        <li><a title="Inversión" href="https://www.bbva.com.co/personas/ahorro-inversion/"><i class="icon-24 white sprite-Ahorrar_Invertir-24x"></i>Inversión</a></li>
                        <li><a title="Administración de Recursos"  href="https://www.bbva.com.co/personas/cuentas/"><i class="icon-24 white sprite-Cuenta-24x"></i>Administración de Recursos</a></li>
                        <li><a title="Tarjetas" href="https://www.bbva.com.co/personas/tarjetas/"><i class="icon-24 white sprite-Tarjeta-24x"></i>Tarjetas</a></li>
                        <li class="active"><a title="Préstamos" href="https://www.bbva.com.co/personas/prestamos/"><i class="icon-24 white sprite-PrestamoPersonal-24x"></i>Préstamos</a></li>
                        <li><a title="Seguros" href="https://www.bbva.com.co/personas/seguros/"><i class="icon-24 white sprite-Seguros-24x"></i>Seguros</a></li>
                        <li class="search">
                            <form action="https://www.bbva.com.co/buscador.jsp">
                                <input type="search" name="q" id="q_head" class="form-control input-search"/>
                                <img width="15" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/css/img/search-box.png" height="15" alt="Buscar"/>
                            </form>
                        </li>
                    </ul>
                    <div class="menu-trigger" data-target="#submenu-Banca-Personal"><a title="Banca Personal" href="https://www.bbva.com.co/banca-personal/">Banca Personal</a></div>
                    <ul id="submenu-Banca-Personal" class="sub-menu">
                        <li class="home"><a href="https://www.bbva.com.co/banca-personal/" class="logo-menu"><i class="icon-24 white sprite-G02-Home-24x"></i><span class="text">Inicio</span></a></li>
                        <li><a title="Inversión" href="https://www.bbva.com.co/banca-personal/ahorro-inversion/"><i class="icon-24 white sprite-Ahorrar_Invertir-24x"></i>Inversión</a></li>
                        <li><a title="Administración de Recursos" href="https://www.bbva.com.co/banca-personal/cuentas/"><i class="icon-24 white sprite-Cuenta-24x"></i>Administración de Recursos</a></li>
                        <li><a title="Tarjetas" href="https://www.bbva.com.co/banca-personal/tarjetas/"><i class="icon-24 white sprite-Tarjeta-24x"></i>Tarjetas</a></li>
                        <li><a title="Préstamos" href="https://www.bbva.com.co/banca-personal/prestamos/"><i class="icon-24 white sprite-PrestamoPersonal-24x"></i>Préstamos</a></li>
                        <li><a title="Seguros" href="https://www.bbva.com.co/banca-personal/seguros/"><i class="icon-24 white sprite-Seguros-24x"></i>Seguros</a></li>
                        <li class="search">
                            <form action="https://www.bbva.com.co/buscador.jsp">
                                <input type="search" name="q" id="q_head" class="form-control input-search"/>
                                <img width="15" src="#{resource['fbin/css/img/search-box.png']}" height="15" alt="Buscar"/>
                            </form>
                        </li>
                    </ul>
                    <div class="menu-trigger" data-target="#submenu-Premium"><a title="Premium" href="https://www.bbva.com.co/premium/">Premium</a></div>
                    <ul id="submenu-Premium" class="sub-menu">
                        <li class="home"><a href="https://www.bbva.com.co/premium/" class="logo-menu"><i class="icon-24 white sprite-G02-Home-24x"></i><span class="text">Inicio</span></a></li>
                        <li><a title="Inversión" href="https://www.bbva.com.co/premium/inversion/"><i class="icon-24 white sprite-Ahorrar_Invertir-24x"></i>Inversión</a></li>
                        <li><a title="Administración de recursos" href="https://www.bbva.com.co/premium/administracion-recursos/"><i class="icon-24 white sprite-Cuenta-24x"></i>Administración de recursos</a></li>
                        <li><a title="Tarjetas" href="https://www.bbva.com.co/premium/tarjetas/"><i class="icon-24 white sprite-Tarjeta-24x"></i>Tarjetas</a></li>
                        <li><a title="Prestamos" href="https://www.bbva.com.co/premium/prestamos/"><i class="icon-24 white sprite-PrestamoPersonal-24x"></i>Prestamos</a></li>
                        <li><a title="Seguros" href="https://www.bbva.com.co/premium/seguros/"><i class="icon-24 white sprite-Seguros-24x"></i>Seguros</a></li>
                        <li class="search">
                            <form action="https://www.bbva.com.co/buscador.jsp">
                                <input type="search" name="q" id="q_head" class="form-control input-search"/>
                                <img width="15" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/css/img/search-box.png" height="15" alt="Buscar"/>
                            </form>
                        </li>
                    </ul>
                    <div class="menu-trigger last-child" data-target="#submenu-Empresas"><a title="Empresas" href="https://www.bbva.com.co/empresas/">Empresas</a></div>
                    <ul id="submenu-Empresas" class="sub-menu">
                        <li class="home"><a href="https://www.bbva.com.co/empresas/" class="logo-menu"><i class="icon-24 white sprite-G02-Home-24x"></i><span class="text">Inicio</span></a></li>
                        <li><a title="Institucional" href="https://www.bbva.com.co/empresas/institucional/"><i class="icon-24 white sprite-Area-24x"></i>Institucional</a></li>
                        <li><a title="Empresarial" href="https://www.bbva.com.co/empresas/empresarial/"><i class="icon-24 white sprite-NuestroBanco-24x"></i>Empresarial</a></li>
                        <li><a title="Pymes" href="https://www.bbva.com.co/empresas/pymes/"><i class="icon-24 white sprite-BancaPrivada-24x"></i>Pymes</a></li>
                        <li><a title="Corporativo" href="https://www.bbva.com.co/empresas/corporativo/"><i class="icon-24 white sprite-Area-24x"></i>Corporativo</a></li>
                        <li class="search">
                            <form action="https://www.bbva.com.co/buscador.jsp">
                                <input type="search" name="q" id="q_head" class="form-control input-search"/>
                                <img width="15" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/css/img/search-box.png" height="15" alt="Buscar"/>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- ENTRO EN 123 IF -->
            </div>
            <div class="blue-full-width-line"></div>
            <div class="move-to" data-device="tablet,phone" data-element="login-form"></div>
        </header>
        <!-- Contenido -->
        <script type="text/javascript">
            var vSiteGSA="kqol_mult_colombia";
            var vSiteSuggest="https://w3.grupobbva.com/TLGO/tlgo/GSA_suggest";
        </script>
        <ui:insert name="content"/>
        <!--  <div class="content">
            <div class="container2">

            </div>
        </div> -->
        <!-- Fin Contenido -->
        <!-- Pie de página -->
        <footer class="body-footer">
            <div class="footer-menu">
                <div class="container ">
                    <div class="col-lg-3 fixedcontacto" style="padding: 0px;">
                        <div class="menu-trigger" data-target="#contacto-submenu">CONTACTO</div>
                        <ul id="contacto-submenu">
                            <li>
                                <a href="#"  >Línea BBVA 01 8000 912 227</a>
                            </li>
                            <li>
                                <a href="#"  >Barranquilla 350 35 00</a>
                            </li>
                            <li>
                                <a href="#"  >Bogotá 401 00 00</a>
                            </li>
                            <li>
                                <a href="#"  >Bucaramanga 630 40 00</a>
                            </li>
                            <li>
                                <a href="#"  >Calí  889 20 20</a>
                            </li>
                            <li>
                                <a href="#"  >Medellín 493 83 00</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 fixedinfocorp" style="padding: 0px;">
                        <div class="menu-trigger" data-target="#informacion-corporativa-submenu">INFORMACIÓN CORPORATIVA</div>
                        <ul id="informacion-corporativa-submenu">
                            <li>
                                <a href="https://www.bbva.com.co/meta/historia/"  >BBVA Colombia</a>
                            </li>
                            <li>
                                <a href="https://www.bbvaassetmanagement.com/am/am/co/ce/inversionista-particular/index.jsp"  target="_blank" >BBVA Asset Management</a>
                            </li>
                            <li>
                                <a href="https://www.bbva.com.co/meta/administracion-de-valores/"  >BBVA Valores</a>
                            </li>
                            <li>
                            </li>
                            <li>
                                <a href="http://www.bbva.com/TLBB/tlbb/esp/index.jsp"  target="_blank" >Web Corporativa BBVA.com</a>
                            </li>
                            <li>
                                <a href="http://www.centrodeinnovacionbbva.com/colombia"  target="_blank" >Centro de Innovación BBVA Colombia</a>
                            </li>
                            <li>
                                <a href="https://www.colombia.bancaresponsable.com/"  target="_blank" >Responsabilidad Corporativa BBVA</a>
                            </li>
                            <li>
                                <a href="https://www.bbva.com.co/meta/informacion-corporativa/informacion-interes/politicas-de-cobranzas/"  >Información de Interés</a>
                            </li>
                            <li>
                                <a href="https://www.bbva.com.co/meta/informacion-corporativa/reglamentos-externos/"  >Reglamentos Externos</a>
                            </li>
                            <li>
                                <a href="https://careers.bbva.com/colombia/es/"  target="_blank" >Empleo en BBVA</a>
                            </li>
                            <li>
                                <a href="https://www.bbvaresearch.com/category/geografias/latinoamerica/colombia/"  target="_blank" >BBVA Research</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 fixedinfogen" style="padding: 0px;">
                        <div class="menu-trigger" data-target="#informacion-general-submenu">INFORMACIÓN GENERAL</div>
                        <ul id="informacion-general-submenu">
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/resources/fbin/mult/BBVA_U-1202_6004976_tcm1304-491151.pdf"  target="_blank" >Formulario de vinculación Persona Natural</a>
                            </li>
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/resources/fbin/mult/BBVA_S-9486_100292701_tcm1304-537885.pdf"  target="_blank" >Formulario de vinculación Persona Jurídica </a>
                            </li>
                            <li>
                                <a href="https://www.bbva.com.co/meta/contacto/servicio-consumidor-financiero/"  >Servicio al Consumidor Financiero</a>
                            </li>
                            <li>
                                <a href="https://www.bbva.com.co/fbin/mult/Resolucion_40478_2012_SIC_tcm1304-491154.pdf"  target="_blank" >Resolución SIC 40478</a>
                            </li>
                            <li>
                                <a href="https://www.bbva.com.co/fbin/mult/Resolucion_53990_2012_SIC_tcm1304-491156.pdf"  target="_blank" >Resolución SIC 53990</a>
                            </li>
                            <li>
                                <a href="https://www.bbvateinforma.com.co/mailing/2013/julio/12306/leydatos.html"  target="_blank" >Políticas para manejo de información</a>
                            </li>
                            <li>
                                <a href="https://www.bbva.com.co/fbin/mult/POL_TICA_ATENCI_N_A_CLIENTES_DURANTE_INTERRUPCI_N_-_PDF_1__tcm1304-632946.pdf"  target="_blank" >Política - Interrupción de servicios</a>
                            </li>
                            <li>
                                <a href="https://www.bbvateinforma.com.co/segurodeposito/"  target="_blank" >Seguro Depósitos Fogafín</a>
                            </li>
                            <li>
                                <a href="https://www.bbva.com.co/meta/reglamento-productos/"  >Reglamento de Productos</a>
                            </li>
                            <li>
                                <a href="https://www.bbva.com.co/meta/licitacion-seguros/"  >Licitación de Seguros</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 footer-social-menu" style="padding: 0px;">
                        <div class="footer-social-menu-title">BBVA EN REDES SOCIALES</div>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/bbvacol" class = 'ico-facebook' target="_blank" >Facebook</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/BBVA_Colombia" class = 'ico-twitter' target="_blank" >Twitter</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/BancoBBVAColombia" class = 'ico-youtube' target="_blank" >Youtube</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/bbva-colombia?trk=company_name" class = 'ico-linkedin' target="_blank" >Linkedin</a>
                            </li>
                            <li>
                                <a href="https://www.blogbbva.com.co/" class = 'ico-blogger' target="_blank" >Blog BBVA</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <ul>
                        <li>
                            <a href="https://www.bbva.com.co/meta/aviso-legal/"  >Aviso Legal</a>
                        </li>
                        <li>
                            <a href="https://www.bbvateinforma.com.co/seguridad3/index.html"  target="_blank" >Seguridad</a>
                        </li>
                        <li>
                            <a href="https://www.bbva.com.co/meta/tasas-y-tarifas-por-servicio-bancario/"  >Tarifas y otros avisos</a>
                        </li>
                    </ul>
                    <span class="copyright">Banco Bilbao Vizcaya Argentaria Colombia S.A -  2017</span>
                </div>
            </div>
        </footer>
        <div id="destino0"></div>
    </div>
</div>
<!-- Fin Pie de página -->
<!-- Scripts -->
<div class="div-espacio"></div>
<div class="div-post-footer">
    <div class="content">
        <div class="container">
            <div class="col-lg-4 clearfix texto-completo-botones">
                <a class="btn_viv_verde boton-slim">Calcula y solicita ya tu crédito</a>
            </div>
            <div  class="col-lg-8 clearfix col-resize botones-grande">
                <div class="text-al"><a href="agendamiento"><img src="../resources/iconos/calendario.png"/> Agenda una cita</a></div>
                <div class="text-al"><img src="../resources/iconos/telefono.png"/> Linea BBVA <b class="texto-completo-botones">01 800 91 2227</b></div>
                <div class="text-al"><img src="../resources/iconos/mensajes.png"/> Chatea con nosostros</div>
            </div>
            <div  class="col-lg-12 clearfix col-resize botones-pequeno">
                <div class="text-al"><img src="../resources/iconos/calendario.png"/> <br class="espacio-icono"></br> Agenda una cita</div>
                <div class="text-al"><img src="../resources/iconos/telefono.png"/> <br class="espacio-icono"></br> Linea BBVA <b class="texto-completo-botones">01 800 91 2227</b></div>
                <div class="text-al"><img src="../resources/iconos/mensajes.png"/> <br class="espacio-icono"></br> Chatea con nosostros</div>
            </div>
        </div>
    </div>
</div>
<span id="scroll-to-top" class="scroll-to-top" title="Subir"><i class="sprite-iconos-bbva sprite-iconos-bbva-ancla"></i></span>
<!-- Scripts personalizados-->

<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/jquery.listnav.min.ver2.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/vendor.min.ver6.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/iframeResizer.min.ver9.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/iframeResizer.contentWindow.min.ver9.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/handlebars-v1.3.0.min.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/lightBox-v1.min.ver1.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/site-v1.min.ver2.js"></script>

<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/validacion-login.min.ver2.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/masonry.pkgd.min.ver2.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/iframe-order-receiver.min.ver6.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/jquery.smartbanner.min.ver7.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/fbin/js/smartbanner-init.ver4.js"></script>

<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/slick/slick.js" charset="utf-8"></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.scrolling-tabs.js" ></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.bxslider.min.js" ></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.jscrollpane.min.js" ></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/simulador.js" ></script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/tabs/src/tabs.js" ></script>

<script type="text/javascript">
    
function ventoTabs(){
    console.log("evento");
    setTimeout(tabsComplete,1000);
}    
    
function tabsComplete(){    
    var dec = false;
    //var el = document.querySelector('tabs');
    var el = document.getElementById("tabs");

    console.log("true");
    if(el != null){
        console.log("esta oculto");
	var tabNavigationLinks = el.querySelectorAll('.c-tabs-nav__link');
	if(tabNavigationLinks != null){
		var tabContentContainers = el.querySelectorAll('.c-tab');
		if(tabContentContainers != null){
			dec = true;
		}
	}
    }

    var myTabs = null;

    if(dec){
	var myTabs = tabs({
	    el: '#tabs',
	    tabNavigationLinks: '.c-tabs-nav__link',
	    tabContentContainers: '.c-tab'
	  });

	  myTabs.init();
    }
}  
</script>

<script type="text/javascript">
    $('.nav-tabs').scrollingTabs();
</script>
<script type="text/javascript">
    $(document).on('ready', function() {
        $(".regular").slick({
            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });
        $(".center").slick({
            dots: true,
            infinite: true,
            centerMode: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });
        $(".variable").slick({
            dots: true,
            infinite: true,
            variableWidth: true
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider4').bxSlider({
            slideWidth: 300,
            minSlides: 1,
            maxSlides: 3,
            moveSlides: 1,
            slideMargin: 10
        });
    });
</script>

<!--  <script type="text/javascript">
    $(document).ready(function() {
        var container_width = SINGLE_IMAGE_WIDTH * $(".container-inner a").length;
        $(".container-inner").css("width", container_width);
    });
</script>-->

<!--  <script type="text/javascript">
    jQuery(document).ready(function () {
        if (!jQuery.browser.webkit) {
            jQuery('.contenedor').jScrollPane();
        }
    });
</script>-->

<script type="text/javascript">
    $(document).ready(function() {
        $('.dropdown').click(function() {
            var $this = $(this);

            if ($this.children('.dropdown-menu').hasClass('open')) {
                $this.removeClass('active');
                $this.children('.dropdown-menu').removeClass('open');
                $this.children('.dropdown-menu').fadeOut("fast");
            }


            else {
                $this.addClass('active');
                $this.children('.dropdown-menu').addClass('open');
                $this.children('.dropdown-menu').fadeIn("fast");
            }
        });

        $('.dropdown').click();
    });
</script>

</body>
</html>