<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <div class="content hidden-xs">
            <center>
                <div class="breadCrumb textbreadCrumb fondoTab2">
                    <div class="container">
                        <nav class="breadbva">
                            <menu type="toolbar">
                                <li>
                                    <a href="https://www.bbva.com.co/personas/" class="texto-bread">Personas <img src="../resources/img/flecha-pie.png"></img></a>
                                </li>
                                <li>
                                    <a href="https://www.bbva.com.co/personas/prestamos/" class="texto-bread">Hipotecas y préstamos <img src="../resources/img/flecha-pie.png"></img></a>
                                </li>
                                <li>
                                    <a href="home" class="texto-bread">BBVA vivienda on-line <img src="../resources/img/flecha-pie.png"></img></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="bread-actual">Crédito hipotecario</a>
                                </li>
                            </menu>
                        </nav>
                    </div>
                </div>
            </center>      
        </div>



        <ui:insert name="content-b"/>

    </ui:define>
</ui:composition>