<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard-bread.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content-b">
        <h:form>

            <div class="container2 img-grande">
                <img src="../resources/img/ficha_producto1.jpg"></img>
            </div>

            <div class="container2 img-pequeno">
                <img src="../resources/img/ficha_producto_pequeno.jpg"></img>
            </div>

            <div class="container2">

                <div class="contenido-flotante">
                    <div class="texto-flotante">
                        <div class="col-lg-2 icono-atras"><a href="home"><img src="../resources/img/volver.png" /><span style="color: white;">volver</span></a></div>
                        <div class="col-lg-10 titulo-pag-fichas">Cuenta AFC</div>
                        <div class="col-lg-2 icono-atras"></div>
                        <!--
                        <div class="col-lg-10 descripcion-pag-fichas"></div>
                        <div class="col-lg-10 descripcion-pag-fichas-peq"></div>
                        -->
                    </div>
                    <br></br>
                    <!--
                    <div class="imagenes-flotantes">
                        <div class="col-lg-6 oferta-uno"><img src="../resources/img/oferta-uno.jpg"/></div>
                        <div class="col-lg-6 oferta-dos"><img src="../resources/img/oferta-dos.jpg"/></div>
                    </div>
                    -->
                </div>
            </div>

            <div class="fondoTab">
                <div class="row">
                    <div class="container">
                        <div class="col-lg-12 col-lg-offset-2">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">Características y beneficios</a></li>
                                <li role="presentation"><a href="#2" role="tab" data-toggle="tab">Requisitos</a></li>
                                <li role="presentation"><a href="#3" role="tab" data-toggle="tab">¿Sabías qué?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ContenidoPestana" class="row">
                <div class="tab-content">

                    <div class="tab-pane active" id="1">

                        <div class="row" >
                            <div class="col-lg-12 clearfix img-center" style="padding-bottom: 20px">
                                <h2 style="color: #006DCC; font-family: BBVA Web Light">Cuenta AFC</h2>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="hipotecas-fin-texto4">
                                        La cuenta de Ahorros para el Fomento de la Construcción (AFC) es un depósito que, además de ofrecerte excelente rentabilidad, te permite obtener beneficios tributarios de ley cuando los recursos ahorrados se destinan a la compra de vivienda nueva o usada a través del pago de cuota inicial, pago de cuota mensual de crédito hipotecario, pago de canon de arrendamiento mensual o pago de opción de adquisición de Leasing Habitacional.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row hipotecas-azul">
                            <div class="container">
                                <div class="row">

                                    <div class="desktop">
                                        <div class="col-lg-5 hipotecas-azul" style="height: 1000px;">
                                            <div class="padding">

                                                <h2 class="h2Title4">Beneficios</h2>

                                                <div class="">
                                                    <ul class="hipotecas-fin-texto3">
                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Los depósitos en la AFC no harán parte de la base gravable para aplicarte retención en la fuente sobre tus salarios y son considerados renta exenta.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                El dinero ahorrado en tu cuenta AFC sumado a los aportes de pensiones voluntarios no podrán exceder el 30% de tus ingresos laborales o tributarios y hasta un monto máximo de 3800 UVT al año.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Si eres declarante de Impuesto de Renta los ahorros de la AFC disminuyen la base gravable para cálculo de este impuesto.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Los ahorros que tengan beneficio tributario que cumplan el tiempo de permanencia exigido por ley, tendrán disponibilidad de libre destinación.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Los rendimientos financieros están exentos de retención en la fuente siempre y cuando los recursos se destinen a la compra de la vivienda nueva o usada.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Tienes la posibilidad de realizar traslados desde Cuentas AFC de otras entidades o Fondos de pensiones voluntarios sin perder la antigüedad de tus aportes.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Mientras ahorras para la realización de tu proyecto de adquirir vivienda obtienes rentabilidad.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Comodidad al programar débito automático para el pago de la cuota mensual de leasing habitacional o crédito hipotecario.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="poscVineta2" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Facilidad en la gestión de tu cuenta AFC ya que dispones de varios canales como BBVA Móvil, BBVA Net, Red de Oficinas a nivel nacional.
                                                            </span>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>

                                        <div id="listaInt" class="col-lg-7 hipotecas-blanco height-blanco">

                                            <div class="padding">

                                                <h2 class="h2Title3">Características</h2>

                                                <!-- desktop -->
                                                <div class="desktop">
                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/dinero.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Monto Mínimo de Apertura</h4>
                                                            <span id="text">No tiene monto mínimo de apertura.</span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/dineroP.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Saldo mínimo para devengar Intereses</h4>
                                                            <span id="text">A partir de $1. Rentabilidad diferenciada de acuerdo al saldo.</span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/text.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Cuota de Manejo</h4>
                                                            <span id="text">No genera cuota de manejo al no tener asociadas tarjetas Débito para su administración.</span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/cal.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Seguros</h4>
                                                            <span id="text">Este producto cuenta con Seguro de Depósitos Fogafín. Para mayor información haga <a href="https://www.fogafin.gov.co">click aquí</a></span>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/porc.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <h4 class="h4Title">Tasa de interés</h4>
                                                            <span id="text">Tasas de interés diferencial por rango de saldo obtenido en el día, según política vigente. Conoce las tasas vigentes haciendo <a href="https://www.fogafin.gov.co">click aquí</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End desktop -->
                                            </div>
                                            <img class="logo-center2" src="../resources/img/Logo_Fogafin.png"/>
                                        </div>
                                        <div id="listaInt-dos" style="display: none" class="col-lg-7 hipotecas-blanco"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mobile">
                            <footer class="body-footer">
                                <div class="footer-menu" style="border: none; margin-bottom: 55px">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="menu-trigger" data-target="#contacto-submenuA" style="background-color:#0059b0; border:0px; font-size:20px ">Beneficios</div>
                                                <div id="contacto-submenuA">

                                                    <div>
                                                        <div style="background-color: #0059AF; padding: 25px 0px 25px 0px" class="texto-destacado-regular">
                                                            <ul class="paddSide">
                                                                <li class="option">
                                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                                    <div class="light-color-white poscTextLista" >
                                                                        <span>
                                                                            Los depósitos en la AFC no harán parte de la base gravable para aplicarte  retención en la fuente sobre tus salarios y son considerados renta exenta.
                                                                        </span>
                                                                    </div>
                                                                </li>

                                                                <li class="option">
                                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                                    <div class="light-color-white poscTextLista">
                                                                        <span class="light-color-white">
                                                                            El dinero ahorrado en tu cuenta AFC sumado a los aportes de pensiones voluntarios no podrán exceder el 30% de tus ingresos laborales o tributarios y hasta un monto máximo de 3800 UVT al año.
                                                                        </span>
                                                                    </div>
                                                                </li>

                                                                <li class="option">
                                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                                    <div class="light-color-white poscTextLista">
                                                                        <span class="light-color-white">
                                                                            Si eres declarante de Impuesto de Renta los ahorros de la AFC disminuyen la base gravable para cálculo de este impuesto.
                                                                        </span>
                                                                    </div>
                                                                </li>

                                                                <li class="option">
                                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                                    <div class="light-color-white poscTextLista">
                                                                        <span class="light-color-white">
                                                                            Los ahorros que tengan beneficio tributario que cumplan el tiempo de permanencia exigido por la ley tendrán disponibilidad de libre destinación.
                                                                        </span>
                                                                    </div>
                                                                </li>

                                                                <li class="option">
                                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                                    <div class="light-color-white poscTextLista">
                                                                        <span class="light-color-white">
                                                                            Los rendimientos financieros están exentos de retención en la fuente siempre y cuando los recursos se destinen a la compra de la vivienda nueva o usada.
                                                                        </span>
                                                                    </div>
                                                                </li>

                                                                <li class="option">
                                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                                    <div class="light-color-white poscTextLista">
                                                                        <span class="light-color-white">
                                                                            Tienes la posibilidad de realizar traslados desde Cuentas AFC de otras entidades o Fondos de pensiones.
                                                                        </span>
                                                                    </div>
                                                                </li>

                                                                <li class="option">
                                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                                    <div class="light-color-white poscTextLista">
                                                                        <span class="light-color-white">
                                                                            Mientras ahorras para la realización de tu proyecto de adquirir vivienda obtienes rentabilidad.
                                                                        </span>
                                                                    </div>
                                                                </li>

                                                                <li class="option">
                                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                                    <div class="light-color-white poscTextLista">
                                                                        <span class="light-color-white">
                                                                            Comodidad al programar débito automático para el pago de la cuota mensual de leasing habitacional o crédito hipotecario.
                                                                        </span>
                                                                    </div>
                                                                </li>

                                                                <li class="option">
                                                                    <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                                    <div class="light-color-white poscTextLista">
                                                                        <span class="light-color-white">
                                                                            Facilidad en la gestión de tu cuenta AFC ya que dispones de varios canales como BBVA Móvil, BBVA Net, Red de Oficinas a nivel nacional.
                                                                        </span>
                                                                    </div>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-trigger arrow-down" data-target="#informacion-corporativa-submenuD" style="background-color:#fff; color: #0059b0; border:0px; font-size:20px; border-bottom: 1px solid lightgray ">Características</div>
                                                <div id="informacion-corporativa-submenuD">
                                                    <div>
                                                       <div class="contAcordmobileWhite">

                                            <!--Carrusel Movil-->
                                            <div class="col-md-4">
                                                <table>
                                                    <tr>
                                                        <td style="height: 220px;vertical-align: top; background: white;">
                                                            <!-- Carousel
                                                            ================================================== -->
                                                            <div id="myCarousel" class="carousel slide">

                                                                <div class="carousel-inner">
                                                                    <div class="item active" style="text-align: center;">
                                                                        <!-- imagenes carrusel mobile -->
                                                                        <div class="row">
                                                                            <div>
                                                                                <img src="../resources/img/Iconos/dinero.png" alt="Slide1"/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Monto Mínimo de Apertura
                                                                                
                                                                            </h4>
                                                                            <span id="text">No tiene monto mínimo de apertura.</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/dineroP.png" alt="Slide2"/>
                                                                        </div>

                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Saldo mínimo para devengar Intereses</h4>
                                                                            <span id="text">A partir de $1. Rentabilidad diferenciada de acuerdo al saldo.</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/text.png" alt="Slide3"/>
                                                                        </div>
                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Cuota de Manejo</h4>
                                                                            <span id="text">No genera cuota de manejo al no tener asociadas tarjetas Débito para su administración.</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/cal.png" alt="Slide4"/>
                                                                        </div>
                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Seguros</h4>
                                                                            <span id="text">Este producto cuenta con Seguro de Depósitos Fogafín. Para mayor información haga <u><a href="https://www.fogafin.gov.co">click aquí</a></u></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/porc.png" alt="Slide5"/>
                                                                        </div>

                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Tasa de interés</h4>
                                                                            <span id="text">Tasas de interés diferencial por rango de saldo obtenido en el día, según política vigente. Conoce las tasas vigentes haciendo <u><a href="https://www.fogafin.gov.co">click aquí</a></u></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- End Carousel -->
                                                        </td>
                                                        <img class="logo-center" style="top: 400px" src="../resources/img/Logo_Fogafin.png"/>
                                                    </tr>

                                                    <tr>
                                                        <td style="background: white;">
                                                            <!-- Indicators -->
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col-lg-12 text-center" style="padding-left: 30px;">
                                                                        <ol class="carousel-indicators" style="height: 40px;width: 100%; background: white;">
                                                                            <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
                                                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                                                            <li data-target="#myCarousel" data-slide-to="4"></li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!--Fin Carrusel Movil-->

                                          
                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>

                    <div class="tab-pane" id="2">
                        <div class="container">
                            <div class="col-lg-12 clearfix" style="margin-top: 50px;">

                                <div class="col-lg-12 clearfix img-center" style="margin-bottom: 30px">
                                    <h2 style="color: #006DCC; font-family: BBVA Web Light">Requisitos</h2>
                                </div>

                                <div class="row margenes">
                                    <img style="float: left" src="../resources/iconos/icono-chulo.png"/>
                                    <div class="paddWhiteColumn">
                                        <span id="text">Si ya formas parte de los clientes BBVA, solo debes actualizar tu información en el Formulario de Solicitud de Vinculación y Contratación de Productos Persona Natural.</span>
                                    </div>
                                </div>
                                

                                <div class="row margenes">
                                    <img style="float: left" src="../resources/iconos/icono-chulo.png"/>
                                    <div class="paddWhiteColumn">
                                        <span id="text">Si aún no eres cliente:</span>
                                        <br></br>
                                <br></br>
                                        <ul class="vinetas-azul textList">
                                            <li>Formulario de vinculación y contratación de productos Persona Natural.</li>
                                            <li>Documento de identidad Original.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="3">
                        <div class="row">
                            <div class="container margenes2">

                                <div class="col-lg-4 imgCenter">
                                    <div class="col-md-12 sabias-icono"></div>
                                    <img src="../resources/img/sabias.PNG" />
                                </div>

                                <div class="col-lg-8">
                                    <ul class="hipotecas-fin-texto2">
                                        <li>
                                            <img class="poscVineta" src="../resources/img/chuloBlanco.PNG"/>
                                            <span>
                                                En caso de presentarse retiro anticipado de los recursos, se pagará lo abonado hasta ese momento bajo tasa de interés de política de BBVA.
                                            </span>
                                        </li>

                                        <li>
                                            <img class="poscVineta" src="../resources/img/chuloBlanco.PNG"/>
                                            <span>
                                                Si requieres hacer la cancelación de tu cuenta AFC debes presentarte en la Oficina de apertura y cumplir con los siguientes requisitos:
                                            </span>

                                            <ul class="vinetas-sub-azul margenesTop">
                                                <li>Presentar el documento de identidad original.</li>
                                                <li>La cuenta debe estar con saldo en $0.</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Botones-->

            <div class="row text-center">
                <div class="container">
                    <div class="btn-group btn-group-justified">
                        <div class="col-lg-12 clearfix">
                            <button type="button" class="btn header-btn btn success boton" style="margin:0px">Calcula y solicita ya tu crédito</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div id="norma" class="col-lg-6 col-lg-offset-3 text-center">
                        En BBVA velamos por la transparencia en la información que te ofrecemos. Recuerda que esta documentación será necesaria para la aprobación de tu crédito de vivienda, para la posterior legalización es necesario aportar más documentos tales como: certificados de tradición y libertad, escrituras, etc. Nuestros Asesores comerciales están en capacidad de  asesorarte y acompañarte durante éste proceso.
                    </div>
                </div>
            </div>

            <div id="lineRow"></div>

            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery-1.12.0.min.js"/>
            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/bootstrap.min.js"/>
            <script type="text/javascript">
                function ocultar_dos(){
                    var div_cerrar = document.getElementById('listaInt');
                    var div_cerrarMobile = document.getElementById('listaIntMobile');
                    var div_cerrarUp = document.getElementById('pestUp');
                    var div_cerrarDown = document.getElementById('pestDown');
                    var div_abrir = document.getElementById('listaInt-dos');
                    var div_target = document.getElementById('target');
                    div_target.style.display = 'none';
                    div_cerrar.style.display = 'none';
                    div_cerrarMobile.style.display = 'none';
                    div_cerrarUp.style.display = 'none';
                    div_cerrarDown.style.display = 'none';
                    div_abrir.style.display = 'block';

                }

                function ocultar_uno(){
                    var div_cerrar = document.getElementById('listaInt-dos');
                    var div_abrir = document.getElementById('listaInt');
                    var div_abrirMobile = document.getElementById('listaIntMobile');
                    var div_abrirUp = document.getElementById('pestUp');
                    var div_abrirDown = document.getElementById('pestDown');
                    var div_target = document.getElementById('target');
                    div_target.style.display = 'block';
                    div_cerrar.style.display = 'none';
                    div_abrir.style.display = 'block';
                    div_abrirMobile.style.display = 'block';
                    div_abrirUp.style.display = 'block';
                    div_abrirDown.style.display = 'block';

                }
            </script>

            <!-- Fin Contenido -->
        </h:form>
    </ui:define>
</ui:composition>