<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard-bread.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content-b">
        <div class="altura">
            <div class="container-fluid">
                <p class="text-center tituloPrincipal">Pre-aprobación de crédito hipotecario.</p>
                <div class="contenedor">
                    <div class="subcontenedor"> 
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-5 fondo-blanco-w">
                                <div class="contorno">    
                                    <img class="imagenMeGusta" src="../resources/img/me-gusta.png" />
                                    <h3 class="text-subtitulo">Antes de empezar</h3>
                                    <p class="textoInformativo text-left">Para iniciar el proceso de <br class="hidden-xs hidden-sm"/>pre-aprobación debemos verificar algunos datos en <br class="visible-xs"/> centrales de riesgo.</p>
                                </div>
                            </div> 
                            <div class="col-md-7 fondo-difuminado col-xs-12"> 
                                <div class="contenido-difuminado"> 
                                    <h:form id="formulario">
                                        <div class="checkbox">
                                            <p:selectBooleanCheckbox id="checkCentrales" value="#{vista.aceptoConsultaCentrales}" styleClass="check-hover-icono check-fund">
                                                <p:ajax update="botonContinuar" />
                                            </p:selectBooleanCheckbox>
                                            <span class="texto-check">Acepto que mi información sea consutada en centrales de riesgo.</span>
                                        </div>
                                        <div class="intervalo-check"/>
                                        <div class="checkbox">
                                            <p:selectBooleanCheckbox id="checkTerminos" styleClass="check-hover-icono" value="#{vista.aceptoTerminos}">
                                                <p:ajax update="botonContinuar" />
                                            </p:selectBooleanCheckbox>
                                            <span class="texto-check">Acepto <a class="terminos-condiciones"> términos y condiciones </a> del banco. </span>
                                        </div>        
                                        
                                        <div class="intervalo-boton"/>
                                        <p:commandButton id="botonContinuar" action="continuar" value="Continuar" class="boton-continuar-w" disabled="#{!vista.aceptoTerminos || !vista.aceptoConsultaCentrales}" />
                                    </h:form>
                                </div>    
                            </div> 
                        </div>
                    </div>         
                </div>         
            </div>        
        </div>
        
        <!-- contenido movil -->
            <div class="container informacion-movil visible-xs">
                <div class="sucursal">        
                    <i class="sprite-iconos-bbva sprite-iconos-bbva-ico-oficinas"></i>
                    <a href="/resources/fbin/mult/Horarios_Red_Comercial_tcm1304-491109.pdf"  class='ico-oficinas' target="_blank" >Sucursales</a>
                </div>
                <div class="sucursal"> 
                    <i class="sprite-iconos-bbva sprite-iconos-bbva-ico-lineabbva"></i>
                    <a href="#" class="ico-lineabbva">Línea BBVA 01 8000 912227</a>
                </div>
            </div>
    </ui:define>
</ui:composition>