<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
>
<h:head>
    <title>BBVA Vivienda Online</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="../resources/css/bbva.css"/>
   <h:outputStylesheet>

        /*SLIDER*/

        #carousel-example-generic {
            margin: 20px auto;
            width: 600px;
        }

        #carousel-custom {
            margin: 20px auto;
            width: 600px;
        }
        #carousel-custom .carousel-indicators {
            margin: 10px 0 0;
            overflow: auto;
            position: static;
            text-align: left;
            white-space: nowrap;
            width: 100%;
        }
        #carousel-custom .carousel-indicators li {
            background-color: transparent;
            -webkit-border-radius: 0;
            border-radius: 0;
            display: inline-block;
            height: auto;
            margin: 0 !important;
            width: auto;
        }
        #carousel-custom .carousel-indicators li img {
            display: block;
            opacity: 0.5;
            max-height: 130px;
            max-width: 130px;
        }
        #carousel-custom .carousel-indicators li.active img {
            opacity: 1;
        }
        #carousel-custom .carousel-indicators li:hover img {
            opacity: 0.75;
        }
        #carousel-custom .carousel-outer {
            position: relative;


            -webkit-border-radius: 0;

            display: inline-flex;
            height: auto;
            margin: 0 !important;
            width: auto;
        }
        /*FIN SLIDER*/
        .recortado{
            padding-left: 15%;
            padding-right: 15%
        }
        .gris{
            color:gray;
            font-size: 20px;

        }
        .blue{
            color: #006dcc;
            font-size: 24px;
            font-weight: 100;

        }
        .border-descripcion{
            border: 1px #d6d7da solid;
            background-color: white;
        //box-shadow: 1px 1px 1px gray;
            z-index: 1;
        //border-radius: 40px;
            padding-bottom: 10px;
            text-align: center;

        }
        .boder-descripcion-blue{
            font-size: 16px;
            color: #006dcc;
            border-right: 1px #d6d7da solid;
        }
        .boder-descripcion-blue2{
            font-size: 16px;
            color: #006dcc;

        }
        .boder-descripcion-gris{
            font-size: 18px;
            color:gray;
        }
        .text-descripcion{
            font-weight: 100;
            font-size: 14px;
            padding-top: 20px;
        }

        .text-detalle{
            padding-top: 10px;
            color: white;
            font-weight: 100;
            font-size: 20px;
            padding-bottom: 10px;
            padding-left: 15%;
        }
        .fondo-azul{
            top: -50px;
            padding-top: 80px;
            background-color: #004caa;
            padding-left: -15%;
            padding-right: -15%;
            position:relative;
            padding-bottom: 3%;

        }
        .icons-descripcion{
            font-weight: 100; font-size: 60px;
            padding-left:20px;
            padding-right:20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .conoce{
            top: -20px;
            color: #38c1f7;
        }
        .seccion{
            padding-top: 10px;
            background-color: white;
            width: 35%;
        }
        .seccion-detalle-general{
            padding-top: 10px;
            color: #004caa;
            font-weight: 100;
            font-size: 20px;
            padding-bottom: 40px;
        }
        .seccion-detalle-azul{
            color:#004caa;
            font-size: 14px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .seccion-detalle-gris{
            color:#d6d7da;
            font-size: 14px;
            padding-bottom: 15px;
            padding-left: 0px;
            padding-right: 0px;
        }
   </h:outputStylesheet>
</h:head>
<body>
<div class="recortado">
    <div class="col-lg-12 gris">
        Bogotá
    </div>
    <div class="col-lg-12 blue">
        Proyecto Torre de la Merced
    </div>
    <!--Slider-->
    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
        <div class='carousel-outer'>
            <!-- Wrapper for slides -->
            <div class='carousel-inner'>
                <div class='item active'>
                    <img src='http://img.emol.com/2013/07/23/simpson-futurama_14811-L0x0.jpg' alt='' />
                </div>
                <div class='item'>
                    <img src='http://img.emol.com/2014/07/21/simpson_12318.jpg' alt='' />
                </div>
                <div class='item'>
                    <img src='http://www.canvas101.co.uk/images/gallery-art/Animation/Cartoon/CT0117%20The%20Simpsons%20Bart%20Underwater%20.jpg' alt='' />
                </div>

            </div>

            <!-- Controls -->
            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                <span class='glyphicon glyphicon-chevron-left'></span>
            </a>
            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                <span class='glyphicon glyphicon-chevron-right'></span>
            </a>
        </div>

        <!-- Indicators -->
        <ol class='carousel-indicators'>
            <li data-target='#carousel-custom' data-slide-to='1'><img src='http://img.emol.com/2013/07/23/simpson-futurama_14811-L0x0.jpg' alt='' /></li>
            <li data-target='#carousel-custom' data-slide-to='2'><img src='http://img.emol.com/2014/07/21/simpson_12318.jpg' alt=''/></li>
            <li data-target='#carousel-custom' data-slide-to='3'><img src='http://www.canvas101.co.uk/images/gallery-art/Animation/Cartoon/CT0117%20The%20Simpsons%20Bart%20Underwater%20.jpg' alt='' /></li>
        </ol>
    </div>
    <!-- Fin Slider-->
    <div class="col-lg-12 blue border-descripcion">
        <div class="col-lg-3 boder-descripcion-blue">
            <div><span class="glyphicon glyphicon-print icons-descripcion"></span></div>
            Desde: <font class="boder-descripcion-blue" style="font-weight: bold; font-size: 18px">$430.643.189</font></div>
        <div class="col-lg-3 boder-descripcion-blue">
            <div><span class="glyphicon glyphicon-print icons-descripcion"></span></div>
            Área Privada: <font class="boder-descripcion-gris">76.92 m2</font></div>
        <div class="col-lg-2 boder-descripcion-blue">
            <div><span class="glyphicon glyphicon-print icons-descripcion"></span></div>
            Habitaciones: <font class="boder-descripcion-gris">3</font></div>
        <div class="col-lg-2 boder-descripcion-blue">
            <div><span class="glyphicon glyphicon-print icons-descripcion"></span></div>
            Baños: <font class="boder-descripcion-gris">2</font></div>
        <div class="col-lg-2 boder-descripcion-blue2">
            <div><span class="glyphicon glyphicon-print icons-descripcion"></span></div>
            Estrato: <font class="boder-descripcion-gris">5</font></div>
    </div>
</div>

<div class="col-lg-12 fondo-azul">
    <div class="col-lg-6 text-detalle">
        <div class="col-lg-10">Detalle del mueble</div>
        <div class="col-lg-10 text-descripcion"> El nivel cuenta con sala comedor integrados, cocina tipo americano, tres habitaciones, tres baños, balcón, zona de ropas independiente, tres ascensores por torre, cancha de squash, conjunto cerrado, gimnacio, parque infantil, piscina y cuarto de basuras o shuts.
        </div>
        <div class="col-lg-12 text-descripcion" style="font-weight: bold;"> No. de Inmuebles disponibles: 15</div>
        <div class="col-lg-12 text-descripcion" style="font-weight: bold;">
            <span class="glyphicon glyphicon-print icons-descripcion"></span>
        </div>
        <div class="col-lg-12 text-descripcion conoce" style="font-weight: bold;">
            Conoce más del proyecto
        </div>
    </div>
    <div class="col-lg-6 seccion">
        <div class="col-lg-12 seccion-detalle-general">Informe general</div>
        <div class="col-lg-12 ">
            <div class="col-lg-6 seccion-detalle-azul">Ciudad</div>
            <div class="col-lg-6 seccion-detalle-azul">Valor de la Administración</div>
            <div class="col-lg-6 seccion-detalle-gris">Bogotá</div>
            <div class="col-lg-6 seccion-detalle-gris">$459.000</div>
        </div>
        <div class="col-lg-12 ">
            <div class="col-lg-6 seccion-detalle-azul">Zona:</div>
            <div class="col-lg-6 seccion-detalle-azul">Estrato</div>
            <div class="col-lg-6 seccion-detalle-gris">Noroccidente</div>
            <div class="col-lg-6 seccion-detalle-gris">5</div>
        </div>
        <div class="col-lg-12 ">
            <div class="col-lg-6 seccion-detalle-azul">Sector:</div>
            <div class="col-lg-6 seccion-detalle-azul">Área:</div>
            <div class="col-lg-6 seccion-detalle-gris">Córdoba</div>
            <div class="col-lg-6 seccion-detalle-gris">64.42m2</div>
        </div>
        <div class="col-lg-12 ">
            <div class="col-lg-6 seccion-detalle-azul">Barrio Común:</div>
            <div class="col-lg-6 seccion-detalle-azul">Área Contruida:</div>
            <div class="col-lg-6 seccion-detalle-gris">El Paraiso</div>
            <div class="col-lg-6 seccion-detalle-gris">75.16m2</div>
        </div>
        <div class="col-lg-12 ">
            <div class="col-lg-6 seccion-detalle-azul">Valor en Venta</div>
            <div class="col-lg-6 seccion-detalle-azul">Acabados:</div>
            <div class="col-lg-6 seccion-detalle-gris">$478.723.000</div>
            <div class="col-lg-6 seccion-detalle-gris">Con acabados</div>
        </div>
    </div>
    <div class="col-lg-12 " style="color: white; padding-left:25%;">
        *Esta información corresponde al estrato actual y puede variar a la fecha de entrega del inmueble
    </div>
</div>

<div class="col-lg-12" style="padding-left:25%; padding-right:25%;padding-bottom: 5%">
    <div class="col-lg-6"><button class="btn btn-lg btn-primary" style="padding-left:15%; padding-right:15%;    width: 100%;">Solicita ya tu crédito</button></div>
    <div class="col-lg-6"><button class="btn btn-lg btn-success" style="padding-left:15%; padding-right:15%;    width: 100%;" >Calcula tu crédito</button></div>
</div>
</body>
</html>
