<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard-bread.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content-b">
        <h:form>

            <div class="container2 img-grande">
                <img src="../resources/img/ficha_hipotecas_small.jpg"></img>
            </div>

            <div class="container2 img-pequeno">
                <img src="../resources/img/ficha_producto_pequeno.jpg"></img>
            </div>

            <div class="container2">

                <div class="contenido-flotante">
                    <div class="texto-flotante">
                        <div class="col-lg-2 icono-atras">
                            <a href="productos">
                                <img src="../resources/img/volver.png" />
                                <span style="color: white;">volver</span>
                            </a>
                        </div>
                        <div class="col-lg-10 titulo-pag-fichas">MI Casa Ya NO VIS</div>

                        <div class="col-lg-offset-2 col-lg-10 descripcion-pag-fichas">En BBVA puedes obtener este préstamo con garantía hipotecaria para tener casa propia con un valor mayor a 135 SMMLV e inferior a 335 SMMLV, con el beneficio otorgado por el Gobierno Nacional de reducir la tasa de interés del crédito.</div>
                        <div class="col-lg-offset-2 col-lg-10 descripcion-pag-fichas-peq">En BBVA puedes obtener este préstamo con garantía hipotecaria para tener casa propia con un valor mayor a 135 SMMLV e inferior a 335 SMMLV, con el beneficio otorgado por el Gobierno Nacional de reducir la tasa de interés del crédito.</div>
                    </div>
                </div>
            </div>

            <!--contenido-->
            <div class="desktop">
                <div id="ContenidoPestana" class="row">
                    <div class="tab-content">

                        <div class="row hipotecas-azul">
                            <div class="container">
                                <div class="row">

                                    <div class="desktop">
                                        <div class="col-lg-5 hipotecas-azul">
                                            <div class="ajuste-hipotecario-text">

                                                <h2 class="h2Title4">Beneficios</h2>

                                                <div class="">
                                                    <ul class="hipotecas-fin-texto3">
                                                        <li>
                                                            <img class="posc-vineta-1" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                El Gobierno Nacional cubre 2.5 puntos porcentuales de la tasa de interés de tu crédito durante los 7 primeros años de vida del mismo, si cumples con las condiciones para acceder a la cobertura. Aplica tanto para crédito hipotecario como para Leasing Habitacional.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="posc-vineta-1" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Puedes elegir el día del mes en que deseas pagar la cuota de tu crédito.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="posc-vineta-1" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                BBVA permite la consolidación de ingresos familiares entre cónyuges, padres con hijos solteros y entre hermanos solteros con el fin de generar mayor capacidad de pago.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="posc-vineta-1" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Cuentas con 180 días para el desembolso de tu crédito de vivienda desde su aprobación. Vencido ese plazo, deberás actualizar la documentación presentada para una nueva aprobación.
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <img class="posc-vineta-1" src="../resources/img/chulo.PNG"/>
                                                            <span>
                                                                Adicionalmente, con Leasing Habitacional:
                                                            </span>
                                                            <br></br>
                                                            <br></br>
                                                            <ul class="vinetas-azul">
                                                                <li>

                                                                    <span>Tienes la aprobación del contrato de Leasing Habitacional antes de elegir la vivienda</span>
                                                                </li>
                                                                <li>

                                                                    <span>Tienes la posibilidad de ceder tu posición como locatario en el contrato de Leasing Habitacional, previa aprobación del Banco, una vez el inmueble se encuentre a nombre de BBVA, sin incurrir en gastos de escrituración, notariado y registro. No obstante, debe tenerse en cuenta que en este caso se pierde el beneficio otorgado por el Gobierno Nacional. </span>
                                                                </li>
                                                            </ul>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="listaInt" class="col-lg-7 hipotecas-blanco">

                                            <div class="ajuste-hipotecario-text">

                                                <h2 class="h2Title3">Características</h2>

                                                <!-- desktop -->
                                                <div class="desktop">

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/dinero.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <div class="margin-caracteristicas2">
                                                                <h4 class="h4Title mov">Valor del Inmueble
                                                                    <!-- <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Las siglas 'VIS' corresponden a Vivienda de Interés Social, es decir, que su valor comercial es menor a 135 Salarios Mínimos Mensuales Legales Vigentes.">
                                                                        <img src="../resources/img/iconoi.png" />
                                                                    </a>-->
                                                                </h4>
                                                                <span id="text">Mayor a 135 SMMLV y Hasta 335 SMMLV.</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/dineroP.png"/>
                                                        <div class="margin-caracteristicas2">
                                                            <div class="paddWhiteColumn">
                                                                <h4 class="h4Title mov">Porcentaje máximo a financiar</h4>
                                                                <span id="text"> Para Hipotecario: <strong>70% del menor valor</strong> entre el avalúo comercial<a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Valor comercial que se le da a un inmueble, realizado por una empresa valuadora especializada y autorizada por BBVA."><img src="../resources/img/iconoi.png" /></a> y el valor de la compraventa establecido en la promesa.</span> <br></br><br></br>
                                                                <span id="text"> Para Leasing habitacional: El <strong>85% del menor valor</strong> entre el entre avalúo comercial<a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Valor comercial que se le da a un inmueble, realizado por una empresa valuadora especializada y autorizada por BBVA."><img src="../resources/img/iconoi.png" /></a> y la promesa de compraventa. Si el inmueble se encuentra en un proyecto financiado por BBVA, el porcentaje máximo a financiar es el 90% sobre el menor valor entre avalúo comercial y la promesa de compraventa.</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/text.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <div class="margin-caracteristicas2">
                                                                <h4 class="h4Title mov">Valor mínimo a solicitar</h4>
                                                                <span id="text">Para Hipotecario: Desde quince millones ($15.000.000).</span> <br></br><br></br>
                                                                <span id="text">Para Leasing habitacional: Desde cincuenta millones ($50.000.000).</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/cal.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <div class="margin-caracteristicas2">
                                                                <h4 class="h4Title mov">Plazo del préstamo</h4>
                                                                <span id="text">Desde 5 y hasta 20 años.</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row margenes">
                                                        <img style="float: left" src="../resources/img/Iconos/porc.png"/>
                                                        <div class="paddWhiteColumn">
                                                            <div class="margin-caracteristicas2">
                                                                <h4 class="h4Title mov">Plan de amortización <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Número de cuotas a pagar por tu crédito al año.">
                                                                        <img src="../resources/img/iconoi.png" />
                                                                    </a></h4>
                                                                <span id="text">12 cuotas al año.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End desktop -->


                                                <div id="textCaracteristicas">
                                                    <h4 class="h4Title">Sistema de Amortización</h4>
                                                    <p><strong>Cuota constante en pesos:</strong> Es un sistema en que la cuota mensual es fija en pesos por todo el plazo del crédito, en consecuencia las cuotas no varían durante la vigencia de la obligación (a dicha cuota se le adicionan los seguros). Bajo este sistema el saldo de la deuda disminuye desde el primer pago, pero en menor proporción debido a que el abono a capital es menor.</p>

                                                    <h4 class="h4Title">Tasa de interés</h4>
                                                    <p>La tasa de interés es fija durante la vigencia del crédito. La tasa aplicada es la indicada al momento del desembolso, la cual es personalizada después de estudiar la información que nos suministres de acuerdo a políticas de BBVA.</p>

                                                    <h4 class="h4Title">Restricción a la Primera Cuota</h4>
                                                    <p>La primera cuota del préstamo no podrá superar el 30% del total de los ingresos personales o familiares.</p>

                                                    <h4 class="h4Title">Seguros vinculados al crédito</h4>
                                                    <p>Seguro de vida deudores. <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Por ley, todos los préstamos deben ser respaldados con un seguro de vida que cancele la deuda en caso de muerte o incapacidad total y permanente del deudor.">
                                                            <img src="../resources/img/iconoi.png" />
                                                        </a></p>
                                                    <p>Seguro de incendio y terremoto. <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Por ley, los créditos de vivienda deben cubrir el inmueble mediante un seguro el cual responderá en caso de incendio o terremoto.">
                                                            <img src="../resources/img/iconoi.png" />
                                                        </a></p>

                                                    <h4 class="h4Title">Garantías requeridas</h4>
                                                    <p>Para Hipotecario: Hipoteca abierta y sin límite de cuantía en primer grado<a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Es de primer grado la hipoteca cuya fecha de inscripción en la Oficina de Registro e Instrumentos Públicos, sea más antigua. Por tanto, la vivienda financiada no debe poseer otra hipoteca vigente.">
                                                            <img src="../resources/img/iconoi.png" />
                                                        </a> a favor de BBVA y firma de pagaré de los deudores.</p>
                                                    <p>Para Leasing Habitacional: Firma de Contrato de Leasing Habitacional y firma de pagaré por los locatarios.</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div id="listaInt-dos" style="display: none" class="col-lg-7 hipotecas-blanco"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Pestana blanca fin-->
                        <div class="desktop">
                            <div class="container">
                                <div id="pestDown" class="row">
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-7 hipotecas-blanco pestInf"></div>
                                </div>
                            </div>
                        </div>


                        <div class="desktop">
                            <div class="row margenes2">

                                <h2 class="h2Title text-center">Requisitos para solicitar tu crédito de Vivienda</h2>

                                <div class="container">
                                    <div class="col-md-6 padding-requisitos">
                                        <p class="hipotecas-fin-texto4">
                                            Para solicitar un crédito hipotecario o Leasing Habitacional con cobertura Mi Casa Ya No VIS, es necesario que cumplas con el siguiente perfil:
                                        </p>

                                        <ul class="hipotecas-fin-texto2">
                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/chuloBlanco.PNG"/>
                                                <span>
                                                    Este producto está dirigido a personas entre los 18 y 74 años de edad con ingresos mensuales. Adicionalmente, por políticas de BBVA, la edad del mayor de los solicitantes más el plazo del crédito no puede ser superior a 90 años.
                                                </span>
                                            </li>

                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/chuloBlanco.PNG"/>
                                                <span>
                                                    El programa no tiene restricción de ingresos o patrimonio del solicitante.
                                                </span>
                                            </li>

                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/chuloBlanco.PNG"/>
                                                <span>
                                                    Financiación exclusiva para comprar vivienda nueva urbana en Colombia, siempre y cuando su valor se encuentre dentro de los rangos establecidos por el Gobierno Nacional. Se entiende por vivienda nueva, todo inmueble que se encuentre en proyecto, en etapa de preventa, construcción, o que estando terminado no haya sido habitado.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <p class="hipotecas-fin-texto4">
                                            Para solicitarlo, es necesario que hagas entrega de los siguientes documentos a tu Asesor Comercial asignado:
                                        </p>

                                        <ul class="hipotecas-fin-texto2">
                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/periodico.png"/>
                                                <span>
                                                    Formulario de vinculación y contratación de productos Persona Natural.
                                                </span>
                                            </li>

                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/periodico.png"/>
                                                <span>
                                                    Fotocopia de la cédula de ciudadanía ampliada al 150%.
                                                </span>
                                            </li>

                                            <li>
                                                <img class="posc-vineta-1" src="../resources/img/periodico.png"/>
                                                <span>
                                                    Documentos soporte de tus ingresos individuales o familiares de acuerdo a la actividad económica.								
                                                </span>
                                            </li>
                                            <a href="productos#3" style="font-size: 14px;">Ver detalle de documentos ></a>
                                            <br></br>
                                            <br></br>
                                        </ul>
                                        <p class="hipotecas-fin-texto6">
                                            Tu asesor comercial te informará si es necesario adicionar algún otro documento para el estudio de crédito.
                                        </p>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 espacio-info">
                                            <p class="hipotecas-fin-texto2">
                                                <strong>Ninguno de los solicitantes de crédito puede haber sido beneficiario, a cualquier título, de alguna cobertura a la tasa de interés en el pasado. El cliente debe dejar manifestada la intención de recibir la cobertura mediante firma de formato de solicitud de acceso a la misma.</strong>
                                            </p>
                                            <p class="hipotecas-fin-texto2">
                                                <strong>El programa Mi Casa Ya No VIS está vigente hasta el 31 de diciembre de 2017 o hasta agotamiento de cupos, lo que ocurra primero. El acceso a una cobertura, inclusive una vez solicitada, se encuentra sujeto a que en el momento del desembolso o al inicio del contrato de leasing no se hayan agotado los cupos disponibles.</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="container background-blue-opacity">
                                    <div class="row espacio-recuerda">
                                        <div class="col-md-6 padding-recuerda">
                                            <img src="../resources/img/libreta1.PNG"/>
                                            <h2 class="h2Title3">
                                                ¡Recuerda!
                                            </h2>
                                            <p class="hipotecas-fin-texto4">Las causales que ocasionan la pérdida de tu cobertura son las siguientes:</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <ul class="hipotecas-fin-texto2">
                                                <li>
                                                    <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                    <span>
                                                        Por pago anticipado del crédito o hacer uso de la opción de compra tratándose de contratos de leasing habitacional.
                                                    </span>
                                                </li>
                                                <li>
                                                    <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                    <span>
                                                        Por mora en el pago de tres cuotas o cánones consecutivos a cargo del  deudor o locatario en leasing habitacional. En este caso la cobertura se perderá a partir del día siguiente del vencimiento de la última cuota o canon  incumplido.
                                                    </span>
                                                </li>
                                                <li>
                                                    <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                    <span>
                                                        Por petición del deudor o locatario.
                                                    </span>
                                                </li>
                                                <li>
                                                    <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                    <span>
                                                        Por cesión del crédito por parte del deudor*.
                                                    </span>
                                                </li>
                                                <li>
                                                    <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                    <span>
                                                        Por cesión del contrato de leasing habitacional, por parte del locatario.
                                                    </span>
                                                </li>
                                                <li>
                                                    <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                    <span>
                                                        Por reestructuración del crédito o del contrato de leasing habitacional que implique el incremento de los montos o saldos de las obligaciones o ampliación de los plazos de los créditos o contratos.
                                                    </span>
                                                </li>
                                                <li>
                                                    <img class="posc-vineta-1" src="../resources/img/equis1.png"/>
                                                    <span>
                                                        Por aceleración del plazo conforme a los términos contractuales.
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Mobile-->
            <div class="mobile">
                <footer class="body-footer">
                    <div class="footer-menu" style="border: none; margin-bottom: 55px">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="menu-trigger" data-target="#contacto-submenuA" style="background-color:#0059b0; border:0px; font-size:20px ">Beneficios</div>
                                    <div id="contacto-submenuA">
                                        <div>
                                            <div style="background-color: #0059AF; padding: 25px 0px 25px 0px" class="texto-destacado-regular">
                                                <ul class="paddSide">
                                                    <li class="option">
                                                        <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                        <div class="light-color-white poscTextLista">
                                                            <span class="light-color-white">
                                                                El Gobierno Nacional cubre 2.5 puntos porcentuales de la tasa de interés de tu crédito durante los 7 primeros años de vida del mismo, si cumples con las condiciones para acceder a la cobertura. Aplica tanto para crédito hipotecario como para Leasing Habitacional.
                                                            </span>
                                                        </div>
                                                    </li>

                                                    <li class="option">
                                                        <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                        <div class="light-color-white poscTextLista">
                                                            <span class="light-color-white">
                                                                Puedes elegir el día del mes en que deseas pagar la couta de tu crédito.
                                                            </span>
                                                        </div>
                                                    </li>

                                                    <li class="option">
                                                        <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                        <div class="light-color-white poscTextLista">
                                                            <span class="light-color-white">
                                                                BBVA permite la consolidación de ingresos familiares entre cónyuges, padres con hijos solteros y entre hermanos solteros con el fin de generar mayor capacidad de pago.
                                                            </span>
                                                        </div>
                                                    </li>

                                                    <li class="option">
                                                        <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                        <div class="light-color-white poscTextLista">
                                                            <span class="light-color-white">
                                                                Cuentas con 180 días para el desembolso de tu crédito de vivienda desde su aprobación. Vencido ese plazo, deberás actualizar la documentación presentada para una nueva aprobación.
                                                            </span>
                                                        </div>
                                                    </li>

                                                    <li class="option">
                                                        <img class="poscVineta5" src="../resources/img/chulo.PNG"/>
                                                        <div class="light-color-white poscTextLista">
                                                            <span class="light-color-white">
                                                                Adicionalmente, con Leasing Habitacional:
                                                            </span>
                                                        </div>
                                                        <ul>
                                                            <li>
                                                                <img class="poscVineta4" src="../resources/img/chulo.PNG"/>
                                                                <span class="light-color-white">Tienes la aprobación del contrato de Leasing Habitacional antes de elegir la vivienda</span>
                                                            </li>
                                                            <li>
                                                                <img class="poscVineta4" src="../resources/img/chulo.PNG"/>
                                                                <span class="light-color-white">Tienes la posibilidad de ceder tu posición como locatario en el contrato de Leasing Habitacional, previa aprobación del Banco, una vez el inmueble se encuentre a nombre de BBVA, sin incurrir en gastos de escrituración, notariado y registro. No obstante, debe tenerse en cuenta que en este caso se pierde el beneficio otorgado por el Gobierno Nacional. </span>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="menu-trigger arrow-down" data-target="#informacion-corporativa-submenuD" style="background-color:#fff; color: #0059b0; border:0px; font-size:20px; border-bottom: 1px solid lightgray ">Características</div>
                                    <div id="informacion-corporativa-submenuD">
                                        <div class="contAcordmobileWhite">

                                            <!--Carrusel Movil-->
                                            <div class="col-md-4">
                                                <table>
                                                    <tr>
                                                        <td style="height: 220px;vertical-align: top; background: white;">
                                                            <!-- Carousel
                                                            ================================================== -->
                                                            <div id="myCarousel" class="carousel slide">

                                                                <div class="carousel-inner">
                                                                    <div class="item active" style="text-align: center;">
                                                                        <!-- imagenes carrusel mobile -->
                                                                        <div class="row">
                                                                            <div>
                                                                                <img src="../resources/img/Iconos/dinero.png" alt="Slide1"/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Valor del Inmueble
                                                                                <!-- <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua">
                                                                                    <img src="../resources/img/iconoi.png" />
                                                                                </a>-->
                                                                            </h4>
                                                                            <span id="text">Mayor a 135 SMMLV y Hasta 335 SMMLV.</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/dineroP.png" alt="Slide2"/>
                                                                        </div>

                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Porcentaje máximo a financiar</h4>
                                                                            <span id="text"> Para Hipotecario: <strong>70% del menor valor</strong> entre el avalúo comercial<a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Valor comercial que se le da a un inmueble, realizado por una empresa valuadora especializada y autorizada por BBVA."><img src="../resources/img/iconoi.png" /></a> y el valor de la compraventa establecido en la promesa.</span> <br></br><br></br>
                                                                            <span id="text"> Para Leasing habitacional: El <strong>85% del menor valor</strong> entre el entre avalúo comercial<a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Valor comercial que se le da a un inmueble, realizado por una empresa valuadora especializada y autorizada por BBVA."><img src="../resources/img/iconoi.png" /></a> y la promesa de compraventa. Si el inmueble se encuentra en un proyecto financiado por BBVA, el porcentaje máximo a financiar es el 90% sobre el menor valor entre avalúo comercial y la promesa de compraventa. </span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/text.png" alt="Slide3"/>
                                                                        </div>
                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Valor mínimo a solicitar</h4>
                                                                            <span id="text">Para Hipotecario: Desde quince millones ($15.000.000).</span> <br></br><br></br>
                                                                            <span id="text">
                                                                                Para Leasing habitacional: Desde cincuenta millones ($50.000.000).</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/cal.png" alt="Slide4"/>
                                                                        </div>
                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Plazo del préstamo</h4>
                                                                            <span id="text">Desde 5 y hasta 20 años.</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="item" style="text-align: center;">
                                                                        <div class="row">
                                                                            <img src="../resources/img/Iconos/porc.png" alt="Slide5"/>
                                                                        </div>

                                                                        <div class="caption" style="margin-top: 25px;">
                                                                            <h4 class="h4Title">Plan de amortización
                                                                                <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua">
                                                                                    <img src="../resources/img/iconoi.png" />
                                                                                </a>
                                                                            </h4>
                                                                            <span id="text">12 cuotas al año.</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- End Carousel -->
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="background: white;">
                                                            <!-- Indicators -->
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col-lg-12 text-center" style="padding-left: 30px;">
                                                                        <ol class="carousel-indicators" style="height: 40px;width: 100%; background: white;">
                                                                            <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
                                                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                                                            <li data-target="#myCarousel" data-slide-to="4"></li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!--Fin Carrusel Movil-->

                                            <div id="textCaracteristicas">
                                                <h4 class="h4Title">Sistema de Amortización</h4>
                                                <p><strong>Cuota constante en pesos:</strong> Es un sistema en que la cuota mensual es fija en pesos por todo el plazo del crédito, en consecuencia las cuotas no varían durante la vigencia de la obligación (a dicha cuota se le adicionan los seguros). Bajo este sistema el saldo de la deuda disminuye desde el primer pago, pero en menor proporción debido a que el abono a capital es menor.</p>

                                                <h4 class="h4Title">Tasa de interés</h4>
                                                <p>La tasa de interés es fija durante la vigencia del crédito. La tasa aplicada es la indicada al momento del desembolso, la cual es personalizada después de estudiar la información que nos suministres de acuerdo a políticas de BBVA.</p>

                                                <h4 class="h4Title">Restricción a la Primera Cuota</h4>
                                                <p>La primera cuota del préstamo no podrá superar el 30% del total de los ingresos personales o familiares.</p>

                                                <h4 class="h4Title">Seguros vinculados al crédito</h4>
                                                <p>Seguro de vida deudores. <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Por ley, todos los préstamos deben ser respaldados con un seguro de vida que cancele la deuda en caso de muerte o incapacidad total y permanente del deudor.">
                                                        <img src="../resources/img/iconoi.png" />
                                                    </a></p>
                                                <p>Seguro de incendio y terremoto. <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Por ley, los créditos de vivienda deben cubrir el inmueble mediante un seguro el cual responderá en caso de incendio o terremoto.">
                                                        <img src="../resources/img/iconoi.png" />
                                                    </a></p>

                                                <h4 class="h4Title">Garantías requeridas</h4>
                                                <p>Para Hipotecario: Hipoteca abierta y sin límite de cuantía en primer grado<a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Es de primer grado la hipoteca cuya fecha de inscripción en la Oficina de Registro e Instrumentos Públicos, sea más antigua. Por tanto, la vivienda financiada no debe poseer otra hipoteca vigente.">
                                                        <img src="../resources/img/iconoi.png" />
                                                    </a> a favor de BBVA y firma de pagaré de los deudores.</p>
                                                <p>Para Leasing Habitacional: Firma de Contrato de Leasing Habitacional y firma de pagaré por los locatarios.</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="menu-trigger" data-target="#informacion-general-submenuE" style="background-color:#fff; color: #0059b0; border:0px; font-size:20px; border-bottom: 1px solid lightgrey">Requisitos para solicitar tu crédito hipotecario</div>
                                    <div id="informacion-general-submenuE">
                                        <div class="contAcordmobileWhite">
                                            <div class="col-lg-6 col-md-6">
                                                <p class="hipotecas-fin-texto4">
                                                    Para solicitarlo, es necesario que hagas entrega de los siguientes documentos a tu Asesor Comercial asignado: 
                                                </p>

                                                <ul class="hipotecas-fin-texto2">
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                        <span>
                                                            Este producto está dirigido a personas entre los 18 y 74 años de edad con ingresos mensuales. Adicionalmente, por políticas de BBVA, la edad del mayor de los solicitantes más el plazo del crédito no puede ser superior a 90 años.
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                        <span>
                                                            El programa no tiene restricción de ingresos o patrimonio del solicitante.
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                        <span>
                                                            Financiación exclusiva para comprar vivienda nueva urbana en Colombia, siempre y cuando su valor se encuentre dentro de los rangos establecidos por el Gobierno Nacional. Se entiende por vivienda nueva, todo inmueble que se encuentre en proyecto, en etapa de preventa, construcción, o que estando terminado no haya sido habitado.
                                                        </span>
                                                    </li>


                                                    <!-- <li>
                                                         <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                         <span>
                                                             Por políticas de BBVA, la edad del mayor de los titulares más el plazo del crédito no puede ser superior a 90 años.
                                                         </span>
                                                     </li>
                                                     <li>
                                                         <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                         <span>
                                                             No haber sido beneficiario a cualquier titulo de los programas del gobierno de cobertura a la tasa de interés.
                                                         </span>
                                                     </li>
                                                     <li>
                                                         <img class="poscVineta2" src="../resources/img/chuloBlanco.PNG"/>
                                                         <span>
                                                             Manifestar por escritor el interés de recibir el beneficio antes del desembolso del crédito.
                                                         </span>
                                                     </li>-->
                                                </ul>

                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <p class="hipotecas-fin-texto4">
                                                    Para solicitarlo, es necesario que hagas entrega de los siguientes documentos a tu Asesor Comercial asignado:
                                                </p>

                                                <ul class="hipotecas-fin-texto2">
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/periodico.png"/>
                                                        <span>
                                                            Formulario de vinculación y contratación de productos Persona Natural.
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/periodico.png"/>
                                                        <span>
                                                            Fotocopia de la cédula de ciudadanía ampliada al 150%.
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/periodico.png"/>
                                                        <span>
                                                            Documentos soporte de tus ingresos individuales o familiares de acuerdo a la actividad económica.
                                                        </span>
                                                    </li>
                                                    <a href="productos#3" style="font-size: 14px;">Ver detalle de documentos ></a>
                                                    <br></br>
                                                    <br></br>
                                                </ul>
                                                <p class="hipotecas-fin-texto6">
                                                    Tu asesor comercial te informará si es necesario adicionar algún otro documento para el estudio de crédito.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="">
                                            <div class="row contAcordmobileWhite2">
                                                <div class="col-lg-12">
                                                    <p class="hipotecas-fin-texto6">
                                                        <strong>Ninguno de los solicitantes de crédito puede haber sido beneficiario de alguna cobertura a la tasa de interés en el pasado.  El cliente debe dejar manifestada la intensión de recibir la cobertura mediante firma de formato de solicitud de acceso a la misma.</strong>
                                                    </p>
                                                    <p class="hipotecas-fin-texto6">
                                                        <strong>El programa Mi Casa Ya No VIS está vigente hasta el 31 de diciembre de 2017 o hasta agotamiento de cupos, lo que ocurra primero. El acceso a una cobertura, inclusive una vez solicitada, se encuentra sujeto a que en el momento del desembolso o al inicio del contrato de leasing no se hayan agotado los cupos disponibles. </strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="menu-trigger" data-target="#informacion-general-submenuR" style="background-color:#fff; color: #0059b0; border:0px; font-size:20px; border-bottom: 1px solid lightgrey">¡Recuerda!</div>
                                    <div id="informacion-general-submenuR">
                                        <div class="contAcordmobileWhite">
                                            <div class="col-lg-6 col-md-6">
                                                <p class="hipotecas-fin-texto4">Las causales que ocasionan la pérdida de tu cobertura son las siguientes:</p>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="hipotecas-fin-texto2">
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Por pago anticipado del crédito o hacer uso de la opción de compra tratándose de contratos de leasing habitacional.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Por mora en el pago de tres cuotas o cánones consecutivos a cargo del  deudor o locatario en leasing habitacional. En este caso la cobertura se perderá a partir del día siguiente del vencimiento de la última cuota o canon  incumplido.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Por petición del deudor o locatario.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Por cesión del crédito por parte del deudor*.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Por cesión del contrato de leasing habitacional, por parte del locatario.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Por reestructuración del crédito o del contrato de leasing habitacional que implique el incremento de los montos o saldos de las obligaciones o ampliación de los plazos de los créditos o contratos.
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img class="poscVineta2" src="../resources/img/equis1.png"/>
                                                        <span>
                                                            Por aceleración del plazo conforme a los términos contractuales.
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- fin mobile-->


            <!--Botones-->

            <div class="row text-center">
                <div class="container">
                    <div class="btn-group btn-group-justified">
                        <div class="col-lg-12 clearfix">
                            <button type="button" class="btn header-btn btn success boton" style="margin:0px">Calcula y solicita ya tu crédito</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div id="norma" class="col-lg-6 col-lg-offset-3 text-center">
                        *La cobertura se mantendrá vigente en los casos de cesión, venta o enajenación de la cartera con cobertura, entre establecimientos de crédito, y en los procesos derivados de titularización de cartera con cobertura.
                    </div>
                </div>
            </div>

            <div id="lineRow"></div>

            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery-1.12.0.min.js"/>
            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/bootstrap.min.js"/>


            <!-- Fin Contenido -->
        </h:form>
    </ui:define>
</ui:composition>