<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard-bread.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <div class="simulador-margen">
        <div class="titulo-simulador-com">
            <div class="col-lg-6 clearfix" style="text-align: left">
                <div class="titulo-simulacion texto-aling-home">Quiero</div>
                <div class="titulo-simulacion select-aling-home">
                    <p:selectOneMenu  
                        valueChangeListener="#{SimuladorPasoAPaso.changeOptionsQuiero}"
                        value="#{loanSimulation.birthDate}" 
                        id="quieroSelect" autoWidth="false" 
                        style="padding-right: 0px !important; border: 0 solid #dde3ea; border-top-right-radius: 0; border-top-left-radius: 0; width: 247%;" 
                        styleClass="selectOneMenuHome" >
                        <f:selectItems value="#{SimuladorPasoAPaso.optionQuiero}" />
                        <!--  <p:ajax process="@this" update="conSelect" />-->
                    </p:selectOneMenu>
                </div>
            </div>	

            <div class="col-lg-6 clearfix" style="text-align: right;">
                <div class="titulo-simulacion texto-aling-home">con&nbsp;un</div>
                <div class="titulo-simulacion select-aling-home">
                    <p:selectOneMenu value="#{SimuladorPasoAPaso.con}" id="conSelect" autoWidth="false" style="padding-right: 0px !important; border: 0 solid #dde3ea; border-top-right-radius: 0; border-top-left-radius: 0;  width: 226%;"  styleClass="selectOneMenuHome" name="tipo">
                        <f:selectItems value="#{SimuladorPasoAPaso.optionCon}" />
                    </p:selectOneMenu>
                </div>
            </div>
        </div>

        <div class="texto-simulador-com-uno">
            <div class="col-lg-6 clearfix">
                <div class="texto-prgunta">
                    <div class="texto-slider">
                        ¿Cuánto cuesta la vivienda? 0987
                        <div class="contenedor-img-tool-sim">
                            <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua">
                                <img class="imagen-texto-slider-com" src="../resources/iconos/pregunta.png" />
                            </a>
                        </div>
                    </div>
                    <h:inputHidden id="valorViviendaHidden" value="#{SimuladorPasoAPaso.valorVivienda}" />
                    <p:slider  styleClass="selectPrime" minValue="#{msg['vivminpreciocasa']}" maxValue="#{msg['vivmaxpreciocasa']}" for="valorViviendaHidden" display="valorViviendaDisplay" style="width: 87%" displayTemplate="{value}">
                        <p:ajax event="slideEnd" listener="#{SimuladorPasoAPaso.eventValorVivienda}" update="valorViviendaDisplay" />
                    </p:slider>
                    <div class="texto-slider-valor-sim">
                        <div class="delineado-div">
                            <h:outputText  id="valorViviendaDisplay" value="#{SimuladorPasoAPaso.stringValorVivienda}"/>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 clearfix">
                <div class="texto-prgunta">
                    <div class="texto-slider">
                        ¿Cuánto son tus ingresos mensuales?
                        <div class="contenedor-img-tool-sim">
                            <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua">
                                <img class="imagen-texto-slider-com" src="../resources/iconos/pregunta.png" />
                            </a>
                        </div>
                    </div>
                    <h:inputHidden id="valorIngresosHidden" value="#{SimuladorPasoAPaso.ingMensuales}" />
                    <p:slider styleClass="selectPrime" minValue="#{msg['vivminingresos']}" maxValue="#{msg['vivmaxegresos']}" for="valorIngresosHidden" display="valorIngresosDisplay" style="width: 87%" displayTemplate="$ {value}">
                        <p:ajax event="slideEnd" listener="#{SimuladorPasoAPaso.eventIngMensuales}" update="valorIngresosDisplay" />
                    </p:slider>
                    <div class="texto-slider-valor-sim">
                        <div class="delineado-div">
                            <h:outputText id="valorIngresosDisplay" value="#{SimuladorPasoAPaso.stringIngMensuales}" />
                        </div>

                    </div>
                </div>
            </div>	
        </div>


        <div class="texto-simulador-com-dos">
            <div class="col-lg-6 clearfix">
                <div class="texto-prgunta">
                    <div class="texto-slider">
                        ¿Cuánto dinero necesitas?
                        <div class="contenedor-img-tool-sim">
                            <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua">
                                <img class="imagen-texto-slider-com" src="../resources/iconos/pregunta.png" />
                            </a>
                        </div>
                    </div>
                    <h:inputHidden id="valorSolicitadoHidden" value="#{SimuladorPasoAPaso.valorCredito}" />
                    <p:slider rendered="true" styleClass="selectPrime" minValue="#{msg['vivminvalorcasa']}" maxValue="#{msg['vivmaxvalorcasa']}" for="valorSolicitadoHidden" display="valorSolicitadoDisplay" style="width: 87%" displayTemplate="$ {value}" >
                        <p:ajax event="slideEnd" listener="#{SimuladorPasoAPaso.eventValorCredito}" update="valorSolicitadoDisplay" />
                    </p:slider>
                    <div class="texto-slider-valor-sim">
                        <div class="delineado-div">
                            <h:outputText id="valorSolicitadoDisplay" value="#{SimuladorPasoAPaso.stringValorCredito}" />

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 clearfix">
                <div class="texto-prgunta"> 
                    <div class="texto-slider">
                        ¿En cuánto años quieres pagar?
                        <div class="contenedor-img-tool-sim">
                            <a class="tooltipSimulacion animate" href="javascript:void(0)" data-tool="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua">
                                <img class="imagen-texto-slider-com" src="../resources/iconos/pregunta.png" />
                            </a>
                        </div>
                    </div>
                    <h:inputHidden id="anoHidden" value="#{SimuladorPasoAPaso.anosCredito}" />
                    <p:slider  styleClass="selectPrime" minValue="#{msg['vivminanocasa']}" maxValue="#{msg['vivmaxanocasa']}"  for="anoHidden" display="anoDisplay" style="width: 87%"  displayTemplate="{value} Años" />
                    <div class="texto-slider-valor-sim">

                        <div class="delineado-div">
                            <h:outputText  id="anoDisplay" value="#{msg['vivminanocasa']} Años" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="texto-simulador-com-tres">
            <div class="col-lg-6 clearfix" style="text-align: left;">
                <div class="texto-prgunta">
                    <div class="texto-valor-cuota">
                        Valor aproximado de la cuota:
                    </div>
                    <div class="valor-cuota">
                        <b>$1.250.000</b>
                    </div>
                </div>		
            </div>
            <div class="col-lg-6 clearfix" style="display: ">
                <div class="texto-prgunta" style="text-align: center;">
                    <a href="javascript:void(0)" onclick="changeUpStep()" class="btn_viv" target="">Completa tu simulación</a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12 clearfix texto-simulador-com-cuatro">
        <div class="col-lg-2 clearfix texto-centrado-titulo texto-simulador-centrado"> 
            Ten en cuenta 
        </div>

        <div class="col-lg-10 clearfix texto-vinetas"> 
            <ul>
                <li>Para vivienda de interés social se presta hasta un 80% del valor de la vivienda y para vivienda superior a interés social (No VIS) hasta un 70%</li>
                <li>La primera cuota no deberá superar el 30% de los ingresos totales de los solicitantes.</li>
                <li>El sistema de amortización en UVR y pesos aplica para vivienda superior a interés social (No VIS).</li>
                <li>La vivienda debe estar asegurada contra todo riego de incendio y terremotos y cada uno de los solicitantes debe tomar un seguro de vida.</li>
            </ul>
        </div>
    </div>


</ui:composition>