<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/layouts/standard-bread.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content-b">
        <h:form>

            <div class="row hipotecas-azul">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 hipotecas-azul">
                            <div class="padding text-center">
                                <h1 style="color: #fff; font-family: BBVA Web Light">¿Cómo te podemos ayudar en BBVA vivienda on-line?</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-sm-9 col-sm-offset-2">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control hipotecas-fin-texto2"  placeholder="Escribe las palabras relacionadas al tema que buscas"/>
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Acordeon-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12" id="main" style="margin-top: 35px;">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size: 22px;">
                                        ¿Que debo considerar sobre el contrato de compraventa?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body" style="border-bottom: 1px solid #ddd;border-top: 0px solid white;">
                                    <p class="hipotecas-fin-texto2 altoLinea">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis nunc, posuere vestibulum arcu non, ultricies imperdiet felis. Mauris ornare lacus lorem, vitae facilisis risus pulvinar blandit. Vestibulum scelerisque rhoncus tortor in gravida. Donec malesuada libero id porttitor molestie. Nullam maximus congue arcu, eu bibendum lacus venenatis ut. Integer fermentum elementum tristique. Cras ut tortor ex. Nunc aliquet quam eros, sed pharetra est venenatis et. Mauris sit amet nisl nec urna viverra fringilla eu sed nunc.</p>
                                    <p class="hipotecas-fin-texto2 altoLinea">Curabitur aliquet pellentesque risus, non suscipit neque tempus at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam lobortis porta nibh, sit amet suscipit est suscipit vitae. Praesent a lacinia tellus. Suspendisse placerat fermentum dolor, vitae gravida massa porttitor id. Suspendisse potenti. Quisque congue tellus nec scelerisque eleifend. Integer vehicula dapibus nunc non vehicula. Phasellus arcu augue, consequat eget feugiat et, convallis at dui. Sed auctor turpis non convallis finibus. Morbi ornare justo aliquet lacus luctus, sed maximus nibh venenatis. Nullam sodales blandit nisi id tincidunt.</p>

                                    <div class="col-lg-12 row-simulador">
                                        <div class="row-componentes">
                                            <div class="col-lg-4">
                                                <div class="texto-simulador-paso">
                                                    ¿Te resultó útil esta ayuda?
                                                </div>
                                           </div>

                                            <div class="col-lg-4">
                                                <div class="componente-simulador-paso">
                                                    <p:selectOneRadio value="#{SimuladorPasoAPaso.gobierno}" id="gobierno" styleClass="radio-decision">
                                                        <f:selectItem itemValue="Si"/>
                                                        <f:selectItem itemValue="No" />
                                                    </p:selectOneRadio>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="componente-simulador-paso">
                                                    <p>Imagenes de redes sociales</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="font-size: 22px;">
                                        ¿Por qué la mejor tasa actual no es necesariamente el mejor crédito?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body" style="border-bottom: 1px solid #ddd;border-top: 0px solid white;">
                                    <p class="hipotecas-fin-texto2 altoLinea">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                    <p class="hipotecas-fin-texto2 altoLinea">Praesent est mauris, malesuada sagittis mi vel, ultricies molestie nibh. Nullam gravida luctus nibh, vitae vulputate lectus aliquam pellentesque. Ut sagittis sem at nisi congue placerat vel vitae lorem. Etiam justo arcu, pulvinar et finibus sed, malesuada et mi. Maecenas auctor sed ex sed porta. Quisque mattis risus ut sem malesuada consectetur. Integer euismod velit luctus orci hendrerit interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque ac sodales sem.</p>
                                </div>
                            </div>


                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="font-size: 22px;">
                                        ¿Qué es el factor de pago por mil?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body" style="border-bottom: 1px solid #ddd;border-top: 0px solid white;">
                                    <p class="hipotecas-fin-texto2 altoLinea">Curabitur facilisis quis metus at pretium. Vivamus eget orci pulvinar, bibendum neque imperdiet, fringilla massa. Nam eu augue sed dolor faucibus vehicula. Phasellus et cursus massa, et condimentum enim. Etiam elementum orci nec tellus pharetra ullamcorper. Aliquam ultrices ligula quis mi lobortis fermentum. Ut laoreet elementum arcu, sed maximus mauris ornare quis. Mauris suscipit, lacus a tristique facilisis, odio leo feugiat mi, accumsan fermentum lorem libero nec lectus. In vulputate ultricies libero quis consectetur. Vestibulum fermentum vitae felis eu efficitur. Vestibulum auctor eros in ex ultrices tincidunt. Suspendisse ut nisl a nisi bibendum varius. Donec tristique diam odio. Fusce varius condimentum pretium. In semper tempor aliquam. Morbi viverra orci magna, eu consectetur dui mollis id.</p>
                                    <p class="hipotecas-fin-texto2 altoLinea">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--Fin Acordeon-->


            <div id="lineRow"></div>

            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery-1.12.0.min.js"/>
            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/bootstrap.min.js"/>


            <!-- Fin Contenido -->
        </h:form>
    </ui:define>
</ui:composition>